<div class="row">
	<div class="categories span3">
		<div class="inner-container clearfix">
		<h6>Categories</h6>
		<ul>
		    <li><a href="/arts/culture/">LA Culture</a></li>
		    <li><a href="/arts/film/">Film</a></li>
		    <li><a href="/arts/culture/">Living</a></li>	
		</ul>
		<ul class="right">
		    <li><a href="/arts/arts/">Arts</a></li>
		    <li><a href="/arts/music/">Music</a></li>	
		</ul>
		<ul class="content-types">
		    <!--
		    <li class="videos"><a href="/videos/">Videos</a></li>	
		    -->
		    <li><a href="/blogs/">Blogs</a></li>
		</ul>
		</div>
	</div>
	<div class="featured span4">
		<div class="inner-container clearfix">
		<h6>Latest Stories</h6>
		
		<% content_cache("mega_arts_latest") do %>
			<% register_content("contentbase:new") %>
			<ul>
			<% for c in get_latest_arts[0..1] do %>
				<li>
					<a href="<%= c.link_path %>">
					<%= render_asset(c,"thumb") %>
					<p><%= c.headline %></p>
					</a>
				</li>
			<% end %>
			</ul>
		<% end %>
		
		</div>
	</div>
	<div class="blogs span5">
		<div class="inner-container clearfix">
			<h6>From Our Blogs</h6>			
			<ul>
				<% content_cache("mega_arts_blogs") do %>
					<% register_content("blogs/entry:new") %>
					
					<% for e in @g_latest_blogs_arts.limit(4) do %>
						<li><p class="entry-title">
							<a href="<%= e.link_path %>">
								<%= e.headline %>
								<span class="blog-name"><%= e.blog.name %></span>
							</a>
						</p></li>
					<% end %>
				<% end %>

	    	</ul>
		</div>
	</div>
</div>