<div class="inner-container">
	<div class="row-fluid">
		<div class="span3">
			<div class="section programs">
				<h6>In this section</h6>
				<nav>
					<ul>
						<li><a href="<%= forum_events_path %>">The Crawford Family Forum</a></li>
					    <li><a href="<%= forum_directions_path %>">Directions &amp; Parking</a></li>	
					    <li><a href="<%= forum_space_path %>">Community Partnerships</a></li>
						<li><a href="<%= forum_events_archive_path %>">Past Events</a></li>
					    <li><a href="<%= forum_about_path %>">About Us</a></li>	
					</ul>
				</nav>
			</div> <!-- section -->
		</div> <!-- span -->
		<div class="span4">
			<div class="section">
				<%= render "shared/widgets/events_at_the_forum" %>
			</div>
		</div>
		<div class="span5">
			<div class="section last">
				<h6>Sponsored Events</h6>			
				<% content_cache("events:upcoming_sponsored") do %>
					<% register_content "events/event:new" %>
					<ul class="cbase">
						<% for e in @g_upcoming_events_sponsored.first(3) do %>
							<% register_content e %>
							<li>
								<h4><%= link_to e.title, e.link_path %></h4>
								<%= link_to format_date(e.starts_at, format: :event), e.link_path, class: "event-link" %>
								
							</li>
						<% end %>
			    	</ul>
				<% end %>
				<p class="more"><a href="<%= sponsored_events_path %>">View more events</a></p>
			</div> <!-- section -->
		</div> <!-- span -->
	</div> <!-- row fluid -->
</div> <!-- inner-container -->