<div class="inner-container">
  <div class="row-fluid">
    <div class="span6">
      <div class="section programs first">
        <h6>In this section</h6>
        <nav>
          <ul>
            <li><a href="<%= forum_events_path %>">The Crawford Family Forum</a></li>
            <li><a href="/events/forum/directions">Directions &amp; Parking</a></li>  
            <li><a href="/events/forum/space">Community Partnerships</a></li>
            <li><a href="<%= forum_events_archive_path %>">Past Events</a></li>
            <li><a href="/events/forum/about">About Us</a></li> 
          </ul>
        </nav>
      </div> <!-- section -->
    </div> <!-- span -->
    <div class="span8">
      <div class="section">
        <div class="featured">
          <%= render "shared/widgets/events_at_the_forum" %>
        </div>
      </div>
    </div>
    <div class="span10">
      <div class="section">
        <h6>Sponsored Events</h6>     
        <% content_cache("events:upcoming_sponsored") do %>
          <% register_content "events/event:new" %>
          <ul class="cbase">
            <% @g_upcoming_events_sponsored.first(3).each do |event| %>
              <% register_content event %>
              <li>
                <h4><%= link_to event.headline, event.link_path %></h4>
                <%= link_to format_date(event.starts_at, format: :event), event.link_path, class: "event-link" %>
              </li>
            <% end %>
            </ul>
        <% end %>
        <p class="more"><a href="<%= sponsored_events_path %>">View more events</a></p>
      </div> <!-- section -->
    </div> <!-- span -->
  </div> <!-- row fluid -->
</div> <!-- inner-container -->
