
<div class="row">
	<div class="categories events-nav span3">
		<div class="inner-container clearfix">
		<h6>The Crawford Family Forum</h6>
		<ul>
		    <li><a href="/events/forum/">Upcoming Events</a></li>
		    <li><a href="/events/forum/archive/">Past Events</a></li>
		    <li><a href="/forum/directions/">Directions to the Forum</a></li>	
		    <li><a href="/forum/space/">Partner With Us</a></li>
		    <li><a href="/forum/contact/">Contact the Forum</a></li>	
		</ul>
		</div>
	</div>
	<% content_cache("mega_events_upcoming") do %>
		<% register_content "events/event:new" %>
		<div class="events-forum span6">
			<div class="inner-container clearfix">
			<h6>Upcoming Crawford Family Forum Events</h6>
		
			<% for e in @g_upcoming_events_forum.first(2) %>
				<div class="events-content">
					<a href="<%= e.link_path %>">
					<%= render_asset e, "thumb" %>
					<p class="event-title"><%= e.title %></p>
					<p class="event-date"><%= e.starts_at.strftime("%B %d, %Y") %></p>
					</a>
				</div>
			<% end %>
		
			</div>
		</div>
		<div class="events-sponsored span3">
			<div class="inner-container clearfix">
				<h6>Sponsored Events</h6>			
				<ul>
					<% for e in @g_upcoming_events_sponsored.first(3) do %>
						<li>
							<p class="event-title"><%= link_to e.title, e.link_path %></p>
							<span class="event-date"><%= e.starts_at.strftime("%A, %B %-d") %></span>
						</li>
					<% end %>
		    	</ul>
				<p class="more"><a href="/events/sponsored/">View more events</a></p>
			</div>
		</div>
	<% end %>
</div>