<div class="row-fluid">
	<div class="categories events-nav span3">
		<div class="inner-container clearfix">
		<h6>In this section</h6>
		<ul>
			<li><a href="<%= forum_events_path %>">The Crawford Family Forum</a></li>
		    <li><a href="<%= forum_directions_path %>">Directions &amp; Parking</a></li>	
		    <li><a href="<%= forum_space_path %>">Community Partnerships</a></li>
			<li><a href="<%= forum_events_archive_path %>">Past Events</a></li>
		    <li><a href="<%= forum_about_path %>">About Us</a></li>	
		</ul>
		</div>
	</div>
	<div class="events-forum span6">
		<div class="inner-container clearfix">
		<h6>Upcoming Crawford Family Forum Events</h6>
		<%= render "shared/widgets/events_at_the_forum" %>
		</div>
	</div>
	<div class="events-sponsored span3">
		<div class="inner-container clearfix">
			<h6>Sponsored Events</h6>			
			<% content_cache("events:upcoming_sponsored") do %>
				<% register_content "events/event:new" %>
				<ul>
				<% for e in @g_upcoming_events_sponsored.first(3) do %>
					<% register_content e %>
					<li>
						<p class="event-title"><%= link_to e.title, e.link_path %></p>
						<span class="event-date"><%= e.starts_at.strftime("%A, %B %-d") %></span>
					</li>
				<% end %>
		    	</ul>
			<% end %>
			<p class="more"><a href="<%= sponsored_events_path %>">View more events</a></p>
		</div>
	</div>
</div>