<%= stylesheet_link_tag    "application", media: "all" %>
<%= stylesheet_link_tag "base/print", media: "print" %>
<%= javascript_include_tag "application" %>

<meta name="viewport" content="width=1160">
<script type="text/javascript">
$(function() { 
	compactNav = new scpr.CompactNav(); 
	
	if (navigator.userAgent.match(/MSIE 7/)) {
		$("body").addClass("ie7-fix");
	} 
	if (navigator.userAgent.match(/MSIE 8/)) {
		$("body").addClass("ie8-fix");
	}

	// Check for mobile
	 if( navigator.userAgent.match(/Android/i)
	 || navigator.userAgent.match(/webOS/i)
	 || navigator.userAgent.match(/iPhone/i)
	 || navigator.userAgent.match(/iPod/i)
	 || navigator.userAgent.match(/BlackBerry/i)
	 ){
		$("meta[name=viewport]").attr("content", "width=device-width, minimum-scale=1");
	 }

	});
</script>

<script type="text/javascript" src="http://<%= Rails.application.config.assethost.server %>/assets/client.js"></script>
<script type="text/javascript">ahClient = new AssetHost.Client()</script>

<script type="text/javascript" src="http://use.typekit.com/mhc7oxs.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Google DFP Setup -->
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') + 
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>

<script type='text/javascript'>
googletag.cmd.push(function() {
googletag.defineSlot('/127204706/events_home', [728, 90], 'div-gpt-ad-1337671309327-0').addService(googletag.pubads());
googletag.defineSlot('/127204706/membership_masthead', [123, 23], 'div-gpt-ad-1337671309327-1').addService(googletag.pubads());
googletag.defineSlot('/127204706/membership_sidebar', [300, 100], 'div-gpt-ad-1337671309327-2').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.enableServices();
});
</script>


<!-- OAS SETUP --> 
<script>
	 <!--//configuration 
	 OAS_url = 'http://oascentral.publicradio.org/RealMedia/ads/'; 
	 OAS_sitepage = 'scpr.org'; 
	 //OAS_sitepage = window.location.hostname + window.location.pathname; 
	 OAS_listpos = 'x01,x02,x03,x13'; 
	 OAS_query = ''; 
	 OAS_target = '_top'; 
	 //end of configuration 
	 OAS_version = 10; 
	 OAS_rn = '001234567890'; OAS_rns = '1234567890'; 
	 OAS_rn = new String (Math.random()); OAS_rns = OAS_rn.substring (2, 11); 
	 function OAS_NORMAL(pos) { 
	   document.write('<a href="' + OAS_url + 'click_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" target=' + OAS_target + '>');
	   document.write('<img src="' + OAS_url + 'adstream_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" border="0" /></a>');
	 } 
	 //--> 
</script>
<script>
	 <!-- 
	 OAS_version = 11; 
	 if ((navigator.userAgent.indexOf('Mozilla/3') != -1) || (navigator.userAgent.indexOf('Mozilla/4.0 WebTV') != -1)) 
	   OAS_version = 10; 
	 if (OAS_version >= 11) 
	   document.write('<SCR' + 'IPT LANGUAGE=JavaScript1.1 SRC="' + OAS_url + 'adstream_mjx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '?' + OAS_query + '"><\/SCRIPT>');//-->
</script>

<script>
	 <!-- 
	 document.write(''); 
	 function OAS_AD(pos) { 
	   if (OAS_version >= 11) 
	     OAS_RICH(pos); 
	   else 
	     OAS_NORMAL(pos); 
	 } 
	 //--> 
</script>

<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/qm7SaL9pBkiP3zqtgnu0RA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>

<!-- chartbeat timing for load start -->
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

<!--
<script type="text/javascript">
var deviceIphone = "iphone";
var deviceIpod = "ipod";

//Initialize our user agent string to lower case.
var uagent = navigator.userAgent.toLowerCase();

//**************************
// Detects if the current device is an iPhone.
function DetectIphone()
{
   if (uagent.search(deviceIphone) > -1)
      return true;
   else
      return false;
}

//**************************
// Detects if the current device is an iPod Touch.
function DetectIpod()
{
   if (uagent.search(deviceIpod) > -1)
      return true;
   else
      return false;
}

//**************************
// Detects if the current device is an iPhone or iPod Touch.
function DetectIphoneOrIpod()
{
    if (DetectIphone())
       return true;
    else if (DetectIpod())
       return true;
    else
       return false;
}

jQuery(document).ready(function() {
	// Code here
	if (!DetectIphoneOrIpod) {
		$("#iphone-app-promo").show();
	}	
});
</script>
-->

<%= yield :headerjs %>
