<script type="text/javascript">
(function(doc) {

	// Resize on orientation change
    var addEvent = 'addEventListener',
        type = 'gesturestart',
        qsa = 'querySelectorAll',
        scales = [1, 1],
        meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : [];

    function fix() {
        meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1];
        doc.removeEventListener(type, fix, true);
    }

    if ((meta = meta[meta.length - 1]) && addEvent in doc) {
        fix();
        scales = [.25, 1.6];
        doc[addEvent](type, fix, true);
    }

}(document));
</script>

<%= stylesheet_link_tag    "application", media: "all" %>
<%= stylesheet_link_tag "base/print", media: "print" %>
<%= javascript_include_tag "application" %>

<script type="text/javascript">
// Open Listen Live Window
function open_popup(url) { 
   window.open(url, 'pop_up','height=800,width=556,resizable,left=10,top=10,scrollbars=no,toolbar=no');
   return false; 
}


$(document).ready(function() { 
	compactNav = new scpr.CompactNav(); 
	megaM = new scpr.MegaMenu({hidden:["#oas_x01"]});
	
	if (navigator.userAgent.match(/MSIE 7/)) {
		$("html").addClass("ie7-fix");
	} 
	if (navigator.userAgent.match(/MSIE 8/)) {
		$("html").addClass("ie8-fix");
	}
});
</script>

<script type="text/javascript" src="http://<%= Rails.application.config.assethost.server %>/assets/client.js"></script>
<script type="text/javascript">ahClient = new AssetHost.Client()</script>

<script type="text/javascript" src="http://use.typekit.com/mhc7oxs.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Google DFP Setup -->
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') + 
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>

<script type='text/javascript'>
googletag.cmd.push(function() {
//googletag.defineSlot('/127204706/events_home', [728, 90], 'div-gpt-ad-1337671309327-0').addService(googletag.pubads());
googletag.defineSlot('/127204706/events_home', [728, 90], 'div-gpt-ad-1334030619228-0').addService(googletag.pubads());
googletag.defineSlot('/127204706/membership_masthead', [123, 23], 'div-gpt-ad-1337671309327-1').addService(googletag.pubads());
googletag.defineSlot('/127204706/membership_sidebar', [300, 100], 'div-gpt-ad-1337671309327-2').addService(googletag.pubads());
googletag.defineSlot('/127204706/membership_lightbox', [700, 550], 'div-gpt-ad-1339807171110-5').addService(googletag.pubads());
googletag.defineSlot('/127204706/homepage_house_promo', [343, 150], 'div-gpt-ad-1338021022612-0').addService(googletag.pubads());
googletag.defineSlot('/127204706/sidebar_house_promo', [343, 150], 'div-gpt-ad-1338837727510-0').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.enableServices();
});
</script>


<!-- OAS SETUP --> 
<script>
	 <!--//configuration 
	 OAS_url = 'http://oascentral.publicradio.org/RealMedia/ads/'; 
	 OAS_sitepage = 'scpr.org'; 
	 //OAS_sitepage = window.location.hostname + window.location.pathname; 
	 OAS_listpos = 'x01,x02,x03,x13'; 
	 OAS_query = ''; 
	 OAS_target = '_top'; 
	 //end of configuration 
	 OAS_version = 10; 
	 OAS_rn = '001234567890'; OAS_rns = '1234567890'; 
	 OAS_rn = new String (Math.random()); OAS_rns = OAS_rn.substring (2, 11); 
	 function OAS_NORMAL(pos) { 
	   document.write('<a href="' + OAS_url + 'click_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" target=' + OAS_target + '>');
	   document.write('<img src="' + OAS_url + 'adstream_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" border="0" /></a>');
	 } 
	 //--> 
</script>
<script>
	 <!-- 
	 OAS_version = 11; 
	 if ((navigator.userAgent.indexOf('Mozilla/3') != -1) || (navigator.userAgent.indexOf('Mozilla/4.0 WebTV') != -1)) 
	   OAS_version = 10; 
	 if (OAS_version >= 11) 
	   document.write('<SCR' + 'IPT LANGUAGE=JavaScript1.1 SRC="' + OAS_url + 'adstream_mjx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '?' + OAS_query + '"><\/SCRIPT>');//-->
</script>

<script>
	 <!-- 
	 document.write(''); 
	 function OAS_AD(pos) { 
	   if (OAS_version >= 11) 
	     OAS_RICH(pos); 
	   else 
	     OAS_NORMAL(pos); 
	 } 
	 //--> 
</script>

<!-- chartbeat timing for load start -->
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

<%= yield :headerjs %>
