<%= form_block "Publishing" do %>
  <%= render '/outpost/shared/help_blocks/publishing' %>
  <%= f.section 'status' %>
  <%= f.section('content_alarm') if record.respond_to?(:alarm) %>
  <%= f.section 'auto_published_at' %>

  <div id="scheduled_status" class="notification block"></div>

  <%= extra %>
<% end %>
