<%= form_block "Related Content" do %>
  <div id="aggregator" class="aggregator"></div>
  <%= f.input :related_content_json, as: :hidden, input_html: { id: "related_content_json" } %>
<% end %>

<% content_for :footer do %>
  <script>
    aggregator = new outpost.Aggregator(
      "#aggregator", "#related_content_json", 
      <%= render_json('api/private/v2/content/collection', content: record.outgoing_references.includes(:related).map(&:related)) %>,
      {
        view: { active: 'search' },
        apiType: "private",
        params: {
          limit: 20,
          token: "<%= Rails.application.config.api['assethost']['token'] %>",
          order: "published_at",
          sort_mode: "desc",
          with: { status: <%=ContentBase::STATUS_LIVE%> }
        }
      }
    );
  </script>
<% end %>
