<%= form_block "Publishing" do %>
  <%= render '/outpost/shared/help_blocks/remote_publishing' %>
  
  <%= f.section 'status' %>
  <%= f.section('content_alarm') if record.respond_to?(:alarm) %>

  <% content_for :footer do %>
    <script type="text/javascript">
      $(function() {
        publishingUI = new scpr.PublishingUI({
          form: "#<%=f.options[:html][:id]%>",
          notifications: "#scheduled_status",
          statusField: "#status-select"
        });
      });
    </script>
  <% end %>

  <div id="scheduled_status" class="notification block"></div>
<% end %>
