<%= render '/outpost/shared/header/preview/document_header' %>

<body>
<div class="viewport">
  <%= render '/outpost/shared/header/preview/layout_header' %>

  <div id="no-sidebar" class="container-fluid main-content">
    <%= yield %>
  </div> <!-- no-sidebar -->
  
  <%= render '/outpost/shared/footer/preview/layout_footer' %>
</div> <!-- viewport -->

<%= render '/outpost/shared/footer/preview/document_footer' %>
