<% width = properties[:width] ? "#{properties[:width]}px" : "auto" %>
<% align = %w{left right}.include?(properties[:align]) ? properties[:align] : "none" %>

<div id="<%=properties[:id]%>" style="width:<%=width%>; float: <%=align%>">
<%= content.html_safe %>

<% if properties[:credit].present? %>
	<p class="wp-media-credit"><%=properties[:credit]%></p> 
<% end %>

<% if properties[:caption].present? %>
	<p><%=properties[:caption]%></p>
<% end %>

</div>