<% content_for :sidebar do %>
	<h3>Quick Stats</h3>
	<ul>
		<li><b>RSS Title:</b> <%= @doc.title %></li>
		<li><b>pubDate:</b> <%= format_date(Time.parse(@doc.pubDate), time: true) %></li>
		<li>
			Totals:
			<ul>
				<li><b>Attachments:</b> </li>
				<li><b>Jiffy-Posts:</b> <%= @doc.jiffy_posts.size %></li>
				<li><b>Nav Menu Items:</b> </li>
				<li><b>Roundups:</b> </li>
				<li><b>Posts:</b> <%= @doc.posts.size %></li>
				<li><b>Tags:</b></li>
			</ul>
		</li>
		
	</ul>
<% end %>

<h2>Multi American Import UI</h2>

<ul>
	<li><%= link_to "Posts", admin_multi_american_posts_path %></li>
	<li><%= link_to "Jiffy Posts", admin_multi_american_jiffy_posts_path %></li>
</ul>