<% content_for :sidebar do %>
	<h3>Quick Stats</h3>
	<ul>
		<li><b>RSS Title:</b> <%= @doc.title %></li>
		<li><b>pubDate:</b> <%= format_date(Time.parse(@doc.pubDate), time: true) %></li>
		<li>
			Totals:
			<ul>
				<% WP::RESOURCES.each do |resource| %>
					<li><b><%= resource.titleize %></b>: <%= @doc.send(resource).size %></li>
				<% end %>
			</ul>
		</li>
		
	</ul>
<% end %>

<h2>Multi American Import UI</h2>
<ul>
	<% WP::RESOURCES.each do |resource| %>
		<li><%= link_to resource.titleize, send("admin_multi_american_#{resource}_path") %></li>
	<% end %>
</ul>
