<h2><%= @breadcrumbs.last[:title] %></h2>
<h4>Total count: <%= @total %></h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>WP-ID</th>
			<th>Post Type</th>
			<th>Title</th>
			<th>Slug</th>
			<th>Published</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody class="list">
			<% @resources.each do |post| %>
				<tr>
					<td><%= post.id %></td>
					<td><%= post.post_type %></td>
					<td><%= link_to post.title.present? ? post.title : "<em>[blank]</em>".html_safe, send("admin_multi_american_#{post.class.to_s.demodulize.underscore}_path", post.post_id) %></td>
					<td><%= post.post_name %></td>
					<td><%= format_date(Time.parse(post.pubDate), time: true) %></td>
					<td><%= post.status %></td>
				</tr>
			<% end %>
	</tbody>
</table>
<%= will_paginate @resources, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>