<h2><%= @breadcrumbs.last[:title] %></h2>
<h4>Total count: <%= @total %></h4>
<div class="form-actions">
	<%= link_to "Import #{resource_class.to_s.demodulize.pluralize}", admin_multi_american_import_path(resource_class), class: "btn btn-primary", method: "post" %>
	<%= link_to "Delete all imported #{resource_class.to_s.demodulize.pluralize}", admin_multi_american_abort_path(resource_class), class: "btn btn-danger", method: "delete", data: { confirm: "Are you sure?" } %>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<% resource_class.list_fields.each do |item| %>
				<th><%= item[1][:title] %></th>
			<% end %>
		</tr>
	</thead>
	<tbody class="list">
		<% @resources.each do |record| %>
			<tr class="<%= resource_class.to_s.underscore.dasherize %>">
				<% resource_class.list_fields.each do |item| %>
					<td>
						<%= render_attribute item, record, path: send("admin_multi_american_#{resource_class.to_s.demodulize.underscore}_path", record.id) %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @resources, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>