<h2>
	<%= @resource.to_title %>
	<% if resource_class.importable %>
		<div class="pull-right">
			<% if !@resource.ar_record %>
				<%= link_to "Import", 
							admin_multi_american_import_path(resource_name, @resource.id), 
							class: "btn btn-primary", method: "post" %>
			<% else %>
				<% if @resource.imported? %>
					<%= button_tag "Imported", class: "btn btn-success", disabled: "disabled" %>
					<%= link_to "Delete", 
								admin_multi_american_remove_path(resource_name, @resource.id), 
								class: "btn btn-danger", method: "delete", data: { confirm: "Are you sure?" } %>
				<% else %>
					<%= button_tag "Already Exists", class: "btn btn-warning", disabled: "disabled" %>
				<% end %>
			
			<% end %>
		</div>
	<% end %>
</h2>
<hr />

<% @resource.attributes.each do |sym| %>
	<div class="resource_attribute">
		<% attrib = @resource.instance_variable_get(sym) %>
		<h4 style="background: #eee"><%= sym.to_s.gsub("@", "").titleize %>
			<div class="pull-right" style="font-size: 11px; font-weight: normal;">[ <a class="fake toggle_raw">Raw</a> | <a class="fake toggle_formatted">Formatted</a> ]</div>
		</h4>
	
		<% if attrib.blank? %>
			<p><div><i>[empty]</i></div></p>
		<% next; end %>
	
		<% if @resource.class.nested_attributes.include? sym %>
			<% attrib.each do |set| %>
				<div class="data">
					<% set.each do |k,v| %>
						<b><%= k.to_s.titleize %></b>: 
						<div data-role="content-formatted"><%= simple_format v, {}, sanitize: false %></div>
						<div data-role="content-raw"><pre><%= v %></pre></div>
					<% end %><br />
				</div>
			<% end %>
		
		<% else %>
			<p class="data">
				<div data-role="content-formatted">
					<%= simple_format attrib.to_s, {}, sanitize: false %>
				</div>
		
				<pre data-role="content-raw"><%= attrib.to_s %></pre>
			</p>
		<% end %>
	</div>
<% end %>

<br /><br /><br />
