<% @PAGE_TITLE = @category.category %>

<h1><%= @category.category %></h1>

<% links = will_paginate(@content, :previous_label => "« Newer Stories", :next_label => "Older Stories »", :params => {:action => @cat_action }) %>

<% if @content.current_page == 1 %>
	<%= render_content @content[0], "twocol" %>
	
	<hr/>

	<%= render_content @content[1..2], "offlead_asset" %>			
			
	<%= render_content @content[3..-1], "thumbnail" %>
<% else %>
	<%= links %>

	<% for c in @content %>
		<%= render_content c, "thumbnail" %>
	<% end %>
<% end %>

<%= links %>