<div class="thumbnail">
	<h2><%= link_to blog.name, blog_path(blog.slug) %></h2>
	<p class="description"><%= blog.teaser %></p>
	
	<%= content_cache "blogs:#{blog.slug}:thumb:latest" do %>
		<% register_content "blogs/entry:new" %>
		
		<% if entry = blog.entries.published.first %>
			<% register_content entry %>
			<div class="latest-post">
				<h5>Latest Post</h5>
				<%= link_to entry.short_headline, entry.link_path %> <%= smart_date_js entry %>
			</div>
		<% end %>
	<% end %>
</div>
