<% latest_entry = blog.entries.published.first %>
<% tagline ||= nil %>

<div class="blog-widget">
  <h3 class="header">
    <div class="blog-logo small <%=blog.slug%>">
      <%= link_to blog.name, blog.public_path %>
    </div>
    <% if tagline.present? %> - <span class="tagline"><%= tagline %></span></a><% end %>
  </h3>

  <%= content_cache "blogs:#{blog.slug}:thumb:latest" do %>
    <% register_content BlogEntry.new_obj_key %>
      
    <% if latest_entry.present? %>
      <% register_content latest_entry %>
      <div class="content">
        <div class="blog-title">
          <%= link_to "Read the Latest Post", latest_entry.public_path %>
        </div>

        <%= render_content latest_entry, "sec_lead" %>
      </div>
    <% end %>
    
  <% end %>
</div>
