<% 
  if !defined?(full) 
    full = params[:id].present?
  end
%>

<div class="entry content-block">
  <div class="row-fluid">
    <%= widget "social_sidebar", entry %>

    <div class="span18 mq-solo-span">
      <article>
        <header>
          <h1 class="story-headline"><%= link_to entry.headline, entry.link_path %></h1>          
          <p class="byline">
            <%= render_byline entry %> <span class="pipe">|</span> <time pubdate><%= format_date entry.published_at, format: :full_date, time: true %></time>
          </p>
        </header>
    
        <div class="story-body">
          <div class="visible-reader"><%= widget "primary_audio", entry %></div>
          
          <%= render_asset entry, "blog" %>
          <%= entry.send(full ? :body : :extended_teaser).html_safe %>
        </div>
    
        <footer>
          <i><%= render_contributing_byline entry %></i>
          <div class="visible-reader"><%= widget "extra_audio", entry %></div>
          
          <% if entry.is_from_pij? %>
            <%= render '/shared/cwidgets/pij_notice' %>
          <% end %>
          
          <% if entry.tags.present? %>
            <br /><i>Tagged:</i> <%= raw entry.tags.collect {|t| link_to(t.name, blog_entries_tagged_path(entry.blog.slug,t.slug)) }.join(", ") %>
          <% end %>
        </footer>
      </article>
      <%= widget("social_tools", entry, cssClass: "horizontal bottom") if full %>
    </div> <!-- span18 -->
  </div> <!-- row fluid -->
</div> <!-- entry -->
