<%
  if !defined?(full)
    full = params[:id].present?
  end
%>

<div class="entry content-block">
  <div class="row-fluid">
    <%= content_widget "social_sidebar", entry %>

    <div class="span18 mq-solo-span">
      <article>
        <header>
          <h1 class="story-headline"><%= link_to entry.headline, entry.public_path %></h1>
          <span class="byline">
            <%= render_byline entry %> <span class="pipe">|</span> <%= timestamp(entry.published_at) %>
          </span>
        </header>

        <div class="story-body">
          <div class="visible-reader"><%= content_widget "primary_audio", entry %></div>

          <%= render_asset entry, "blog" %>
          <%= entry.send(full ? :body : :extended_teaser).html_safe %>
        </div>

        <footer>
          <p><i><%= render_contributing_byline entry %></i></p>
          <div class="visible-reader"><%= content_widget "extra_audio", entry %></div>

          <%= pij_source(entry) %>
        </footer>
      </article>

      <%= content_widget("social_tools", entry, cssClass: "horizontal bottom") if full %>
    </div> <!-- span18 -->
  </div> <!-- row fluid -->
</div> <!-- entry -->
