<nav class="recent-posts widget">
  <h6><%= title ||= "Recent Posts" %></h6>
  <%= content_cache("blogs:#{blog.slug}:recent") do %>
    <% register_content BlogEntry.new_obj_key %>
    <% blog.entries.published.first(5).each do |entry| %>
      <% register_content entry %>
    
      <div class="row-fluid">
        <div class="span7">
          <%= render_asset entry, 'thumbnail' %>
        </div>
        <div class="span17">
          <p>
          <%= link_to entry.short_headline, entry.public_path %><br />
          <%= smart_date_js entry.published_at %>
          </p>
        </div>
      </div> <!-- row-fluid -->
      
    <% end %>
    <p class="more"><%= link_to "More from #{blog.name}", blog_path(blog.slug) %></p>
  <% end %>
</nav>
