<nav class="recent-posts widget">
  <h6><%= title ||= "Recent Posts" %></h6>
  <ul>
    <%= content_cache("blogs:#{blog.slug}:recent") do %>
      <% register_content "blogs/entry:new" %>
      <% blog.entries.published.first(5).each do |entry| %>
          <li>
            <% register_content entry %>
            <p><%= link_to entry.short_headline, entry.link_path %></p>
            <span class="date-posted"><%= smart_date entry %></span>
          </li>
      <% end %>
    <% end %>
    <p class="more"><%= link_to "More Blog Entries", blog_path(blog.slug) %></p>
  </ul>
</nav>
