<% content_for :entrydate do %>
<div class="date">
	<p><%= smart_date @entry %></p>
</div>
<% end %>

<% content_for :body do %>
<h1 class="story-headline"><%= @entry.title %></h1>
<p class="byline"><%= byline @entry %></p>
<%= render_asset @entry, "blog" %>

<%= raw @entry.content %>
<% end %>