<% 
	page_title [@blog.name, @entry.title], " : "
	@OG_TYPE = "blog"
%>

<%= render_content @entry, "opengraph" %>

<%= render :partial => "entry", :object => @entry %>

<div class="row">
	<div class="span2">&nbsp;</div>
	<div class="span6">
		<% if @entry.tags.any? %>
			<p>
				<i>Tagged:</i> 
				<%= raw @entry.tags.collect {|t| link_to(t.name, blog_entries_tagged_path(@blog.slug,t.slug)) }.join(", ") %>
			</p>
		<% end %>
		
		<%= related_for @entry %>
		<%= social_tools_for @entry, cssClass: "bottom" %>
		<%= render "shared/cwidgets/next_prev" %>
		<%= comments_for @entry %>
	</div>
</div>

<%= render "shared/cwidgets/track_page", :content => @entry %>

