<%= render_content @entry, "opengraph" %>
<% add_to_page_title @entry.headline %>
<% @OG_TYPE = "blog" %>

<%= cache ["show", "v10", @entry] do %>
  <%= render "/blogs/entry", entry: @entry, full: true %>
<% end %>

<div class="fold" id="fold">
  <!-- Next/Previous Entries -->
  <%= content_cache "next_prev/v1/#{@entry.obj_key}" do %>
    <% register_content @entry %>
    <div class="next-prev" id="article-next-prev">
      <div class="row-fluid">
        <div class="span6 row-title">
          <h6>More from <%= @entry.blog.name %></h6>
        </div>
        <div class="span18">
          <div class="row-fluid">
            <div class="span12 left">
              <% if @entry.previous.present? %>
                <% register_content @entry.previous %>
                <div class="arrow">&larr;</div>
                <%= link_to @entry.previous.short_headline, @entry.previous.public_path %>
              <% end %>
            </div>
            <div class="span12 right">
              <% if @entry.next.present? %>
                <% register_content @entry.next %>
                <div class="arrow">&rarr;</div>
                <%= link_to @entry.next.short_headline, @entry.next.public_path %>
              <% end %>
            </div>
          </div> <!-- row fluid -->
        </div> <!-- span -->
      </div> <!-- row fluid -->
    </div>
  <% end %>

  <%= render "shared/related_content_and_links", content: @entry %>
  
  <!-- Comments -->
  <div class="comment-wrap">
    <div class="row-fluid">
      <div class="span6" id="fold-comments-count-widget">
        <%= comment_widget_for @entry, cssClass: "left-side", name: "comments" %>
      </div>
      <div class="span18 mq-solo-span">
        <%= comments_for @entry, header: false %>
      </div>
    </div> <!-- row-fluid -->
  </div>
</div> <!-- fold -->

<%= render 'shared/scripts/embedder' %>
