<% page_title "Blogs" %>

<h1>KPCC Blogs</h1>
<div class="row">
	<div class="span8 directory">
		<h6>News &amp; Commentary</h6>
		<ul class="thumbnails">
		<% for p in @blogs.where(:is_news => true) %>
			<li class="span4">
				<div class="thumbnail">
					<h2><%= link_to p.name, blog_path(p) %></h2>
					<p class="description"><%= p.description %></p>
					<hr />
					<h5>Latest Post</h5>
					<ul>
					<% for e in p.entries.published.first(1) %>
						<li><%= link_to e.headline, e.link_path %> <span class="date-posted"><%= smart_date e %></span></li>
					<% end %>
					</ul>
				</div>
			</li>
		<% end %>
		</ul>
		<h6>Arts &amp; Culture</h6>
		<ul class="thumbnails"> 
		<% for p in @blogs.where(:is_news => false) %>
			<li class="span4">
				<div class="thumbnail">
					<h2><%= link_to p.name, blog_path(p) %></h2>
					<p class="description"><%= p.description %></p>
					<hr />
					<h5>Latest Post</h5>
					<ul>
					<% for e in p.entries.published.first(1) %>
						<li><%= link_to e.headline, e.link_path %> <span class="date-posted"><%= smart_date e %></span></li>
					<% end %>
					</ul>
				</div>
			</li>
		<% end %>
		</ul>
	</div>
</div>