<% html_safe_id = article.id.parameterize %>

<div id="asset_slideshow_<%=html_safe_id%>" class="slideview">

  <div class="static-slides">
  <% assets.each do |asset| %>
    <div class="slide">
      <div class="asset-block">
        <div class="contentasset">
          <%= link_to asset.eight.tag, article.public_url %>
        </div>

        <h4><%= asset.owner %></h4>

      <% if asset.caption.present? %>
        <p><%= asset.caption %></p>
      <% end %>

      </div>
    </div>
  <% end %>
  </div>

</div>

<br/>

<script type="text/javascript"> 
  (function() {
    var query, keyval;
    var params = {};
    query = _(window.location.search.substring(1).split("&")).each(function(pair) { keyval = pair.split("="); params[keyval[0]] = keyval[1]; });

    var slideshow;
    slideshow = new scpr.Slideshow({
        <% if params[:id].present? %>
          start: params["slide"],
          deeplink: true,
        <% end %>
          el: "#asset_slideshow_<%=html_safe_id%>",
          staticSlides: "staticSlides_<%=html_safe_id%>",
          assets: <%= assets.to_json.html_safe %>
    });

    slideshow.bind("switch", function(idx) {
        // (1.) add slide change listener for analytics
        if(typeof(_gaq) != 'undefined') {
            _gaq.push(['_trackPageview',window.location.pathname + 'photos/' + (Number(idx) + 1)]);
            dcsMultiTrack(
                'DCS.dcsuri', window.location.pathname + 'photos/' + (Number(idx) + 1),
                'WT.ti', 'SlideShow PageView'
            );
        }
    });
  }());
</script>
