<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <%= render "/shared/header/core_includes" %>

  <meta id="meta-viewport" name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />

  <style type="text/css">
    .fake-el {
      background: #efefef;
      border: 1px solid #cccccc;
    }
  </style>

  <title>Preview: <%= @title %></title>

  <%= csrf_meta_tags %>
  <%= yield :head_tag %>
</head>

<body>
  <header id="masthead">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span24 fake-el" style="height:110px;">
          &nbsp; <!-- header -->
        </div>
      </div>
  </header>
  
  <div id="main" class="container-fluid main-content">
    <div class="row-fluid">
      <article class="span16 relative">
        <%= yield %>
        <div class="vert-divider"></div>
      </article>
      
      <div class="span8">
        <div id="sidebar" class="fake-el" style="height:1000px;">
          &nbsp; <!-- sidebar -->
        </div> <!-- sidebar -->
      </div> <!-- span8 -->
    </div> <!-- row-fluid -->
  </div> <!-- container fluid main -->
  
  <div id="page-footer">
    <footer style="background:none;">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span24 fake-el" style="height:200px;">
            &nbsp;
          </div>
        </div> <!-- row-fluid -->
      </div> <!-- container-fluid -->
    </footer>
  </div> <!-- page-footer -->

  <%= yield :footer %>

</body>
</html>
