<%= form_block "Details" do %>
  <%= f.input :alert_type, collection: BreakingNewsAlert::ALERT_TYPES.map { |k, v| [v, k] }, include_blank: false %>
  <%= f.input :headline, input_html: { class: "wide" } %>
  <%= f.input :teaser, input_html: { class: :tiny } %>
  <%= f.input :alert_url, hint: "A full URL to more information", input_html: { class: "wide" } %>
<% end %>

<%= form_block "Actions" do %>
  <%= f.input :visible, hint: "Show this alert on the website" %>

  <% if record.send_email? %>
    <% if record.email_sent? %>
      <div class="alert alert-info">
        An e-mail has been sent for this alert.
      </div>
    <% else %>
      <div class="alert alert-info">
        An e-mail will be sent for this alert, but hasn't fired yet.
      </div>
    <% end %>
  <% else %>
    <%= f.input :send_email, hint: "Send out an e-mail to everybody subscribed" %>
  <% end %>

  <% if record.send_mobile_notification? %>
    <% if record.mobile_notification_sent? %>
      <div class="alert alert-info">
        A mobile notification has been sent for this alert.
      </div>
    <% else %>
      <div class="alert alert-info">
        A mobile notification will be sent for this alert, but hasn't fired yet.
      </div>
    <% end %>
  <% else %>
    <%= f.input :send_mobile_notification, hint: "Send a push notification to mobile applications." %>
  <% end %>
<% end %>
