<% content_for :headerjs, @flatpage.extra_head.html_safe %>

<% content_for :opengraph do %>
	<meta property="og:description" content="<%= j @flatpage.description %>">
    <meta property="og:title" content="<%= j @flatpage.title %>">
    <meta property="og:type" content="article">
	<meta property="og:url" content="<%= @flatpage.remote_link_path %>"/>
	<meta name="twitter:card" value="summary">
	<meta name="twitter:site" value="@kpcc">
	<meta name="twitter:url" value="<%= @flatpage.remote_link_path %>">
	<meta name="twitter:title" value="<%= j @flatpage.title %>">
	<meta name="twitter:description" value="<%= j @flatpage.description %>">
<% end %>

<div class="sharing-tools top horizontal clearfix" id="article-sharing-tools">
	<h5>Share this:</h5>
	<ul>
	    <li class="facebook social_fb" data-url="<%= @flatpage.remote_link_path %>">Facebook</li>
	    <li class="twitter social_twit" data-url="<%= @flatpage.remote_link_path %>" data-text="<%= @flatpage.title %>">Twitter</li>
		<li class="gplus social_gplus" data-url="<%= @flatpage.remote_link_path %>">Google+</li>
		<li class="print"><a href="javascript:window.print()">Print</a></li>
	</ul>
</div>
<h1><%= page_title @flatpage.title %></h1>
<%= @flatpage.content.html_safe %><br />
<%= @flatpage.extra_tail.html_safe %>
