<% @PAGE_TITLE = "Bio: #{@bio.name}" %>
<h1><%= @bio.name %> <small><%= @bio.title %></small></h1>

<div class="row-fluid">
	<div class="span6">
		Photo Goes Here
		<p><strong>Contact <%= @bio.name %></strong></p>
		<ul>
			<li><%= link_to "Twitter", @bio.twitter_url, target: "_blank" %></li>
			<li><%= mail_to "Email", @bio.email %></li>
		</ul>
	</div>
	<div class="span18">
		<%= @bio.bio.html_safe %>
	</div>
</div>
<hr />
<div class="row-fluid">
	<div class="span24">
		<h2>Stories by <%= @bio.name %></h2>
		<%= render_content @user_content, "thumbnail" %>
		<%= will_paginate(@user_content, :previous_label => "« Newer", :next_label => "Older »", :inner_window => 2) %>
	</div>
</div>