<div class="cbase">
  <% if asset = post.assets.first %>
  <div class="asset-block">
    <div class="contentasset">
      <a href="<%= post.public_url %>">
        <img src="<%= asset.small.url %>" />
      </a>
    </div>
    
    <h4><%= asset.owner %></h4> 
  </div>
  <% end %>

  <h2 class="story-headline"><%= link_to post.title, post.public_url %></h2>
  <p><%= post.teaser.html_safe %></p>
</div>
