<%= render '/outpost/resource/errors', f: f %>

<div class="audio-fields well" id="audio-fields-<%=index%>">
  <div class="row">
    <div class="span4">
      <div class="details" id="audio-details-<%=index%>">
        <%= f.input :description, input_html: { class: "tiny thin" } %>
        <%= f.input :byline, input_html: { class: "thin" } %>
        <%= f.input :position, input_html: { class: "thin" } %>
      </div>
    </div> <!-- span -->
    <div class="span4">
      <div class="audio-info">
        
        <% if f.object.persisted? %>
          <div class="existing-audio" id="audio-existing-<%=index%>">
            <!-- existing audio -->
            <% if f.object.mp3.present? %>
              <h5 class="alert alert-success">Audio is Live</h5>
              <%= link_to f.object.mp3.filename, f.object.url, target: "_blank" %>
            <% else %>
              <h5 class="alert alert-info">Awaiting Audio</h5>
              <%= f.object.path %>
            <% end %>
          </div>
      
          <div class="audio-delete pull-right">
            <%= f.input :_destroy, as: :boolean, label: false, inline_label: "Delete?", wrapper_html: { class: "inline destroy-bool" } %>
          </div> <!-- audio-delete -->

        <% else %>
          <div class="new-audio">
            <!-- new audio -->
            <ul class="nav nav-tabs">
              <li class="<%= "active" if f.object.errors.blank? || (f.object.errors.keys & [:enco_number, :enco_audio, :base]).present? %>">
                <a href="#audio-new-enco-<%=index%>" data-toggle="tab">Enco</a>
              </li>
              <li class="<%= "active" if f.object.errors.keys == [:mp3] %>"><a href="#audio-new-upload-<%=index%>" data-toggle="tab">Upload</a></li>
              <li class="<%= "active" if f.object.errors.keys == [:mp3_path] %>"><a href="#audio-new-direct-<%=index%>" data-toggle="tab">Path</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane <%= "active" if f.object.errors.blank? || (f.object.errors.keys & [:enco_number, :enco_audio, :base]).present? %>" id="audio-new-enco-<%=index%>">
                <%= f.input :enco_number, as: :string, input_html: { id: "enco_number_#{index}", class: "thin" }, wrapper_html: { class: "vertical" } %>
                <%= f.input :enco_date, as: :date, input_html: { class: "thin" }, wrapper_html: { class: "vertical" } %>
              </div> <!-- enco -->

              <div class="tab-pane <%= "active" if f.object.errors.keys == [:mp3] %>" id="audio-new-upload-<%=index%>">
                <%= f.input :mp3, as: :file, wrapper_html: { class: "vertical" } %>
              </div> <!-- upload -->

              <div class="tab-pane <%= "active" if f.object.errors.keys == [:mp3_path] %>" id="audio-new-direct-<%=index%>">
                <%= f.input :mp3_path, hint: "/events/2012/10/01/your_cool_audio.mp3", input_html: { class: "thin" }, wrapper_html: { class: "vertical"} %>
              </div> <!-- path -->
            </div> <!-- tab-content -->
          </div> <!-- new-audio -->
        <% end %>
      </div> <!-- audio-info -->
    </div> <!-- span -->
  </div> <!-- row -->
</div> <!-- audio-fields -->
