<tr>
  <%= render '/outpost/resource/errors', f: f %>
  <td><%= f.input :title, label: false, input_html: { class: "span2" } %></td>
  <td><%= f.input :url, label: false, input_html: { class: "span3" } %></td>
  <td><%= f.input :link_type, label: false, input_html: { class: "span2" }, collection: RelatedLink::TYPES, include_blank: false %></td>
  <td><%= f.input :_destroy, as: :boolean, label: false, input_html: { class: "span1" } %></td>
</tr>
