<% page_title resource_title.pluralize %>
<%= index_header resource_class %>
<table class="table table-striped">
	<%= any_to_list? @records, title: resource_title.pluralize do %>
		<thead>
			<tr>
				<% resource_class.list_fields.each do |item| %>
					<th><%= item[1][:title] %></th>
				<% end %>
			</tr>
		</thead>
		<tbody class="list">
			<% @records.each do |record| %>
				<tr class="<%= resource_class.to_s.underscore.dasherize %>">
					<% resource_class.list_fields.each do |item| %>
						<td>
							<%= render_attribute item, record %>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	<% end %>
</table>
<%= will_paginate @records, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
