<% page_title resource_class.to_title.pluralize %>
<%= index_header resource_class %>
<table class="table table-striped">
  <%= any_to_list? @records, title: resource_class.to_title.pluralize do %>
    <thead>
      <tr>
        <% @list.columns.each do |column| %>
          <th><%= column.header %></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="list">
      <% @records.each do |record| %>
        <tr class="<%= resource_class.singular_route_key.dasherize %>">
          <% @list.columns.each do |column| %>
            <td>
              <%= render_attribute column, record %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<%= paginate @records, theme: 'bootstrap', window: 3 %>
