<% page_title resource_class.to_title.pluralize %>
<%= index_header resource_class %>
<table class="table table-striped">
  <%= any_to_list? @records, title: resource_class.to_title.pluralize do %>
    <thead>
      <tr>
        <th>Manage</th>
        <% @list.columns.each do |column| %>
          <th><%= column.header %></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="list">
      <% @records.each do |record| %>
        <tr class="<%= resource_class.singular_route_key.dasherize %>">
          <td>
            <%= link_to "Edit", record.admin_edit_path, class: "btn" %>
          </td>
          <% @list.columns.each do |column| %>
            <td data-id="<%=record.id%>" data-attribute="<%=column.attribute%>"<% if column.quick_edit? %> data-updatable="true"<% end %>>
              <%= render_attribute column, record %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<%= paginate @records, theme: 'bootstrap', window: 3 %>
