<% content.first(5).each do |thread| %>
  <div class="row-fluid">
    <div class="span5">
      <%= render_asset thread.object, "thumb" %>
    </div>
    <div class="span19">
      <a href="<%= thread.object.link_path %>" class="track-event" data-ga-category="Popular Box" data-ga-action="Most Commented" data-ga-label="<%= thread.object.obj_key %> :: <%= j thread.object.headline %>">
        <%= thread.object.short_headline %>
      </a>
      <a href="<%= thread.object.link_path(anchor: "comments") %>" class="track-event" data-ga-category="Popular Box" data-ga-action="Most Commented" data-ga-label="<%= thread.object.obj_key %> :: <%= j thread.object.headline %>">
        <span class="count">(<%= thread.posts %> comments)</span>
      </a>
    </div>
  </div> <!-- row -->
<% end %>
