<% page_title "History" %>

<% if @object %>
  <%= render 'header', page_title: @PAGE_TITLE, object: @object %>
<% end %>

<%= list_table @versions, model do %>
  <thead>
    <tr>
      <%= render "/admin/shared/headers", list: list %>
    </tr>
  </thead>
  <tbody class="list">
    <% @versions.each do |version| %>
      <% record = version.versioned %>
      <% if record.present? %> <%# Has to be here in a case a story gets deleted from Django %>
        <tr class="versions">
          <td class="column-manage">
            <%= guard record.class do %>
              <%= link_to "View", outpost.version_path(resources: record.class.route_key, resource_id: record.id, version_number: version.version_number), class: "btn" %>
            <% end %>
          </td>
          
          <%= render "/admin/shared/columns", list: list, record: version %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
<% end %>
