<% page_title "History" %>

<% if @object %>
  <%= render 'header', page_title: @PAGE_TITLE, object: @object %>
<% end %>

<table class="table table-striped">
  <%= any_to_list? @versions, message: "This object has no logged history in the Rails CMS." do %>
    <thead>
      <tr>
        <th>Manage</th>
        <% @list.columns.each do |column| %>
          <th><%= column.header %></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="list">
      <% @versions.each do |version| %>
        <% if version.versioned.present? %> <%# Has to be here in a case a story gets deleted from Django %>
          <tr class="versions">
            <td>
              <%= link_to "View", admin_version_path(resources: version.versioned.class.route_key, resource_id: version.versioned.id, version_number: version.version_number), class: "btn" %>
            </td>
            <% @list.columns.each do |column| %>
              <td>
                <%= render_attribute column, version %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</table>

<%= paginate @versions, theme: 'bootstrap', window: 4%>
