<h3><%= link_to episode.title, episode.link_path %></h3>

<ul>
<% for s in episode.segments %>
	<li>
		<%= render_asset s, "thumb" %>
		<h6 class="headline"><%= link_to s.title, s.link_path %></h6>
		<p><%= s.teaser %></p>
		<span class="comment_count"><%= s.comment_count %> Comments</span>
	</li>
<% end %>
</ul>