<article class="teaser program-external">
  <div class="row-fluid">
    <div class="span18">
      <div class="info">
        <header>
          <h3><%= link_to relaxed_sanitize(external_episode.title), external_episode.public_url %></h3>
          <span class="byline">
            <%= timestamp(external_episode.air_date) %>
          </span>
        </header>

        <%= simple_format relaxed_sanitize(external_episode.summary) %>
      </div> <!-- info -->
    </div> <!-- span -->

  <% if audio = external_episode.audio.first %>
    <div class="span6">
      <aside class="story-audio">
        <div class="inner-container clearfix">
          <div class="audio-content">
            <h4>Listen Now</h4>
          </div>
          <a href="<%= audio.url %>" class="play-btn audio-toggler" title="<%= h(external_episode.title) %>" data-duration="<%= audio.duration %>"></a>
          <% if audio.duration %><span class="duration">[<%= format_duration audio.duration %>]</span><% end %>
          <ul class="audio-tools">
            <li>
              <a href="<%= audio.url %>">Download</a>
            </li>
          </ul>
        </div>
      </aside>
    </div> <!-- span -->
  <% end %>
  </div> <!-- row-fluid -->
</article>
