<div class="teaser cbase">
	<div class="row-fluid">
		<% if segment.assets.present? %>
			<div class="span3">
				<%= render_asset segment, 'lsquare' %>
			</div>
			<div class="span6">
		<% else %>
			<div class="span9">
		<% end %>
			<div class="info">
				<h3><%= link_to segment.title, segment.link_path %></h3>
				<p class="byline"><time pubdate=""><%= smart_date segment %></time> <span class="pipe">|</span> <%= render_byline segment %></p>
				<%= segment.teaser %>
			</div>
		</div> <!-- span6/9 -->
		<div class="span3">
			<div class="interact">
				<%= link_to_audio("Listen now", segment, class: "inline") if segment.audio.present? %>
				<%= comment_count_for segment, class: "inline" %>
			</div>
		</div>
	</div>
</div>
