<div class="segment content-block">
  <div class="row-fluid">
    <%= content_widget "social_sidebar", segment %>

    <div class="span18 mq-solo-span">
      <article>
        <header>
          <h5 class="episode-title">
            <% if segment.episode.present? %>
              <%= link_to segment.episode.headline, segment.episode.public_path %>
            <% else %>
              <%= link_to segment.show.title, program_path(segment.show.slug) %>
            <% end %>
          </h5>
          <h1 class="story-headline"><%= link_to segment.headline, segment.public_path %></h1>
          <span class="byline">
            <%= render_byline segment %> <span class="pipe">|</span> <%= timestamp(segment.published_at) %></time>
          </span>
        </header>

        <div class="story-body">
          <div class="visible-reader"><%= content_widget "primary_audio", segment %></div>
          <%= render_asset segment, "segment" %>
          <%= segment.body.html_safe %>
          <br style="clear: both"/>
        </div>

        <footer>
          <div class="visible-reader"><%= content_widget "extra_audio", segment %></div>

          <%= pij_source(segment) %>
        </footer>
      </article><!-- article.segment -->

      <%= content_widget "social_tools", segment, cssClass: "bottom horizontal" %>
    </div> <!-- span -->
  </div> <!-- row fluid -->
</div> <!-- segment -->
