<!-- Episode Page (KPCC or External) -->

<% add_to_page_title @episode.title %>

<header class="episode">
  <div class="row-fluid">
    <div class="span14">
      <h4><%= @episode.title %></h4>
    </div>
    <div class="span10">
      <% if audio = @episode.audio.first %>
        <div class="right">
          <aside class="story-audio inline">
              <a href="<%= audio.url %>" class="play-btn audio-toggler" title="<%= h @episode.title %>" data-duration="<%= audio.duration %>"></a>
              <%= link_to "Listen to this episode", audio.url, :class => "audio-toggler play-text",  "data-duration" => audio.duration %>
              <a href="<%= audio.url %>" class="download">Download</a>
          </aside>
        </div>
      <% end %>
    </div>
  </div>
</header>

<section class="show-segments episode">
  <%= any_to_list? @segments, title: "Segments" do %>
    <%= render partial: '/programs/segment_teaser', collection: @segments, as: :article %>
  <% end %>
</section>

<%= render "/programs/archive_select", program: @program %>
