<% page_title [@episode.title,@program.title] %>

<div class="row">
	<header class="span8 episode">
		<h4><%= @episode.title %></h4>
		<% if @episode.audio.present? %>
			<div class="right">
				<aside class="story-audio inline">
						<a href="<%= @episode.audio.first.url %>" class="audio-toggler" title="<%= h @episode.headline  %>"
						<a href="<%= @episode.audio.first.url %>" class="play-btn audio-toggler" title="<%= h @episode.headline %>"></a><%= link_to "Listen to this episode", @episode.audio.first.url, class: "audio-toggler" %>
						<a href="<%= @episode.audio.first.url %>">Download</a>
				</aside>
			</div>
		<% end %>
	</header>
</div>

<section class="show-segments span8">
	<%= any_to_list? @segments, title: "Segments" do %>
  		<%= render partial: 'segment', collection: @segments %>
	<% end %>
</section>