<% add_to_page_title @episode.title %>

<header class="episode">
  <div class="row-fluid">
    <div class="span14">
      <h4><%= @episode.title %></h4>
    </div>
    <div class="span10">
      <% if audio = @episode.audio.available.first %>
        <div class="right">
          <aside class="story-audio inline">
              <a href="<%= audio.url %>" class="play-btn audio-toggler" title="<%= h @episode.headline %>" data-duration="<%= audio.duration %>"></a>
              <%= link_to "Listen to this episode", audio.url, :class => "audio-toggler play-text",  "data-duration" => audio.duration %>
              <a href="<%= @episode.audio.available.first.url %>" class="download">Download</a>
          </aside>
        </div>
      <% end %>
    </div>
  </div>
</header>

<section class="show-segments episode">
  <%= any_to_list? @episode.external_segments, title: "Segments" do %>
      <%= render partial: 'external_segment', collection: @episode.external_segments %>
  <% end %>
</section>

<%= render "/programs/archive_select" %>
