<h1>KPCC Programs</h1>

<div class="row">
    <div class="span8">
    	<ul id="featured-programs" class="list-blocks">
			<% @featured_programs.each do |program| %> <%# TODO Need to properly order these %>
			<a href="<%= program_path(program) %>">
			    <li class="<%=program.slug%>">
					<h4><%= program.title %></h4>
					<p><%= program.teaser.html_safe %></p>
			    </li>
			</a>
			<% end %>
		</ul>
    </div>
</div>
<div class="row">
	<div class="span4">
		<h3>Local Programs</h3>
		<ul class="list-basic">
			<%= any_to_list? @kpcc_programs.active, title: "Local Programs" do %>
				<% @kpcc_programs.active.order("title asc").each do |program| %>
					<li>
						<%= link_to program.title, program_path(program.slug) %> <%# OPTIMIZE partial? %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="span4">
		<h3>Other Programs</h3>
		<ul class="list-basic">
			<%= any_to_list? @other_programs.active, title: "Outside Programs" do %>
				<% @other_programs.active.order("title asc").each do |program| %>
					<li>
						<%= link_to program.title, program_path(program.slug) %> <%# OPTIMIZE partial? %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>

<% content_for :footerjss do %>
	var programPage = new scpr.ProgramPage();
<% end %>