<h1>KPCC Programs</h1>

<ul id="featured-programs" class="list-blocks">
  <% @featured_programs.each do |program| %>
    <% present program, ProgramPresenter do |p| %>
      <a href="<%= program_path(p.slug) %>">
        <li class="headshot <%=p.slug%>">
          <h4><%= p.title %></h4>
          <p><%= p.teaser %></p>
        </li>
      </a>
    <% end %>
  <% end %>
</ul>

<div class="row-fluid">
  <%= render("programs_list", programs: @kpcc_programs, title: "KPCC Programs") if @kpcc_programs.present? %>
  <%= render("programs_list", programs: @external_programs, title: "Other Programs") if @external_programs.present? %>
</div>
