<% page_title [@segment.headline, @program.title] %>
<%= render_content @segment, "opengraph" %>

<div class="row">
	<%= article_meta_for @segment %>

	<section class="segment span6">
		<h5 class="episode-title">
			<% if @segment.episodes.present? %>
				<%= link_to @segment.episodes.first.title, @segment.episodes.first.link_path %>
			<% else %>
				<%= link_to @program.title, program_path(@program) %>
			<% end %>
		</h6>

		<article class="segment">
			<h1 class="story-title"><%= @segment.headline %></h1>
			<%= render_asset @segment, "segment" %>
			<div class="story-body">
				<%= simple_format @segment.body, {}, :sanitize => false %>
			
				<br style="clear: both"/>
			</div>
		</article><!-- article.segment -->

		<%= related_for @segment %>
		<%= social_tools_for @segment, cssClass: "bottom" %>
		<%= comments_for @segment %>
	</section> <!-- section.segment -->
</div>
