<!-- KPCC segment -->

<% add_to_page_title @segment.headline %>
<%= render_content @segment, "opengraph" %>

<%= cache ["show", "v10", @segment] do %>
  <%= render "/programs/segment", segment: @segment %>
<% end %>

<div class="fold" id="fold">
  <%= render "shared/related_content_and_links", content: @segment %>
  
  <aside class="other-segments" id="other-segments">
    <div class="row-fluid">
      <div class="span6 row-title">
        <h6>More from this <%= @segment.episodes.present? ? "Episode" : "Program" %></h6>
      </div>
      <div class="span18">
        <ul>
          <% @segment.sister_segments.each do |segment| %>
            <li><%= link_to segment.short_headline, segment.public_path %></li>
          <% end %>
        </ul>
      </div>
    </div> <!-- row fluid -->
  </aside>
  <div class="comment-wrap">
    <div class="row-fluid">
      <div class="span6 row-title" id="fold-comments-count-widget">
        <%= comment_widget_for @segment, cssClass: "left-side", name: "comments" %>
      </div>
      <div class="span18 mq-solo-span">
        <%= comments_for @segment, header: false %>
      </div>
    </div> <!-- row-fluid -->
  </div>
</div>

<%= render 'shared/scripts/embedder' %>
