<% page_title @program.title %>

<div class="row">
	<div class="span6">
		<%= @program.description.html_safe %>
	</div>
	<div class="span2 connect">
		<%= link_to "Website", @program.web_url, target: "_blank", class: "archive with-icon" if @program.web_url? %>		
		<%= link_to "RSS Feed", @program.rss_url, target: "_blank", class: "rss with-icon" if @program.rss_url? %>
		<%= link_to "Podcast", @program.podcast_url, target: "_blank", class: "podcast with-icon" if @program.podcast_url? %>
	</div>
</div>

<br style="clear: both"/>

<section class="show-segments">
	<% if @program.podcast_url? && podcast = Rails.cache.fetch("ext_program:#{@program.slug}:podcast") %>
			<h2>Recently</h2>
			<%= raw podcast %>

	<% elsif @program.rss_url? && rss = Rails.cache.fetch("ext_program:#{@program.slug}:rss") %>
			<h2>Latest News</h2>
			<%= raw rss %>

	<% else %>
		<span class="none-to-list">There is currently no feed available for this program.</span>
	<% end %>
</section>

<br style="clear: both"/>

<% content_for :footerjss do %>
	if (!scA)
		var scA = new scpr.Audio()
<% end %>
