<% present @program, ProgramPresenter do |p| %>

<div class="program-external-header">
  <div class="row-fluid" id="program-external-header">
    <div class="span18">
      <p><%= p.description %></p>
    </div>
    <div class="span6">
      <nav class="connect">
        <%= p.web_link %>
        <%= p.rss_link %>
        <%= p.podcast_link %>
      </nav>
    </div>
  </div> <!-- row fluid -->
</div> <!-- .program-ext-header -->

<div class="show-segments">
  <%= render partial: "external_episode", collection: @episodes %>
  <%= paginate @episodes %>
</div>

<% end %>
