<!-- KPCC Program -->

<% if @kpcc_program.display_episodes? %>
  <section class="show-feature">
    <% if current_episode = @kpcc_program.episodes.published.first %>
      <%= render partial: "/programs/current_episode", object: current_episode %>
    <% end %>

    <% if upcoming = @kpcc_program.episodes.upcoming.first %>
      <div class="upcoming-episode">
        <h3><b>Coming Up:</b> <%= upcoming.headline %></h3>
        <p><%= upcoming.body %></p>
      </div>
    <% end %>
  </section>

  <%= render "/programs/archive_select", program: @kpcc_program %>
  <% if flash[:alert] %>
    <h4 style="color:#f00;"><%= flash[:alert] %></h4>
  <% end %>
<% end %>

<% if @kpcc_program.display_segments? %>
  <% nav = paginate @segments, params: { anchor: "archive"} %>

  <section class="show-segments">
    <%= any_to_list? @segments, title: "Segments" do %>
      <h2>Recently on <%= @kpcc_program.title %></h2>
      <%= nav if @segments.current_page > 1 %>

      <%= cache ["segment-teasers", @segments] do %>
        <%= render partial: "/programs/segment_teaser", collection: @segments.map(&:to_article), as: :article %>
      <% end %>

      <%= nav %>
    <% end %>
  </section>

<% elsif @kpcc_program.display_episodes? %>
  <% nav = paginate @episodes, params: { anchor: "archive"} %>

  <section class="show-episodes">
    <%= any_to_list? @episodes, title: "Episodes" do %>
      <h2>Recently on <%= @kpcc_program.title %></h2>
      <%= nav if @episodes.current_page > 1 %>

      <%= cache ["episode-teasers", @episodes] do %>
        <%= render partial: "/programs/episode", collection: @episodes %>
      <% end %>

      <%= nav %>
    <% end %>
  </section>
<% end %>
