<% page_title @program.title %>

<% if @program.display_episodes %>
	<%= render :partial => "current_episode", :object => @program.episodes.published.first if @program.episodes.published.present? %>

	<% if upcoming = @program.episodes.upcoming.first %>
		<div class="upcoming-episode">
			<h3><b>Coming Up:</b> <%= upcoming.title %></h3>
			<p><%= upcoming.teaser %></p>
		</div>
	<% end %>
<% end %>

<a name="archive"></a>
<% if @program.display_segments %>
	<% nav = will_paginate @segments, previous_label: "&laquo; Newer".html_safe, next_label: "Older &raquo;".html_safe, params: { anchor: "archive"} %>
	<section class="show-segments">
		<%= any_to_list? @segments, title: "Segments" do %>
			<h2>Recently on <%= @program.title %></h2>		
			<%= nav if @segments.current_page > 1 %>
			<%= render :partial => "segment", :collection => @segments %>
			<%= nav %>
		<% end %>
	</section>
	
<% elsif @program.display_episodes %>
	<% nav = will_paginate @episodes, previous_label: "&laquo; Newer".html_safe, next_label: "Older &raquo;".html_safe, params: { anchor: "archive"} %>
	<section class="show-episodes">		
		<%= any_to_list? @episodes, title: "Episodes" do %>
			<h2>Recently on <%= @program.title %></h2>
			<%= nav if @episodes.current_page > 1 %>
			<%= render :partial => "episode", :collection => @episodes %>
			<%= nav %>
		<% end %>
	</section>	
<% end %>

<% if @program.video_player.present? %>
	<section class="show-video">
		<h2>Video</h2>
		<div class="video-player">
			<div style="display:none"></div>
			<script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
			<object id="video-<%=@program.video_player%>" class="BrightcoveExperience">
				<param name="bgcolor" value="#FFFFFF" />
				<param name="width" value="600" />
				<param name="height" value="400" />
				<param name="playerID" value="<%=@program.video_player%>" />
				<param name="isVid" value="true" />
				<param name="isUI" value="true" />
				<param name="dynamicStreaming" value="true" />
			</object>
		</div>
	</section>
<% end %>
