<% page_title @program.title %>

<div class="row">
	<section class="span8 episodes">
		<a href="<%= @program.episodes.published.first.try(:link_path) %>" class="episode-teaser">
			<article class="span4 current">
				<div class="header">Current Episode</div>
				<%= @program.episodes.published.first.try(:teaser) || @program.teaser %>
			</article>
		</a>
		
		<a href="<%= @program.episodes.upcoming.first.try(:link_path) %>" class="episode-teaser">
			<article class="span4 upcoming">
				<div class="header">Upcoming Episode</div>
				<%= @program.episodes.upcoming.first.try(:teaser) || @program.teaser %>
			</article>
		</a>
	</section>
</div>

<div class="row">
	<nav class="span8 show">
		<%= link_to "All", program_path(@program) %><%= link_to "Segments", program_path(@program) %><%= link_to "Blog Posts", program_path(@program) %><%= link_to "Featured Comments", program_path(@program) %><%= link_to "Reading List", program_path(@program) %>
	</nav>
</div>

<section class="show-segments span8">
	<%= any_to_list? @segments, title: "Segments" do %>
  		<%= render partial: 'segment', collection: @segments %>
	<% end %>
	<%= will_paginate @segments, param_name: :segments_page, previous_label: "&laquo; Newer Stories".html_safe, next_label: "Older Stories &raquo;".html_safe %>
</section>