<% present @program, ProgramPresenter do |p| %>

<div class="program-external-header">
  <div class="row-fluid" id="program-external-header">
    <div class="span18">
      <p><%= p.description %></p>
    </div>
    <div class="span6">
      <nav class="connect">
        <%= link_to "Website", p.web_url, target: "_blank", class: "archive with-icon" %>
        <%= link_to "RSS Feed", p.rss_url, target: "_blank", class: "rss with-icon" %>
        <%= link_to "Podcast", p.podcast_url, target: "_blank", class: "podcast with-icon" %>
      </nav>
    </div>
  </div> <!-- row fluid -->
</div> <!-- .program-ext-header -->

<div class="show-segments">
  <% if @program.is_episodic? %>
    <%= render partial: "external_episode", collection: @program.external_episodes %>
  <% else %>
    <%= render partial: "external_segment", collection: @program.external_segments %>
  <% end %>
</div>

<% end %>
