<%# Featured video %>
<% @OG_TYPE = "movie" %>
<%= render_content video, "opengraph" %>
<% if defined?(video) and video.assets.present? %> <%# This is a temporary fix that needs to be validated in the future %>
	<section class="video">
		<%= video.assets.first.asset.eight.tag %>
	</section>
	<h1 class="story-headline"><%= video.headline %></h1>
	<p class="byline"><%= render_byline video %> <span class="pipe">|</span> <time pubdate=""><%= smart_date video %></time></p>
	<p class="description"><%= raw video.body %></p>
	<%= content_widget "social_tools", video, cssClass: "multimedia horizontal bottom" %>
<% end %>
