<% cssClass ||= nil %>
<% if content.audio.present? %>
	<aside class="story-audio <%= cssClass %>">
		<div class="inner-container clearfix">
			<div class="audio-content">
				<h4>Listen Now</h4>
			</div>
			<a href="<%= content.audio.first.url %>" class="play-btn audio-toggler" title="<%= h content.headline %>" data-duration="<%= content.audio.first.duration %>"></a>
			<span class="duration">[<%= format_duration content.audio.first.duration %>]</span -->
			<ul class="audio-tools">
			    <li>
			        <a href="<%= content.audio.first.url %>">Download</a>
			    </li>
			</ul>
		</div>
	</aside>
	
	<% if content.audio.length > 1 %>
		<% for a in content.audio[1..-1] %>
			<aside class="story-audio">
				<div class="inner-container clearfix">
					<div class="audio-content">
						<h4>Extra Audio</h4>
						<p><%= a.description %></p>
					</div>
					<a href="<%= a.url %>" class="play-btn audio-toggler" title="<%= h content.headline %>" data-duration="<%= content.audio.first.duration %>"></a>
					<span class="duration">[<%= format_duration a.duration %>]</span -->
					<ul class="audio-tools">
					    <li>
					        <a href="<%= a.url %>">Download</a>
					    </li>
					</ul>
				</div>
			</aside>
		<% end %>
	<% end %>
<% end %>