<div id="article-related-content">
  <%= content_cache("related:#{content.obj_key}") do %>
    <% register_content content %>
    <% if (relations = content.related_content).present? %>
      <aside class="related-articles cbase">
        <div class="row-fluid">
          <div class="span6 row-title">
            <h6>More from KPCC</h6>
          </div>
          <div class="span18">
            <ul>
              <% relations.each do |content| %>
                <li>
                <% register_content content %>
                <%= link_to content.short_headline, content.link_path %> <span class="pipe">|</span> <%= smart_date_js content.published_at %>
                </li>
              <% end %>
            </ul>
          </div> <!-- span -->
        </div> <!-- row-fluid -->
      </aside>  
    <% end %>
  
    <% if content.related_links.normal.present? %>
      <aside class="related-links cbase">
        <div class="row-fluid">
          <div class="span6 row-title">
            <h6>Elsewhere on the Web</h6>
          </div>
          <div class="span18">
            <ul>
              <% content.related_links.normal.each do |link| %>
                <li>
                <%= link_to link.title, link.url %> <span class="domain"> | <%= link.domain ? link.domain.gsub(/^www\./, "") : link.url %></span>
                </li>
              <% end %>
            </ul>
          </div> <!-- span -->
        </div> <!-- row-fluid -->
      </aside>
    <% end %>

    <% if content.related_links.query.present? %>
      <aside class="pij-query cbase">
        <div class="row-fluid">
          <div class="span6 row-title">
            <h6>Become a KPCC Source <small><a href="/network/about/">(What's this?)</a></small></h6>
          </div>
          <div class="span18">
            <ul>
              <% content.related_links.query.each do |query| %>
                <li><%= link_to query.title, query.url %></li>
              <% end %>
            </ul>
          </div> <!-- span -->
        </div> <!-- row-fluid -->
      </aside>
    <% end %>
  <% end %>
</div>
