<div id="article-related-content">
  <%= content_cache("related:#{content.obj_key}") do %>
    <% register_content content %>
    <% if (rels = content.sorted_relations(content.frels.normal,content.brels.notiein)).present? %>
      <aside class="related-articles cbase">
        <div class="row-fluid">
          <div class="span6 row-title">
            <h6>More from KPCC</h6>
          </div>
          <div class="span18">
            <ul>
              <% rels.each do |content| %>
                <li>
                <% register_content content %>
                <%= link_to content.short_headline, content.link_path %> <span class="pipe">|</span> <time><%= format_date content.published_at, format: :full_date, time: true %></time>
                </li>
              <% end %>
            </ul>
          </div> <!-- span -->
        </div> <!-- row-fluid -->
      </aside>  
    <% end %>
  
    <% if content.related_links.present? %>
      <aside class="related-links cbase">
        <div class="row-fluid">
          <div class="span6 row-title">
            <h6>Elsewhere on the Web</h6>
          </div>
          <div class="span18">
            <ul>
              <% content.related_links.each do |link| %>
                <li>
                <%= link_to link.title, link.link %> <span class="domain"> | <%= link.domain.gsub(/^www\./, "") %></span>
                </li>
              <% end %>
            </ul>
          </div> <!-- span -->
        </div> <!-- row-fluid -->
      </aside>
    <% end %>
  <% end %>
</div>
