<div class="sharing-tools <%= cssClass ||= nil %> clearfix" id="article-sharing-tools">
  <h5>Share this:</h5>
  <% if content.published? %>
    <ul>
      <li class="track-event facebook social_fb" data-ga-category="Article" data-ga-action="Share" data-ga-label="Facebook" data-url="<%= URI.escape(content.remote_link_path) %>">Facebook (<span class="count">&nbsp;&nbsp;</span>)</li>
      <li class="track-event twitter social_twit" data-ga-category="Article" data-ga-action="Share" data-ga-label="Twitter" data-url="<%= URI.escape(content.remote_link_path) %>" data-text="<%= CGI.escape(content.short_headline) %>">Twitter (<span class="count">&nbsp;&nbsp;</span>)</li>
      <li class="track-event gplus social_gplus" data-ga-category="Article" data-ga-action="Share" data-ga-label="Google Plus" data-url="<%= URI.escape(content.remote_link_path) %>">Google+</li>
      <li class="track-event email" data-ga-category="Article" data-ga-action="Share" data-ga-label="Email" data-key="<%= content.obj_key %>">Email</li>
      <li class="print"><a href="javascript:window.print()"class="track-event" data-ga-category="Article" data-ga-action="Share" data-ga-label="Facebook">Print</a></li>
    </ul>
  <% end %>
</div>
