<%= form_block "Source" do %>
  <%= f.association :show, collection: KpccProgram.active.all %>
  <%= f.input :air_date, input_html: { class: "thin" } %>
<% end %>

<%= form_block "Details" do %>
  <%= f.input :headline, input_html: { class: "wide" } %>
  <%= f.input :body, label: "Teaser", input_html: { class: "tiny" }, wrapper_html: { class: "field-counter", data: { target: 145, fuzziness: 20 } } %>
<% end %>

<%= form_block "Segments" do %>
  <div class="pull-right">
    <%= modal_toggle title: "Info", id: "segment-aggregator-help-modal" do %>
      This content builder only shows Segments, of ANY publishing status (except "Killed"), ordered by the LAST UPDATED timestamp (descending).
    <% end %>
  </div>
  
  <div id="aggregator" class="aggregator"></div>
  <%= f.input :rundowns_json, as: :hidden, input_html: { id: "rundowns_json" } %>

  <% content_for :footer do %>
    <script>
      aggregator = new outpost.Aggregator(
        "#aggregator", "#rundowns_json",
        <%= render_json('api/private/v2/articles/collection', articles: record.segments.map(&:to_article)) %>,
        {
          apiType: "private",
          params: {
            limit: 20,
            token: "<%= Rails.application.config.api['kpcc']['private']['api_token'] %>",
            types: "segments",
            order: "updated_at", // Don't use published_at - we're finding unpublished content too.
            sort_mode: "desc",
            with: { 
              is_live: ["1", "0"], // True or False.
              status: <%=ContentBase::STATUS_TEXT.keys.drop(1)%> 
            }
          }
        });
    </script>
  <% end %>
<% end %>

<%= f.section "publishing" %>
<%= f.section "assets" %>
<%= f.section "audio" %>
