<div class="episode-guide hidden modal-toggle">
	<div class="arrow-up"></div>
	<div class="modal-close"></div>
	<div class="inner-container">
		<h6><%= link_to episode.title, episode.link_path %></h6>
		<%= render_asset episode, "thumb" %>
		<ul class="cbase">
			<%= any_to_list? episode.segments.published, title: "Segments" do %>
				<li><%= render partial: "shared/broadcast_bar/segment_lead", object: episode.segments.published.first, :as => :segment %></li>		
				<%= render partial: "shared/broadcast_bar/segment_offlead", collection: episode.segments.published.offset(1), :as => :segment %>
			<% end %>
			<li class="more"><a href="<%= program_path(program.slug) %>">More <%= program.title %></a></li>
		</ul>
	</div>
</div>