<div class="broadcast-bar<%= " with-headshot" if KpccProgram::Featured.include? current.program.slug %>" id="broadcast-bar">
  <div class="bb-inner-container">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12" id="bb-current-program">
          <div class="current program">
            <% if KpccProgram::Featured.include? current.program.slug %>
              <a href="<%= program_path(current.program.slug) %>" class="headshot <%= current.program.slug %>">&nbsp;</a>
            <% end %>
      
            <div class="program-info <%= current.program.slug %>">
              <a href="<%= program_path(current.program.slug) %>" class="show-title<%= " modal-toggler" if current.show_modal? %>" data-modal-id="<%= "episode-guide" if current.show_modal? %>"><%= current.program.title %></a>
              <span class="show-time"><%= current.format_time %> - <%= current.format_time(:ends_at) %></span>
            </div> <!-- program-info -->
    
            <% if current.show_modal? %>
              <% program = current.program
                 episode = program.episodes.published.first %>

              <div class="modal-container">
                <%= modal("episode-guide", modal_id: "episode-guide") do %>
                  <%= content_cache("broadcast_bar:episode_guide:#{episode.id}") do %>
                    <% register_content episode %>
                    <h6><%= link_to episode.headline, episode.link_path, :class => 'track-event', :data => {'ga-category' => 'Broadcast Bar', 'ga-action' => 'Episode Guide', 'ga-label' => 'Current Episode'} %></h6>
                    <%= render_asset episode, "thumb" %>

                    <!-- Segments -->
                    <ul class="cbase">
                      <% episode.segments.published.each_with_index do |segment, i| %>
                        <li>
                          <h5 class="headline"><%= link_to segment.short_headline, segment.link_path, :class => 'track-event', :data => {'ga-category' => 'Broadcast Bar', 'ga-action' => 'Episode Guide', 'ga-label' => "#{i==0 ? 'Lead' : 'Offlead'} Segment"} %></h5>
                          <% register_content segment %>
                          <%= comment_count_for segment %>
                        </li>
                      <% end %>

                      <li class="more"><a href="<%= program_path(program.slug) %>">More <%= program.title %></a></li>
                    </ul>
                  <% end %>
                <% end %>
              </div> <!-- modal-container -->
            <% end %>
          </div> <!-- current program -->
        </div> <!-- span -->
  
        <div class="span12" id="bb-next-program">
          <div class="next program">
            <% if up_next = current.next %>
              <div class="program-info">
                <a href="<%= program_path(up_next.program.slug) %>" class="show-title"><%= up_next.program.title %></a>
                <span class="show-time"><%= up_next.format_time %> - <%= up_next.format_time(:ends_at) %></span>
              </div> <!-- program-info -->
            <% end %>
          </div> <!-- next program -->
        </div> <!-- span -->
      </div> <!-- row-fluid -->
    </div> <!-- container-fluid -->
  </div> <!-- bb-inner-container -->
</div> <!-- broadcast-bar -->
