<header id="masthead">
	<div class="container">
		<div class="row">
    		<div class="logo span5">
		        <h1>
		            <a href="/">
		            	<%= image_tag "logo-masthead.png" %>
		            </a>
		        </h1>
		    </div>
			<div class="span2 pledge-container">
				<%= image_tag("support-voices-trust.png", :alt => 'Support the voices you trust') %>
				<div class="pledge">
					<a href="">Pledge Now</a>
				</div>
				<%= image_tag("brian-watt.png", :alt => 'Brian Watt', :class => 'reporter_headshot' ) %>
				<p class="reporter">Brian Watt, KPCC Reporter</p>
			</div>
		    <nav class="utils span5">
				<ul class="nav secondary-nav clearfix">
					<li class="social">Follow us
						<a href="http://facebook.com/kpccfm"><img src="http://media.scpr.org/assets/images/icons/header-icn-facebook.png" alt="Facebook" /></a>
	    		        <a href="http://twitter.com/kpcc"><img src="http://media.scpr.org/assets/images/icons/header-icn-twitter.png" alt="Twitter" /></a>
						<a href="https://plus.google.com/108872361044769229886/"><img src="https://ssl.gstatic.com/images/icons/gplus-16.png" alt="Google +" width="14" height="14" /></a>
	    		    </li>
					<% if current_user %>
						<li>Hi <a href="/accounts/profile/"><%= current_user.nickname %></a></li>
						<li><a href="/accounts/logout/">Log Out</a></li>
					<% else %>
		    		    <li><a href="/accounts/login/">Login</a></li>
		    		    <li><a href="/accounts/register/">Register</a></li>					
					<% end %>
	    		</ul>
	    	</nav>
		</div>
		<div class="row">
			<nav class="nav-primary topbar span12">
				<nav class="sections clearfix">
					<ul>
					    <li class="listen-live"><a href="javascript:void(0)" onclick="open_popup('http://scpr.org/listen_live/');" id="listen-live">Listen Live</a></li>
					    <li class="mega"><a href="/news/" data-section="news-mega"><span>News</span></a></li>
					    <li class="mega"><a href="/arts/" data-section="arts-mega"><span>Arts &amp; Life</span></a></li>
					    <li class="mega"><a href="/programs/" data-section="programs-mega"><span>Programs</span></a></li>
					    <li class="mega"><a href="/events/" data-section="events-mega"><span>Events</span></a></li>
						<li class="mega"><a href="/support/" data-section="support-mega"><span>Support Us</span></a></li>
					</ul>
					<form action="/search/" class="search" method="get">
						<fieldset>
						    <label>Search:</label>
						    <div class="inputs">
						        <input type="text" name="q" placeholder="Search" class="search" />
						        <input type="submit" value="Submit" id="submit" class="submit" />
						    </div>
						</fieldset>
					</form>
				</nav>
				<nav id="news-mega" class="section-mega clearfix" style="display:none;">
					<div class="row">
						<div class="categories span3">
							<div class="inner-container clearfix">
							<h6>Categories</h6>
							<ul>
							    <li><a href="/news/local/">Local</a></li>
							    <li><a href="/news/california/">State</a></li>
							    <li><a href="/news/world/">World</a></li>
							    <li><a href="/news/politics/">Politics</a></li>
							    <li><a href="/news/environment/">Eco/Sci</a></li>
							</ul>
							<ul class="right">
							    <li><a href="/news/money/">Money</a></li>
							    <li><a href="/news/crime/">Crime &amp; Safety</a></li>
							    <li><a href="/news/education/">Education</a></li>
							    <li><a href="/news/health/">Health</a></li>
							</ul>
							<ul class="content-types">
							    <!--
							    <li class="videos"><a href="/videos/">Videos</a></li>	
							    -->
							    <li><a href="/blogs/">Blogs</a></li>
								<li><a href="/network/">Become a Source</a></li>
							</ul>
							</div>
						</div>
						<div class="featured span4">
							<div class="inner-container clearfix">
							<h6>Latest News</h6>
							<ul>
								<li>
						            <a href="">
						                <img src="http://a.scpr.org/i/0c3c581db41c47c8f9853608ccc82add/4395-lsquare.jpg" alt="" />
						                <p>Brown outlaws cell phones in state prisons</p>
						            </a>
						        </li>
						        <li>
						            <a href="">
						                <img src="http://a.scpr.org/i/82cdb32d3ad6aa566ccac40f9c3c1cc0/7286-lsquare.jpg" alt="" />
						                <p>Feds order CA medical pot shops to shut down</p>
						            </a>
						        </li>
							</ul>
							</div>
						</div>
						<div class="blogs span5">
							<div class="inner-container clearfix">
								<h6>From Our Blogs</h6>			
								<ul>
						            <li>
						                <p class="entry-title"><a href="http://multiamerican.scpr.org/jp/was-it-cholera-that-killed-the-irish-immigrants-of-duffys-cut-or-something-uglier/">Was it cholera that killed the Irish immigrants of Duffy’s Cut, or something uglier? <span class="blog-name">Multi-American</span></a></p>
						            </li>
						            <li>
						                <p class="entry-title"><a href="/blogs/newmedia/2011/11/04/3744/warrior-screening-nick-nolte/">'Warrior' screening with Nick Nolte <span class="blog-name">DeBord Report</span></a></p>
						            </li>
						            <li>
						                <p class="entry-title"><a href="/blogs/offramp/2011/11/04/3743/drained-echo-park-lake-seen-gary-leonard/">A near-empty Echo Park Lake, as seen by Gary Leonard <span class="blog-name">Off-Ramp</span></a></p>
						            </li>
						            <li>
						                <p class="entry-title"><a href="http://multiamerican.scpr.org/2011/11/five-american-muslims-on-racial-ethnic-profiling-this-is-my-country-i-feel-insulted/">Five American Muslims on racial-ethnic profiling: ‘This is my country. I feel insulted.’ <span class="blog-name">Multi-American</span></a></p>
						            </li>
						    	</ul>
							</div>
						</div>
					</div>
				</nav>
				<nav id="arts-mega" class="section-mega clearfix" style="display:none;">
						<div class="row">
							<div class="categories span3">
								<div class="inner-container clearfix">
								<h6>Categories</h6>
								<ul>
								    <li><a href="/arts/culture/">LA Culture</a></li>
								    <li><a href="/arts/film/">Film</a></li>
								    <li><a href="/arts/culture/">Living</a></li>	
								</ul>
								<ul class="right">
								    <li><a href="/arts/arts/">Arts</a></li>
								    <li><a href="/arts/music/">Music</a></li>	
								</ul>
								<ul class="content-types">
								    <!--
								    <li class="videos"><a href="/videos/">Videos</a></li>	
								    -->
								    <li><a href="/blogs/">Blogs</a></li>
								</ul>
								</div>
							</div>
							<div class="featured span4">
								<div class="inner-container clearfix">
								<h6>Latest Stories</h6>
								<ul>
									<li>
							            <a href="#">
							                <img src="http://a.scpr.org/i/c8fc1840445ccde7d34d8242e3fe0ce7/27725-thumb.jpg" alt="" />
							                <p>Eddie Murphy out as Oscars host</p>
							            </a>
							        </li>
							        <li>
							            <a href="#">
							                <img src="http://a.scpr.org/i/3b2eb009e09394dcaf7129379b38c8c7/27506-thumb.jpg" alt="" />
							                <p>Judge rules against Getty over 13th century Armenian Bible</p>
							            </a>
							        </li>
								</ul>
								</div>
							</div>
							<div class="blogs span5">
								<div class="inner-container clearfix">
									<h6>From Our Blogs</h6>			
									<ul>
							            <li>
							                <p class="entry-title"><a href="#">Google+ goes corporate, launching branded pages - including the Muppets <span class="blog-name">Without A Net</span></a></p>
							            </li>
							            <li>
							                <p class="entry-title"><a href="#">Remembering rapper Heavy D, dead at 44 <span class="blog-name">Without A Net</span></a></p>
							            </li>
							            <li>
							                <p class="entry-title"><a href="#">Van Dyke Parks &amp; Inara George at the Getty: Anything but Standard Time <span class="blog-name">Off-Ramp</span></a></p>
							            </li>
							            <li>
							                <p class="entry-title"><a href="#">'Warrior' screening with Nick Nolte <span class="blog-name">Without A Net</span></a></p>
							            </li>
							    	</ul>
								</div>
							</div>
						</div>
				</nav>
				<nav id="programs-mega" class="section-mega clearfix" style="display:none;">
					<div class="row">
						<div class="kpcc-programs span9">
							<div class="inner-container clearfix">
							<h6>KPCC Programs</h6>
							<ul class="first">
							    <li class="tmbs">
							        <a href="/programs/madeleine-brand/">
							        	<h4>The Madeleine Brand Show</h4>
							        	<p>Join Madeleine Brand for a conversational and witty look at the cultural issues people are buzzing about.</p>
									</a>
							    </li>
							    <li class="airtalk">
									<a href="/programs/airtalk/">
							        	<h4>AirTalk</h4>
							        	<p>Join host Larry Mantle weekdays for lively and in-depth discussions of city news, politics, the arts, and more.</p>
									</a>
							    </li>
							</ul>
							<ul>
							    <li class="patt">
							        <a href="/programs/patt-morrison/">
							        	<h4>Patt Morrison</h4>
							        	<p>Innovative discussions of local politics and culture, as well as global news as it affects Southern California.</p>
									</a>
							    </li>
							    <li class="offramp">
									<a href="/programs/offramp/">
							        	<h4>Off-Ramp</h4>
							        	<p>A lively weekly look at Southern California through the eyes and ears of radio veteran John Rabe.</p>
									</a>
							    </li>
							</ul>
							</div>
						</div>
						<div class="all-programs span3">
							<div class="inner-container clearfix">
							<h6>All Programs</h6>
							<ul>
							    <li><a href="/programs/">Programs A-Z</a></li>
							    <li><a href="/schedule/">Program Schedule</a></li>
								<li><a href="javascript:void(0)" onclick="open_popup('http://scpr.org/listen_live/');" id="listen-live">Listen Live</a></li>	
							    <li><a href="/podcasts/">Podcasts</a></li>	
							</ul>
							</div>
						</div>
					</div>
				</nav>
				<nav id="events-mega" class="section-mega clearfix" style="display:none;">
					<div class="row">
						<div class="categories events-nav span3">
							<div class="inner-container clearfix">
							<h6>The Crawford Family Forum</h6>
							<ul>
							    <li><a href="/events/forum/">Upcoming Events</a></li>
							    <li><a href="/events/forum/archive/">Past Events</a></li>
							    <li><a href="/forum/directions/">Directions to the Forum</a></li>	
							    <li><a href="/forum/space/">Partner With Us</a></li>
							    <li><a href="/forum/contact/">Contact the Forum</a></li>	
							</ul>
							</div>
						</div>
						<div class="events-forum span6">

							<div class="inner-container clearfix">
							<h6>Upcoming Crawford Family Forum Events</h6>
							<div class="events-content">
								<%= image_tag("events-forum-thumb-1.jpg", :alt => '') %>	
								<p class="event-title"><a href="">Venture Capital in Southern California: Catching Up and Going Beyond</a></p>
								<p class="event-date">Wednesday, November 30</p>
							</div>
							<div class="events-content">
								<%= image_tag("events-forum-thumb-2.jpg", :alt => '') %>	
								<p class="event-title"><a href="">Venture Capital in Southern California: Catching Up and Going Beyond</a></p>
								<p class="event-date">Tuesday, December 6</p>
							</div>
							</div>
						</div>
						<div class="events-sponsored span3">
							<div class="inner-container clearfix">
								<h6>Sponsored Events</h6>			
								<ul>
						            <li>
						                <p class="event-title"><a href="#">Music Center Holiday Sing-Along</a></p>
										<span class="event-date">Wednesday, November 30</span>
						            </li>
						            <li>
						                <p class="event-title"><a href="#">Whisker Wonderland Adoption Event</a></p>
										<span class="event-date">Wednesday, November 30</span>
						            </li>
									<li>
						                <p class="event-title"><a href="#">L.A. Rebellion: Creating a New Black Cinema</a></p>
										<span class="event-date">Wednesday, November 30</span>
						            </li>
						    	</ul>
								<p class="more"><a href="/events/sponsored/">View more events</a></p>
							</div>
						</div>
					</div>
				</nav>
				<nav id="support-mega" class="section-mega clearfix" style="display:none;">
					<div class="categories events-nav span3">
						<div class="inner-container clearfix">
							<h6>Partnerships</h6>
							<ul>
							    <li><a href="/support/foundations/">Foundations</a></li>
							    <li><a href="/support/underwriting/">Advertise With Us</a></li>
							    <li><a href="/support/underwriting/our_audience/">About Our Audience</a></li>		
							</ul>
						</div>
					</div>
					<div class="categories events-nav span3">
						<div class="inner-container clearfix">
							<h6>More Ways To Give</h6>
							<ul>
							    <li><a href="/support/car_donation/">Donate your Vehicle</a></li>
							    <li><a href="/support/matching_gifts/">Matching Gifts</a></li>
							    <li><a href="/support/stock_gifts/">Make a gift of stock</a></li>
								<li><a href="/support/legacy_society/">Include KPCC in your will</a></li>
							    <li><a href="/support/volunteer/">Volunteer Opportunities</a></li>	
								<li><a href="/support/affiliates/">Shop and support KPCC</a></li>	
							</ul>
						</div>
					</div>
					<div class="categories events-nav span3">
						<div class="inner-container clearfix">
							<h6>Become A Member</h6>
							<ul>
							    <li><a href="https://scprcontribute.publicradio.org/">Renew your membership</a></li>
							    <li><a href="https://scprcontribute.publicradio.org/contribute.php?refId=sustainers">Become a monthly sustainer</a></li>
							    <li><a href="https://scprcontribute.publicradio.org/contribute.php?noGift=on&refId=default">KPCC Leadership Circle</a></li>
							</ul>
						</div>
					</div>
					<div class="categories events-nav span3">
						<div class="inner-container clearfix">
							<h6>For Members</h6>
							<ul>
							    <li><a href="/support/member_benefits_card/">Member Benefits Card</a></li>
							    <li><a href="/support/member_benefits/">More Member Benefits</a></li>
							    <li><a href="/accounts/register/">Update Your Information</a></li> 
							</ul>
						</div>
					</div>
				</nav>
			</nav>
		</div>
	</div>
</header>

<div class="live-update"></div>
<div class="hero"></div>
<!-- end MASTHEAD-->