<%= form_block "Basic Info" do %>
  <%= f.input :name %>
  <%= f.input :is_active %>
  <%= f.input :slug %>
  <%= f.input :teaser, label: "Tagline", input_html: { class: "wide" }, wrapper_html: { class: "field-counter", data: { target: 100, fuzziness: 15 } } %>
  <%= f.input :description, input_html: { class: "tiny" } %>

  <%= f.input :is_news %>
  <%= f.association :missed_it_bucket %>
<% end %>

<%= form_block "Media" do %>
  <%= f.input :feed_url %>
  <%= f.input :facebook_url %>
  <%= f.input :twitter_handle, wrapper: :prepend, hint: "No @ symbol" do %>
    <span class="add-on">@</span><%= f.input_field :twitter_handle, class: 'span2' %>
  <% end %>
<% end %>

<%= form_block "Hosts" do %>
  <%= f.association :authors %>
<% end %>

<%= f.section "related_links" %>
