<% content_for :conversation_slot do %>
<% end %>

<% content_for :hero_roadblock do %>

<% winner = '<em class="winner">Winner</em>'.html_safe %>

<style>
	.broadcast-bar {display:none;}
	.ad.pencil {overflow:visible;}
  .ad.pencil a {display:inline-block;position:relative;width:940px;max-width:100%;height:30px;overflow:visible;text-align:center;}
  .ad.pencil a img.desktop {display:block;z-index:1000;text-align:center;}
  .ad.pencil a img.mobile {display:none;}
  .ad.pencil a img.active {position:absolute;top:0;left:0;}
  @media screen and (max-width: 767px) {
    .ad.pencil a {height:auto;}
    .ad.pencil a img.mobile {display:block;}
    .ad.pencil a img.desktop {display:none;}
  }
</style>
<div class="ad pencil container-fluid" style="margin-bottom:18px;">
  <div class="row-fluid">
    <div class="span24">
      <a href="http://www.antiochla.edu/different?reff=elect" class="ad-link center-contents contentasset track-event" data-ga-category="Advertisement" data-ga-action="Clickthrough" data-ga-label="Antioch 2012 Election Dashboard">
          <img class="ad-creative desktop" src="http://media.scpr.org/assets/images/election/antioch-pencil-collapsed.jpg" rel="http://media.scpr.org/assets/images/election/antioch-pencil-expanded.jpg" alt="Antioch University: Committed to Social Justice, Proggressive Education and Lifelong Learning." />
          <img class="ad-creative mobile"src="http://media.scpr.org/assets/images/election/antioch-mobile.gif" alt="Antioch University: Committed to Social Justice, Proggressive Education and Lifelong Learning." />
      </a>
    </div>
  </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	//rollover swap images with rel 
    var img_src = "";
    var new_src = "";
 
      $(".ad-creative.desktop").hover(function(){
        //mouseover
        imageWidth = $(this).width();
        img_src = $(this).attr('src'); //grab original image
        new_src = $(this).attr('rel'); //grab rollover image
        $(this).attr('src', new_src); //swap images
        $(this).attr('rel', img_src); //swap images
        $(this).addClass('active');
      },
      function(){
        //mouse out
 
        $(this).attr('src', img_src); //swap images
        $(this).attr('rel', new_src); //swap images
        $(this).removeClass('active');
      });
 
    //preload images
      var cache = new Array();
      //cycle through all rollover elements and add rollover img src to cache array
      $(".ad-creative.desktop").each(function(){
        var cacheImage = document.createElement('img');
        cacheImage.src = $(this).attr('rel');
        cache.push(cacheImage);
      });
});
</script>

<% share_link = "http://kpcc.org/elections/2012/results/" %>

<% if data_points['display_data'] == "pre_coverage"%>
  <!--
    Pre-results Hero
  -->
  <div class="hero-election">
  	<div class="container-fluid">
  		<div class="row-fluid">
  			<header class="span24 election-header">
  				<h1>2012 Election Results: <em>Begins at 5PM</em></h1>
  				<a class="share-link social-fb" data-url="<%=share_link%>"><span class="social_fb" data-url="<%=share_link%>">Share This</span></a>
  			</header>
  		</div>
  		<div class="row-fluid">
  			<section class="span24">
  				<div class="header-well clearfix">
            <h2 class="callout"><strong>Voter Guide:</strong> Create your personalized ballot and take it to the polls! <a href="http://myballot.kpcc.org/">Get Started</a></h2>
  				</div>
  			</section>
  		</div>
  	</div>
  </div>
  <!--
    End Pre-results Hero
  -->

<% elsif data_points['display_data'] == "president_only"%>
  <!--
    Presidential Results Only -  Hero
  -->
  <div class="hero-election">
  	<div class="container-fluid">
  		<div class="row-fluid">
  			<header class="span24 election-header">
  				<h1>2012 Election Results</h1>
  				<a class="share-link social-fb" data-url="<%=share_link%>"><span class="social_fb" data-url="<%=share_link%>">Share This</span></a>
  			</header>
  		</div>
  		<div class="row-fluid">
  			<section class="span24">
  				<div class="header-well clearfix">
            <h2 class="callout"><strong>Voter Guide:</strong> Create your personalized ballot and take it to the polls! <a href="http://myballot.kpcc.org/">Get Started</a></h2>
  				</div>
  			</section>
  		</div>
  	  <div class="row-fluid results president-only">
  				<!-- PRESIDENTIAL RESULTS -->
  				<article class="span8 results-block relative">
  					<header class="first">
  						<h2>U.S. President</h2>
  						<aside>270 votes to win</aside>
  					</header>
  				</article>
  				<article class="span8 results-block relative">
  					<section class="candidate obama first">
  						<h4>Barack Obama (D) <%= winner if data_points['president:winner'].to_s.match(/obama/i) %></h4>
  						<div class="result relative">
  							<strong><%= data_points['president:obama_electoral_votes'] %></strong>
  							<span>Electoral Votes</span>
  						</div>
  					</section>
  					<div class="vert-divider"></div>
  				</article>
  				<article class="span8 results-block relative">
  					<section class="candidate romney last">
  						<h4>Mitt Romney (R) <%= winner if data_points['president:winner'].to_s.match(/romney/i) %></h4>
  						<div class="result relative">
  							<strong><%= data_points['president:romney_electoral_votes'] %></strong>
  							<span>Electoral Votes</span>
  						</div>
  					</section>
  				</article>
  	  </div>
  	</div>
  </div>
  <!--
    End Presidential Results Only -  Hero
  -->
  
<% else %>
  <div class="hero-election">
  	<div class="container-fluid">
  		<div class="row-fluid">
  			<header class="span24 election-header">
  				<h1>2012 Election Results</h1>
  				<a class="share-link social-fb" data-url="<%=share_link%>"><span class="social_fb" data-url="<%=share_link%>">Share This</span></a>
  			</header>
  		</div>
  		<div class="row-fluid">
  			<section class="span24">
  				<div class="header-well clearfix">
  					<a href="http://twitter.com/KPCC" class="live-tweet visible-mobile">Read KPCC’s Election Live-Tweets</a>
  					<div class="tweets">
  						<span class="live-tweet">@KPCC Live-Tweets:</span>
  						<%= Rails.cache.fetch("twitter:KPCC") %>
  						<% content_for :footerjss do %>
  							tweetRotator = new scpr.TweetRotator({el: "#election-tweets"});
  						<% end %>
  					</div>
  				</div>
  			</section>
  		</div>
  		<div class="row-fluid results">
  				<!-- PRESIDENTIAL RESULTS -->
  				<article class="span8 results-block relative">
  					<header class="first">
  						<h2>U.S. President</h2>
  						<aside>270 votes to win</aside>
  					</header>
  					<section class="candidate obama first">
  						<h4>Barack Obama (D) <%= winner if data_points['president:winner'].to_s.match(/obama/i) %></h4>
  						<div class="result relative">
  							<strong><%= data_points['president:obama_electoral_votes'] %></strong>
  							<span>Electoral Votes</span>
  						</div>
  					</section>
  					<section class="candidate romney last">
  						<h4>Mitt Romney (R) <%= winner if data_points['president:winner'].to_s.match(/romney/i) %></h4>
  						<div class="result relative">
  							<strong><%= data_points['president:romney_electoral_votes'] %></strong>
  							<span>Electoral Votes</span>
  						</div>
  					</section>
  					<header class="first">
  						<h2>30th District</h2>
  						<aside><%= data_points['30th:percent_reporting'] %>% Reporting</aside>
  					</header>
  					<section class="candidate berman first">
  						<h4>Howard Berman <%= winner if data_points['30th:winner'].to_s.match(/berman/i) %></h4>
  						<div class="result relative">
  							<strong><%= data_points['30th:berman_percent'] %><b class="percentage">%</b></strong>
  						</div>
  					</section>
  					<section class="candidate sherman last">
  						<h4>Brad Sherman <%= winner if data_points['30th:winner'].to_s.match(/sherman/i) %></h4>
  						<div class="result relative">
  							<strong><%= data_points['30th:sherman_percent'] %><b class="percentage">%</b></strong>
  						</div>
  					</section>
  					<div class="vert-divider"></div>
  				</article>
  				<!-- PROPOSITION RESULTS -->
  				<article class="span8 results-block relative">
  					<header>
  						<h2>CA Propositions</h2>
  						<aside><%= data_points['props:percent_reporting'] %>% Reporting</aside>
  					</header>
  					<!-- Prop 30 -->
  					<section class="initiative first">
  						<div class="title">
  							<h3>Prop 30</h3>
  							<p>Governor’s Tax Initiative</p>
  						</div>
  						<div class="result relative">
  							<div class="yes <%= "pass" if data_points['props:30:passed'].to_s.match(/true/i) %>">
  								<strong><%= data_points['props:30:percent_yes'] %><b class="percentage">%</b></strong>
  								<span>Yes</span>
  							</div>
  							<div class="no <%= "fail" if data_points['props:30:passed'].to_s.match(/false/) %>">
  								<strong><%= data_points['props:30:percent_no'] %><b class="percentage">%</b></strong>
  								<span>No</span>
  							</div>
  							<div class="vert-divider"></div>
  						</div>
  					</section>
  					<!-- Prop 34 -->
  					<section class="initiative">
  						<div class="title">
  							<h3>Prop 34</h3>
  							<p>Repeal Death Penalty</p>
  						</div>
  						<div class="result relative">
  							<div class="yes <%= "pass" if data_points['props:34:passed'].to_s.match(/true/i) %>">
  								<strong><%= data_points['props:34:percent_yes'] %><b class="percentage">%</b></strong>
  								<span>Yes</span>
  							</div>
  							<div class="no <%= "fail" if data_points['props:34:passed'].to_s.match(/false/i) %>">
  								<strong><%= data_points['props:34:percent_no'] %><b class="percentage">%</b></strong>
  								<span>No</span>
  							</div>
  							<div class="vert-divider"></div>
  						</div>
  					</section>
  					<!-- Prop 36 -->
  					<section class="initiative">
  						<div class="title">
  							<h3>Prop 36</h3>
  							<p>Repeal "Three Strikes"</p>
  						</div>
  						<div class="result relative">
  							<div class="yes <%= "pass" if data_points['props:36:passed'].to_s.match(/true/i) %>">
  								<strong><%= data_points['props:36:percent_yes'] %><b class="percentage">%</b></strong>
  								<span>Yes</span>
  							</div>
  							<div class="no <%= "fail" if data_points['props:36:passed'].to_s.match(/false/i) %>">
  								<strong><%= data_points['props:36:percent_no'] %><b class="percentage">%</b></strong>
  								<span>No</span>
  							</div>
  							<div class="vert-divider"></div>
  						</div>
  					</section>
  					<!-- Prop 38 -->
  					<section class="initiative last">
  						<div class="title">
  							<h3>Prop 38</h3>
  							<p>Education Tax Initiative</p>
  						</div>
  						<div class="result relative">
  							<div class="yes <%= "pass" if data_points['props:38:passed'].to_s.match(/true/i) %>">
  								<strong><%= data_points['props:38:percent_yes'] %><b class="percentage">%</b></strong>
  								<span>Yes</span>
  							</div>
  							<div class="no <%= "fail" if data_points['props:38:passed'].to_s.match(/false/i) %>">
  								<strong><%= data_points['props:38:percent_no'] %><b class="percentage">%</b></strong>
  								<span>No</span>
  							</div>
  							<div class="vert-divider"></div>
  						</div>
  					</section>
  					<div class="vert-divider"></div>
  				</article>
  				<!-- LA COUNTY DA RESULTS -->
  				<article class="span8 results-block">
  					<header class="last">
  						<h2>LA County DA</h2>
  						<aside><%= data_points['da:percent_reporting'] %>% Reporting</aside>
  					</header>
  					<section class="candidate lacey first">
  						<h4>Jackie Lacey <%= winner if data_points['da:winner'].to_s.match(/lacey/i) %></h4>
  						<div class="result relative">
  							<strong><%= data_points['da:lacey_percent'] %><b class="percentage">%</b></strong>
  						</div>
  					</section>
  					<section class="candidate jackson last">
  						<h4>Alan Jackson <%= winner if data_points['da:winner'].to_s.match(/jackson/i) %></h4>
  						<div class="result relative">
  							<strong><%= data_points['da:jackson_percent'] %><b class="percentage">%</b></strong>
  						</div>
  					</section>
  					<header class="last">
  						<h2>Local Measures</h2>
  						<aside><%= data_points['measures:percent_reporting'] %>% Reporting</aside>
  					</header>
  					
  					<% if show_extra_measures %>
  					  <!-- A -->
    					<section class="initiative local first condensed">
    						<div class="title">
    							<h3>Measure A</h3>
    							<p>Appointed Assessor</p>
    						</div>
    						<div class="result relative">
    							<div class="yes <%= "pass" if data_points['measures:A:passed'].to_s.match(/true/i) %>">
    								<strong><%= data_points['measures:A:percent_yes'] %><b class="percentage">%</b></strong>
    								<span>Yes</span>
    							</div>
    							<div class="no <%= "fail" if data_points['measures:A:passed'].to_s.match(/false/i) %>">
    								<strong><%= data_points['measures:A:percent_no'] %><b class="percentage">%</b></strong>
    								<span>No</span>
    							</div>
    							<div class="vert-divider"></div>
    						</div>
    					</section>
    					
    					<!-- B -->
    					<section class="initiative local condensed">
    						<div class="title">
    							<h3>Measure B</h3>
    							<p>Condom Mandate</p>
    						</div>
    						<div class="result relative">
    							<div class="yes <%= "pass" if data_points['measures:B:passed'].to_s.match(/true/i) %>">
    								<strong><%= data_points['measures:B:percent_yes'] %><b class="percentage">%</b></strong>
    								<span>Yes</span>
    							</div>
    							<div class="no <%= "fail" if data_points['measures:B:passed'].to_s.match(/false/i) %>">
    								<strong><%= data_points['measures:B:percent_no'] %><b class="percentage">%</b></strong>
    								<span>No</span>
    							</div>
    							<div class="vert-divider"></div>
    						</div>
    					</section>
    				<% end %>
    				
  					<!-- MEASURE J -->
  					<section class="initiative local <%= show_extra_measures ? "last condensed" : "first" %>">
  						<div class="title">
  							<h3>Measure J</h3>
  							<p>Transportation Tax</p>
  						</div>
  						<div class="result relative">
  							<div class="yes <%= "pass" if data_points['measures:J:passed'].to_s.match(/true/i) %>">
  								<strong><%= data_points['measures:J:percent_yes'] %><b class="percentage">%</b></strong>
  								<span>Yes</span>
  							</div>
  							<div class="no <%= "fail" if data_points['measures:J:passed'].to_s.match(/false/i) %>">
  								<strong><%= data_points['measures:J:percent_no'] %><b class="percentage">%</b></strong>
  								<span>No</span>
  							</div>
  							<div class="vert-divider"></div>
  						</div>
  					</section>
  					
    				<% if !show_extra_measures %>
  					  <section class="initiative last"></section>
  					<% end %>
  				</article>
  			</div>
  	</div> <!-- container-fluid -->
  </div> <!-- hero-election -->
<% end %>


<% end %>
