<div class="stacked">
  <div class="row-fluid">
    <%= content_cache("home_leads") do %>
      <% register_content("layout/homepage") %>
      <div class="span24">
        <%= render_content @homepage.content[0], "lead8" if @homepage %>
      </div>
  </div>
  <div class="row-fluid">
      <div class="span24 offleads split">
        <%= render_content @homepage.content[1..-1], "offlead_asset" if @homepage %>
      </div>
    <% end %>
  </div>
  <hr />
</div>
<% content_for :conversation_slot do %>
<% end %>

<% content_for :hero_roadblock do %>
<style type="text/css">
  .Lacey {
    background-image:url(<%= image_path('specials/election/head-lacey.png') %>);
  }
  .Trutanich {
    background-image:url(<%= image_path('specials/election/head-trutanich.png') %>);
  }
  .Grace {
    background-image:url(<%= image_path('specials/election/head-grace.png') %>);
  }
  .Meyers {
    background-image:url(<%= image_path('specials/election/head-meyers.png') %>);
  }
  .Jackson {
    background-image:url(<%= image_path('specials/election/head-jackson.png') %>);
  }
  .Berman {
    background-image:url(<%= image_path('specials/election/head-berman.png') %>);
  }
  .Sherman {
    background-image:url(<%= image_path('specials/election/head-sherman.png') %>);
  }
</style>

<script id="some-template" type="text/x-handlebars-template">
<div class="hero-election">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span24">
        <h1 class="center-block"><%= image_tag('specials/election/header-results.png') %></h1>
      </div>
    </div>
    <div class="row-fluid">
          {{#ballots}}
        <div class="span6 relative">
          <div class="{{race_type}} clearfix">
          {{#ballot_items}}
            <div class="split {{item_title}}">
              <h4>{{item_title}}</h4>
            </div>
          {{/ballot_items}}
          </div>
            <div class="banner">
            <h3>{{race}}</h3>
            {{#if outcome}}<span class="outcome {{outcome}}">{{outcome}}</span>{{/if}}
            <span class="pennant"></span>
          </div>
          <div class="results clearfix">
          {{#ballot_items}}
            <div class="split">
                <div class="results">
                <h4>{{vote_percentage}}%</h4>
              </div>
            </div>
          {{/ballot_items}}
          </div>
          <footer>
            <span>{{percentage_reporting}}% reporting</span>
          </footer>
          <div class="vert-divider"></div>
        </div>
          {{/ballots}}
    </div>
  </div>
</div>
</script>

<div id="results"></div>

<script>
jQuery(document).ready(function() {
  // Make AJAX request and get JSON data
  $.ajax({
    type: "GET",
    url: "http://sharp-mist-4353.herokuapp.com/ballot.js",
    dataType: 'json',
    cache: false,
    callback: 'scpr',
    
    success: function(res) {
      var source   = $("#some-template").html();
      var template = Handlebars.compile(source);
      console.log(res);
      
      $("#results").html(template(res));
    },
    
    error: function(res) {
      console.log("error");
    }
    
    
  });
    
  //$.getJSON("http://sharp-mist-4353.herokuapp.com/ballot.js?callback=scpr", function(data){
  //  $.each(data.items, function(i,item){
  //    $('#results').html("<p>item1="+data.item1+" item2="+data.item2+" item3="+data.item3+"</p>");
  //  });
  

}); 
</script>


<% end %>
