<% page_title "About Us" %>

<div class="about-us">
<div class="row-fluid about-hero">
	<div class="span2">&nbsp;</div>
	<div class="span20 center-contents">
		<h1>Who we are</h1>
		<p><strong>Southern California Public Radio</strong> (SCPR) is a <a href="/support/">member-supported</a> public media network that operates 89.3 KPCC-FM in Los Angeles and Orange County, 89.1 KUOR-FM in the Inland Empire and 90.3 KVLA in the Coachella Valley. We also inform and interact with our communities through our web site, <a href="/listen/">mobile</a> and <a href="/social-media/">social media</a> channels and <a href="/events/forum/">live events</a>.</p>
	</div>
	<div class="span2">&nbsp;</div>
</div>
<nav class="nav-scroller row-fluid">
	<div class="span2">&nbsp;</div>
	<div class="span20">
		<ul class="clearfix">
		    <li><a href="#our-mission">Our Mission</a></li>
			<li><a href="#transparency">Transparency</a></li>
			<li><a href="#governance">Governance</a></li>
			<li><a href="#connect-with-us">Connect with us</a></li>
			<li><a href="#stations">Stations</a></li>
			<li><a href="#careers">Careers</a></li>
			<li><a href="#learn-more">Learn More</a></li>
		</ul>
	</div>
	<div class="span2">&nbsp;</div>
</nav>
<div id="our-mission" class="row-fluid section">
	<div class="span2">&nbsp;</div>
	<div class="span8 contentasset">
		<%= image_tag("about/img-mission.jpg")%>
	</div>
	<div class="span12">
		<h3>Our mission</h3>
		<p>Our mission is to strengthen the civic and cultural bonds that unite Southern California's diverse communities by providing the highest quality news and information service through radio and other interactive media. We will be a public forum that engages its audiences in an ongoing dialogue and exploration of issues, events and cultures in the region and in the world, seeking to provide greater understanding and new perspectives to the people of these communities and their leaders.</p>
		<p><a href="#">Read the full mission</a></p>
	</div>
	<div class="span2">&nbsp;</div>
	<span class="donut"></span>
</div>
<div id="transparency" class="row-fluid divider-donut">
	<div class="span2">&nbsp;</div>
	<div class="span12">
		<h3>Transparency</h3>
		<p>We aim for two-way connection with our communities, listeners and viewers and invite participation in our news discussion through live events, our radio and digital platforms and direct interaction with our staff.</p>
	</div>
	<div class="span8 contentasset">
		<%= image_tag("about/img-transparency.jpg")%>
	</div>
	<div class="span2">&nbsp;</div>
	<span class="donut"></span>
</div>
<div id="governance" class="row-fluid divider-donut">
	<div class="span2">&nbsp;</div>
	<div class="span8 contentasset">
		<%= image_tag("about/img-governance.jpg")%>
	</div>
	<div class="span12">
		<h3>Governance</h3>
		<p>We are a non-profit organization operated as part of <a href="http://americanpublicmedia.org">American Public Media</a> and funded by member contributions, individual and institutional grants and gifts, sponsorships and corporate underwriting.</p>
	</div>
	<div class="span2">&nbsp;</div>
	<span class="donut"></span>
</div>
<div id="connect-with-us" class="row-fluid divider-donut">
	<div class="span2">&nbsp;</div>
	<div class="span20">
		<h3 class="center-contents">Connect with us</h3>
		<ul class="connect-list">
		    <li class="mq-solo-span directory"><a href="/about/people/staff/">Staff directory</a></li>
		    <li class="mq-solo-span tips"><a href="http://www.scpr.org/contact/#form">Share news tips</a></li>
		    <li class="mq-solo-span errors"><a href="http://www.scpr.org/contact/#form">Report errors or concerns</a></li>
		    <li class="mq-solo-span phone">Main phone line:<br> (626) 583-5100</li>
		    <li class="mq-solo-span directions"><a href="/about/directions/">Map and driving directions</a></li>
		    <li class="mq-solo-span source"><a href="/network/">Become a source</a></li>
		</ul>
	</div>
	<div class="span2">&nbsp;</div>
	<span class="donut"></span>
</div>
<div id="stations" class="row-fluid divider-donut">
	<h3 class="center-contents">Stations</h3>
	<div class="span2" style="margin-left:0;">&nbsp;</div>
	<div class="span10">
		<iframe width="100%" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;t=p&amp;msa=0&amp;msid=115224654779393029349.000469c9ca6c2a903a40b&amp;ll=34.025348,-117.427368&amp;spn=1.82103,3.295898&amp;z=7&amp;output=embed"></iframe>
	</div>
	<div class="span10">
		<ul class="vert-list">
			<li>
				<h4><span class="orange">89.3 KPCC</span> - LA &amp; Orange Counties</h4>
				<p>Los Angeles, Pasadena, San Fernando Valley, Fullerton, Huntington Beach</p>
			</li>
			<li>
				<h4><span class="red">89.1 KUOR</span> - Inland Empire</h4>
				<p>San Bernardino, Riverside, Redlands, Cresline, Big Bear Lake</p>
			</li>
			<li>
				<h4><span class="purple">90.7.3 KVLA</span> - Coachella Valley</h4>
				<p>Indio, Palm Springs, Palm Desert, Rancho Mirage, Indian Wells</p>
			</li>
		</ul>
	</div>
	<div class="span2">&nbsp;</div>
	<span class="donut"></span>
</div>
<div id="careers" class="row-fluid divider-donut">
	<div class="span2">&nbsp;</div>
	<div class="span8 contentasset">
		<%= image_tag("about/img-careers.jpg")%>
	</div>
	<div class="span12">
		<h3>Careers at KPCC</h3>
		<p>Our workplace encourages professional growth, supports creativity, and values diversity. We believe that excellence and a healthy work-life balance are not mutually exclusive. Our compensation and benefits are competitive, including comprehensive health, wellness, retirement, education, and training programs. Above all, we are intelligent and professional, but we don't take ourselves too seriously.</p>
		<p><a href="/jobs/" class="btn primary">View Current Openings</a></p>
	</div>
	<div class="span2">&nbsp;</div>
	<span class="donut"></span>
</div>
<div id="learn-more" class="row-fluid divider-donut">
	<div class="span2">&nbsp;</div>
	<div class="span12">
		<h3>Learn more about us</h3>
		<ul>
			<li><a href="/about/people/leadership/">SCPR Leadership</a></li>
			<li><a href="/about/people/board/">SCPR's Board of Trustees</a></li>
			<li><a href="/about/people/staff/">SCPR Staff</a></li>
			<li><a href="/about/press/">Press Releases</a></li>
			<li><a href="/about/public/">Public documents</a></li>
		</ul>
	</div>
	<div class="span8 contentasset">
		<%= image_tag("about/img-more.jpg")%>
	</div>
	<div class="span2">&nbsp;</div>
	<span class="donut"></span>
</div>
</div>