<%=
	begin
		render :partial => @homepage.base, :homepage => @homepage
	rescue
		render :partial => "default", :homepage => @homepage
	end
%>

<%= yield :conversation_slot %>
<div class="more-content">
	<div class="row-fluid">
		<div class="span6">
			<div class="headlines">
				<h6>More Headlines</h6>
				<ul class="cbase">
					<%= raw Rails.cache.read("home/headlines") %>
				</ul>
			</div>
		</div>
		<div class="span6">
			<%= render "shared/widgets/events_at_the_forum" %>
		</div>	
	</div>
</div>

<% content_for :lower do %>
	<%= raw Rails.cache.read("home/sections") %>
<% end %>