<div class="row">
	<div class="span3">
		<%= render_content @homepage.content[1..-1], "offlead" %>
	</div>
	<div class="span5">
		<%= content_cache("home_leads") do %>
			<%= render_content @homepage.content[0], "lead" %>
		<% end %>	
		<h6>More Headlines</h6>
		<ul>
		<% for c in @homepage.content %>
			<li><%= link_to c.content.headline, c.content.link_path %></li>
		<% end %>
		</ul>	
	</div>
</div>
<div class="row">
	<div class="span8">
		<h3><%= link_to "Programs", programs_path() %>
	</div>
</div>