<% if @homepage %>

<%= content_cache('homepage-lead-stories') do %>
  <% register_content(@homepage) %>

  <%=
    begin
      render @homepage.base, homepage: @homepage
    rescue ActionView::MissingTemplate => e
      if Rails.env == "production"
        render "default", homepage: @homepage
      else
        raise e
      end
    end
  %>

<% end %> <%# cache %>
<% end %> <%# homepage? %>

<% if @featured_comment %>
  <div class="join-conversation-container home">
    <%= render '/shared/featured_comment/home', comment: @featured_comment %>
  </div>
<% end %>

<div class="more-content">
  <div class="row-fluid">
    <div class="span12 audiovision-block">

      <a class="logo" href="http://audiovision.scpr.org">
        <h6>AudioVision</h6>
      </a>

      <%= raw Rails.cache.read("views/home/audiovision") %>
    </div> <!-- .audiovision -->

    <div class="span12">
      <%= render "/events/forum_events" %>
    </div>  
  </div>
</div>

<% content_for :missed_it do %>
  <% if @homepage && @homepage.missed_it_bucket.present? %>
    <div class="more-news missed-it-bucket content-carousel">
      <h6 class="more-news-title">
        In Case You Missed It
        <div class="pager-nav">
          <a class="prev track-event" data-ga-category="Homepage" data-ga-action="In Cast You Missed It" data-ga-label="Nav Previous"></a>
          <a class="next track-event" data-ga-category="Homepage" data-ga-action="In Cast You Missed It" data-ga-label="Nav Next"></a>
        </div>
      </h6>
      <div class="carousel" data-current-page="1" data-vr-zone="In Case You Missed It"></div>
    </div> <!-- missed-it-bucket -->
    
    <% content_for :footer do %>
      <script>var carousel = new scpr.ContentCarousel({dataUrl: "<%= homepage_missed_it_content_path(@homepage.id) %>"});</script>
    <% end %>
  <% end %>
<% end %>

<% content_for :lower do %>
  <%= raw Rails.cache.read("home/sections") %>
<% end %>
