<div class="row">
	<%= content_cache("home_leads") do %>
		<% register_content("layout/homepage") %>
		<div class="span4 offleads">
			<%= render_content @homepage.content[1..-1], "offlead" %>
		</div>
		<div class="span4">
			<%= render_content @homepage.content[0], "lead" %>
		</div>
	<% end %>	
</div>
<div class="row">
	<div class="join-conversation-container">
		<%= render "shared/widgets/join_conversation" %>
	</div>
	<div class="span4">
		<div class="headlines">
			<h6>More Headlines</h6>
			<ul>
			<% for c in @headlines[0..5] %>
				<li><%= link_to c.headline, c.link_path %></li>
			<% end %>
			</ul>
		</div>
	</div>
	<div class="span4">
		<%= render "shared/widgets/events_at_the_forum" %>	
	</div>	

</div>