<% present event do |p| %>
<div class="event content-block">
  <div class="row-fluid">
    <%= content_widget "social_sidebar", event %>

    <div class="span18 mq-solo-span" id="events-event-detail">
      <article>
        <header>
          <h1 class="story-headline event-headline"><%= link_to p.headline, p.public_path %></h1>
          <%= p.sponsor %>
    
          <div class="event-details">
            <div class="row-fluid">
              <div class="span12">
                <%= p.date %>
                <%= p.rsvp_url %>
              </div> <!-- span -->
    
              <div class="span12">
                <div class="location-text">Location</div>
                <ul class="address">
                  <li><span class="blue"><%= p.location_name %></span></li>
                  <%= p.address %>
                  <%= p.map %>
                </ul>           
              </div> <!-- span -->
            </div> <!-- row fluid -->
          </div> <!-- event-details -->
        </header>

        <div class="story-body">
          <%= render_asset event, "event" %>
          <%= p.description %>
          <br style="clear: both" />
        </div>

        <footer>
          <%= pij_source(event, message: "This program was informed by KPCC Listeners.") %>
        </footer>
      </article>

      <%= content_widget "social_tools", event, cssClass: "horizontal bottom" %>
    </div> <!-- span -->
  </div> <!-- row-fluid -->
</div> <!-- event -->
<% end %>
