<% title ||= "Events" %>
<% cssClass ||= "" %>

<h2><%= title %></h2>
<%= any_to_list? events, title: title do %>
<section class="events-list <%= cssClass %>">
	<% events.each do |event| %>
  		<article class="cbase event teaser event-headers">
			<div class="row">
				<% if event.assets.present? %>
					<div class="span2">
						<%= render_asset event, 'lsquare' %>
					</div>
				<% end %>
				<div class="info <%= event.assets.present? ? "span6" : "span8" %>">
					<div class="event-details">
						<%= event_link event %> 
						<% if event.location_name.present? %>
							<span class="event-location"><%= event.location_name %></span>
						<% end %>
					</div> <!-- event-details -->
					<h1 class="story-title"><%= link_to event.title, event.link_path %></h1>
					<p><%= event.teaser.html_safe %></p>
				</div> <!-- info -->
			</div> <!-- row -->
		</article>
	<% end %>
<% end %>
<%= will_paginate events %>