<%= any_to_list? events, title: title ||= "Events" do %>
	<% events.each do |event| %>
  		<article class="cbase event teaser event-headers">
			<div class="row">
				<% if event.assets.present? %>
					<div class="span2">
						<%= render_asset event, 'lsquare' %>
					</div>
				<% end %>
				<div class="info <%= event.assets.present? ? "span6" : "span8" %>">
					<div class="event-details">
						<%= calendar_link event.starts_at, event: event, format: :full_day %> 
						<% if event.location_name.present? %>
							<span class="event-location">at <%= "the" if event.location_name.split[0].match(/the/i) %> <%= event.location_name %></span>
						<% end %>
					</div> <!-- event-details -->
					<h1 class="story-title"><%= link_to event.title, event.link_path %></h1>
					<p><%= event.teaser.html_safe %></p>
				</div> <!-- info -->
			</div> <!-- row -->
		</article>
	<% end %>
<% end %>
<%= will_paginate events %>