<% title ||= "" %>
<% cssClass ||= "" %>

<h2><%= title %></h2>
<%= any_to_list? events, title: title do %>
<section class="events-list <%= cssClass %>">
	<% events.each do |event| %>
  		<div class="cbase event teaser">
			<div class="row-fluid">
				<% if event.assets.present? %>
					<div class="span3">
						<a href="<%= event.link_path %>">
							<%= render_asset event, 'three' %>
						</a>
					</div>
					<div class="span9">
				<% else %>
					<div class="span12">
				<% end %>
					
					<div class="event-details">
						<div class="row-fluid">
							<div class="span4">
								<%= link_to format_date(event.starts_at, format: :event), event.link_path, class: "event-link" %>
							</div>
							<div class="span8">
								<% if event.location_name.present? %>
									<span class="event-location<%= " forum" if event.is_forum_event? %>"><%= event.location_name %></span>
								<% end %>
							</div>
						</div> <!-- row fluid -->
						<h1 class="story-title"><%= link_to event.title, event.link_path %></h1>
						<p><%= event.teaser.html_safe %> <%= link_to "More", event.link_path %></p>
					</div> <!-- event-details -->
				</div> <!-- span -->
			</div> <!-- row fluid -->
		</div>
	<% end %>
</section>
<% end %>
<%= will_paginate events %>