<nav class="events">
	<h4>Crawford Family Forum</h4>
	<%= link_to "Upcoming Events", forum_events_path %>
	<%= link_to "Past Events", forum_events_archive_path %>
	<%= link_to "Directions & Parking", forum_directions_path %>
	<%= link_to "Community Partnerships", forum_space_path %>
	<%= link_to "About the Crawford Family Forum", forum_about_path %>
	<%= link_to "Contact Us", forum_contact_path %>
</nav>