<nav class="section-nav">
	<%= link_to "Events Home", events_path %>
	<%= link_to "The Crawford Family Forum", forum_events_path %>
	<%= link_to "Directions & Parking", forum_directions_path %>
	<%= link_to "Community Partnerships", forum_space_path %>
	<%= link_to "Past Events", forum_events_archive_path %>
	<%= link_to "About the Crawford Family Forum", forum_about_path %>
</nav>