<% page_title "The Crawford Family Forum" %>

<% content_for :masthead do %>
<!-- HERO -->
	<header id="events-header">
		<div class="slides-wrapper">
			<div class="slide active" id="hero-1">
				<div class="slide-text">
					<h3>Where the conversation starts</h3>
					<p></p>
				</div>
				<%= image_tag 'event-headers/hero-1.jpg', alt: "" %>
			</div>
		
			<div class="slide" id="hero-2">
				<div class="slide-text">
					<h3>Vital voices, important issues</h3>
					<p></p>
				</div>
				<%= image_tag 'event-headers/hero-2.jpg', alt: "" %>
			</div>
		
			<div class="slide" id="hero-3">
				<div class="slide-text">
					<h3>Be part of the conversation</h3>
					<p></p>
				</div>
				<%= image_tag 'event-headers/hero-3.jpg', alt: "" %>
			</div>
		
			<div class="slide" id="hero-4">
				<div class="slide-text">
					<h3>Engage your community</h3>
					<p></p>
				</div>
				<%= image_tag 'event-headers/hero-4.jpg', alt: "" %>
			</div>
		</div><!-- slides-wrapper -->
		<div class="choosers">
			<div class="chooser active" data-slide="hero-1">1</div>
			<div class="chooser" data-slide="hero-2">2</div>
			<div class="chooser" data-slide="hero-3">3</div>
			<div class="chooser" data-slide="hero-4">4</div>
		</div> <!-- choosers -->
    </header>
<% end %>

<!-- CONTENT -->
<div class="row events">
	
	<!-- LEFT COLUMN -->
	<section class="span5 upcoming-events">
		<h6>Attend an Upcoming Event</h6>
		<% if @closest_event.present? %>
			<div class="event closest">
				<%= render_asset @closest_event, 'lead5' %>
				<div class="calendar-date"><%= link_to format_date(@closest_event.starts_at, format: :event), @closest_event.link_path, class: "event-link" %> </div>
				<h1 class="story-title"><%= link_to @closest_event.title, @closest_event.link_path %></h1>
				<%= @closest_event.teaser %>
			</div>
		<% end %>
		
		<div class="future-events">
			<%= any_to_list? @future_events, title: "Future Events", message: "There are no events planned for the near future. Check back soon!" do %>
				<% @future_events.each do |event| %>
					<div class="event future">
						<div class="row">
							<% if event.assets.present? %>
								<div class="span2">
									<%= render_asset event, 'lsquare' %>
								</div>
							<% end %>
							<div class="info <%= event.assets.present? ? "span3" : "span5" %>">
								<%= link_to format_date(event.starts_at, format: :event), event.link_path, class: "event-link" %> 
								<h2 class="story-title"><%= link_to event.title, event.link_path %></h2>
								<%= event.teaser %>
							</div>
						</div> <!-- row -->
					</div>
				<% end %>
			<% end %>
			<p><a href="/events/list/forum" class="more">More Upcoming Events</a></p>
		</div>
	</section> <!-- upcoming-events -->
	
	<!-- MIDDLE COLUMN (social media) -->
	<section class="span4 social">
		<h3>Follow Us on Social Media</h3>
		<div class="banners">
			<a href="https://www.facebook.com/pages/KPCCs-Crawford-Family-Forum/172994359388346" class="facebook-banner" alt="Follow the Crawford Family Forum on Facebook">&nbsp;</a>
			<a href="http://twitter.com/KPCCForum" class="twitter-banner" alt="Follow the Crawford Family Forum on Twitter">&nbsp;</a>
		</div>
		
		<!-- TWITTER -->
		<% if cached_tweets = Rails.cache.fetch("twitter:KPCCForum") %>
			<a class="twitter-peeker" href="http://twitter.com/KPCCForum">Tweets from the Crawford Family Forum</a>
			<%= cached_tweets %>
		<% end %>
	</section>
</div> <!-- .row -->


<!-- ARCHIVE STRIP -->
<% if any_to_list? @past_events %>
	<% content_for :bottom do %>
		<div class="row">
			<section class="span12 archive-strip">
				<h3 class="title"><%= link_to "Check out events from the Archive", forum_events_archive_path %></h3>
				<div class="row past-events">
					<% @past_events.each do |event| %>
						<div class="span4">
							<article class="event past<%= " divider" unless event == @past_events.last %>">
								<div class="row">
									<% if event.assets.present? %>
										<div class="span1">
											<%= render_asset event, 'thumb' %>
										</div>
									<% end %>
									<div class="info <%= event.assets.present? ? "span3" : "span4" %>">
										<h4 class="story-title"><%= link_to event.title, event.link_path %></h4>
										<p class="byline"><%= format_date event.starts_at, format: :full_date %></p>
										<% if event.audio.present? %>
											<%= content_tag :div, link_to("Listen to this event", event.audio_url, class: "inline audio-toggler", title: event.title), class: "story-audio inline" %>
										<% elsif event.show_comments %>
											<%= comment_count_for event %>
										<% end %>
									</div>
								</div> <!-- row -->
							</article>
						</div>
					<% end %>
				</div>
			</section>
		</div><!-- row -->
	<% end %>
<% end %>

<% content_for :footerjss do %>
	fader = new scpr.HeroFader;
<% end %>
