<% page_title "The Crawford Family Forum" %>

<% content_for :masthead do %>
<!-- HERO -->
	<header id="events-header">
		<div class="hero">
			<%= image_tag 'event-headers/hero-1.jpg', alt: "", class: 'active', id: "hero-1" %>
	      	<%= image_tag 'event-headers/hero-2.jpg', alt: "", id: "hero-2" %>
	      	<%= image_tag 'event-headers/hero-3.jpg', alt: "", id: "hero-3" %>
	      	<%= image_tag 'event-headers/hero-4.jpg', alt: "", id: "hero-4" %>
		</div> <!-- hero -->
		<div class="choosers">
			<% 4.times do |i| %>
				<div class="chooser" data-slide="hero-<%=i+1%>">+</div>
			<% end %>
		</div> <!-- movers -->
		<div class="hero-text">
			<div class="cff-logo">&nbsp;</div>
			<div class="tagline">
	 			<h3>Where the conversation starts</h3>
	 			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>
		</div> <!-- hero-text -->
    </header>
<% end %>

<!-- CONTENT -->
<div class="row events">
	
	<!-- LEFT COLUMN -->
	<section class="span5 upcoming-events">
		<h6>Attend an Upcoming Event</h6>
		<% if @closest_event.present? %>
			<div class="event closest">
				<%= render_asset @closest_event, 'lead5' %>
				<div class="calendar-date"><%= calendar_link @closest_event.starts_at, event: @closest_event, format: :full_day %></div>
				<h1 class="story-title"><%= link_to @closest_event.title, @closest_event.link_path %></h1>
			</div>
		<% end %>
		
		<div class="future-events">
			<%= any_to_list? @future_events, title: "Future Events", message: "There are no events planned for the near future. Check back soon!" do %>
				<% @future_events.each do |event| %>
					<div class="event future">
						<div class="row">
							<% if event.assets.present? %>
								<div class="span2">
									<%= render_asset event, 'lsquare' %>
								</div>
							<% end %>
							<div class="info <%= event.assets.present? ? "span3" : "span5" %>">
								<%= calendar_link event.starts_at, event: event, format: :full_day %>
								<h2 class="story-title"><%= link_to event.title, event.link_path %></h2>
								<%= event.teaser %>
							</div>
						</div> <!-- row -->
					</div>
				<% end %>
			<% end %>
		</div>
	</section> <!-- upcoming-events -->
	
	<!-- RIGHT COLUMN (social media) -->
	<section class="span4 social">
		<h3>Follow Us on Social Media</h3>
		<div class="banners">
			<a href="https://www.facebook.com/pages/KPCCs-Crawford-Family-Forum/172994359388346" class="facebook-banner" alt="Follow the Crawford Family Forum on Facebook">&nbsp;</a>
			<a href="http://twitter.com/KPCCForum" class="twitter-banner" alt="Follow the Crawford Family Forum on Twitter">&nbsp;</a>
		</div>
		<a class="twitter-peeker" href="http://twitter.com/KPCCForum">Tweets from the Crawford Family Forum</a>
		<%# @tweets.each do |tweet| %>
		<% 5.times do %> <%# This is just so it's not empty in development for now%>
			<div class="tweet">
				<%= image_tag "facebook/CFF-twitter.png", class: "tweet-image"%>
				<div class="tweet-content">
					<h5>CrawfordFamilyForum</h5>
					<%# tweet.text.html_safe %>
					Thanks to Kim, Brian, and Ted for this evening's program #FacingCrisis
				</div>
			</div>
		<% end %>
	</section>
</div> <!-- .row -->


<!-- ARCHIVE STRIP -->
<% if any_to_list? @past_events %>
	<% content_for :bottom do %>
		<div class="row">
			<section class="span12 archive-strip">
				<h3 class="title"><%= link_to "Check out events from the Archive", forum_events_archive_path %></h3>
				<div class="row past-events">
					<% @past_events.each do |event| %>
						<div class="span4">
							<article class="event past<%= " divider" unless event == @past_events.last %>">
								<div class="row">
									<% if event.assets.present? %>
										<div class="span1">
											<%= render_asset event, 'thumb' %>
										</div>
									<% end %>
									<div class="info <%= event.assets.present? ? "span3" : "span4" %>">
										<h4 class="story-title"><%= link_to event.title, event.link_path %></h4>
										<%= calendar_link event.starts_at, class: "byline", wrapper: "p", format: :full_date %>
									</div>
								</div> <!-- row -->
							</article>
						</div>
					<% end %>
				</div>
			</section>
		</div><!-- row -->
	<% end %>
<% end %>


<% content_for :sidebar do %>
<!-- SIDEBAR -->
	<nav class="events">
		<h4>Crawford Family Forum</h4>
		<%= link_to "Upcoming Events", events_path %>
		<%= link_to "Past Events", events_path %>
		<%= link_to "Directions & Parking", events_path %>
		<%= link_to "Community Partnerships", events_path %>
		<%= link_to "About the Crawford Family Forum", events_path %>
		<%= link_to "Contact Us", events_path %>
	</nav>
	
	<a href="<%= forum_directions_path %>" id="getting-there" class="widget event-headers">
		<h3>Getting to the <br />Crawford Family Forum</h3>
		<ul>
			<li>Directions</li>
			<li>Parking</li>
			<li>Public Transit</li>
		</ul>
	</a>
	
	<div id="community-partnerships" class="widget event-headers">
		<h3>Community Partnerships</h3>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> <!-- temporary -->
	</div>
	
	<div class="widget event-headers">
		<br /><br /><br />
		<div style="text-align: center;">Membership Promo</div>
		<br /><br /><br /><br /><br /><br /><br /> <!-- temporary -->
	</div>
<% end %>

<% content_for :footerjss do %>
	var faderTimeout;
	function slideSwitch(next) {
		// Immediately complete any animations that are running right now
		$('#events-header .hero img').stop(true, true);
		
		// Figure out which image is active
	    var $active = $('#events-header .hero img.active');
	    if ($active.length == 0) $active = $('#events-header .hero img:last');
		
		// Figure out which image is next
		var $next = next || ($active.next().length ? $active.next() : $('#events-header .hero img:first'));

		// Don't do anything if the user clicked on the chooser for the slide that they're already on
		if($next[0] != $active[0]){
			// Clear the timeout incase we clicked a button in the middle of one
			clearTimeout(faderTimeout);
			
			// Start the process by adding the "last-active" class to the current image
		    $active.addClass('last-active');
		
			// Now fade in the next image on top of the last-active image
		    $next.css({opacity: 0.0})
		        .addClass('active')
		        .animate({opacity: 1.0}, 2000, function() {
					// When it's done fading in, remove the special classes from the old image
		            $active.removeClass('active last-active');
		        });
		
			// Set the time until the next fade
			faderTimeout = setTimeout("slideSwitch()", 8000);
		}
	}
	
	$(document).ready(function() {
		faderTimeout = setTimeout("slideSwitch()", 8000);
		$(".chooser").on({
			click: function() {
				slideSwitch($("#"+$(this).attr('data-slide')));
			}
		});
	});
<% end %>
