<%= render_content @event, "opengraph" %>

<% present @event do |p| %>
  <% add_to_page_title p.headline %>

  <% content_for :head_tag, javascript_include_tag("http://maps.googleapis.com/maps/api/js?key=#{Rails.application.config.api["google"]["maps"]}&sensor=true ") %>

  <% content_for :footer do %>
    <script>gmapsLoader = new scpr.GMapsLoader();</script>
  <% end %>
  
  <%# move this... %>
  <%
    expires = nil
    if @event.ends_at.to_i > Time.now.to_i
      expires = @event.ends_at - Time.now 
    end
  %>
  
  <%# Automagically expire this cache when it ends %>
  <%= cache ["show", "v8", @event], expires_in: expires do %>
    <%= render "/events/event", event: @event %>
  <% end %>

  <div class="fold events-fold" id="fold">
    <%= render "shared/related_content_and_links", content: @event %>

    <% if @more_events.present? && (@event.upcoming? || @event.current?) && @event.is_forum_event? %>
      <aside class="more-events" id="more-events">
        <div class="row-fluid">
          <div class="span6 row-title">
            <h6>More Events at the Crawford Family Forum</h6>
          </div>
          <div class="span18">
            <div class="row-fluid">
              <div class="span12">
                <%= render 'small_event', event: @more_events.first %>
              </div>
              <div class="span12">
                <%= render 'small_event', event: @more_events.last %>
              </div>
            </div> <!-- row fluid -->
          </div> <!-- span -->
        </div> <!-- row fluid -->
      </aside> <!-- more events -->
    <% end %>

    <div class="row-fluid">
      <div class="span6" id="fold-comments-count-widget">
        <%= content_widget "comment_count", @event, cssClass: "left-side", name: "comments" %>
      </div>
      <div class="span18 mq-solo-span">
        <%= content_widget "comments", @event, header: false %>
      </div>
    </div> <!-- row-fluid -->
  </div>
<% end %>

<%= render 'shared/scripts/embedder' %>
