<% present @event do |p| %>
  <% page_title [p.headline, "Events"] %>
  <% watch_gmaps %>

  <%= cache ["show", "v1", @event], expires_at: @event.ends_at do %>
    <div class="event content-block">
      <div class="row-fluid">
        <%= widget "article_meta", @event %>
  
        <div class="span18 mq-solo-span" id="events-event-detail">
          <article>
            <header>
              <h1 class="story-headline event-headline"><%= link_to p.headline, p.link_path %></h1>
              <%= p.sponsor %>
        
              <div class="event-details">
                <div class="row-fluid">
                  <div class="span12">
                    <%= p.date %>
                    <%= p.rsvp_link %>
                  </div> <!-- span -->
        
                  <div class="span12">
                    <div class="location-text">Location</div>
                    <ul class="address">
                      <li><span class="blue"><%= p.location_name %></span></li>
                      <%= p.address %>
                      <%= p.map %>
                    </ul>           
                  </div> <!-- span -->
                </div> <!-- row fluid -->
              </div> <!-- event-details -->
            </header>
    
            <div class="story-body">
              <%= render_asset @event, "event" %>
              <%= p.description %>
              <br style="clear: both" />
            </div>
          </article>
    
          <%= widget "social_tools", @event, cssClass: "horizontal bottom" %>
        </div> <!-- span -->
      </div> <!-- row-fluid -->
    </div> <!-- event -->
  <% end %>

  <div class="fold events-fold" id="fold">
    <% if @more_events.present? && (@event.upcoming? || @event.current?) && @event.is_forum_event? %>
      <aside class="more-events" id="more-events">
        <div class="row-fluid">
          <div class="span6 row-title">
            <h6>More Events at the Crawford Family Forum</h6>
          </div>
          <div class="span18">
            <div class="row-fluid">
              <div class="span12">
                <%= render 'small_event', event: @more_events.first %>
              </div>
              <div class="span12">
                <%= render 'small_event', event: @more_events.last %>
              </div>
            </div> <!-- row fluid -->
          </div> <!-- span -->
        </div> <!-- row fluid -->
      </aside> <!-- more events -->
    <% end %>

    <div class="row-fluid">
      <div class="span6" id="fold-comments-count-widget">
        <%= widget "comment_count", @event, cssClass: "left-side", name: "comments" %>
      </div>
      <div class="span18 mq-solo-span">
        <%= widget "comments", @event, header: false %>
      </div>
    </div> <!-- row-fluid -->
  </div>
<% end %>
