<div class="story content-block">
  <%= content_widget "social_tools", story, cssClass: "top horizontal" %>

  <article>
    <header>
      <h1 class="story-headline"><%= link_to story.headline, story.public_path %></h1>
      <span class="byline">
        <%= render_byline story %> <span class="pipe">|</span> <%= timestamp(story.published_at) %></time>
      </span>
    </header>

    <div class="story-body <%= story.story_asset_scheme.present? ? "storycenter" : "storyleft" %>">
      <div class="visible-reader"><%= content_widget "primary_audio", story %></div>
      <%= render_asset story, "story" %>

      <div class="storybar">
        <%= comment_widget_for story, cssClass: 'right-side' %>
        <div class="hidden-reader"><%= content_widget "audio", story %></div>
        <%= render_asset(story, "extra") if story.extra_asset_scheme == "sidebar" %>
      </div>

      <%= story.body.html_safe %>
    </div>

    <footer>
      <p><i><%= render_contributing_byline story %></i></p>
      <div class="visible-reader"><%= content_widget "extra_audio", story %></div>

      <%= pij_source(story) %>
      <%= render partial: "/shared/author_info", collection: story.grouped_bylines[:primary], as: :byline %>
    </footer>
  </article>

  <%= content_widget "social_tools", story, cssClass: "bottom horizontal" %>
</div> <!-- story -->
