<% add_to_page_title @story.headline %>
<%= render_content @story, "opengraph" %>

<%= cache ["show", "v11", @story] do %>
  <%= render "/news/story", story: @story %>
<% end %>

<div class="fold inline" id="fold">
  <%= render "shared/related_content_and_links", content: @story %>
  <%= content_widget 'content_carousel', @story %>
  <%= comments_for @story %>
</div>

<% content_for :analytics do %>
  _gaq.push(['_setCustomVar',1,'Source','<%=@story.source%>',3]);
<% end %>

<%= render 'shared/scripts/embedder' %>
