<% @PAGE_TITLE = @story.headline %>

<% content_for :headline do %>
	<%= render "shared/cwidgets/social_tools", :cssClass => '', :content => @story %>
	<h1 class="story-headline"><%= @story.headline %></h1>
	<p class="byline">By <%= render_byline @story %> <span class="pipe">|</span> <time pubdate><%= smart_date @story %></time></p>
<% end %>

<% content_for :news_content do %>
	<%= render_asset @story, "story" %>

	<div class="storybar" style="width: 160px;float: right;clear:right;margin-right: -190px">
		<%= render "shared/cwidgets/comment_count", :cssClass => 'right-side', :content => @story %>
		<%= render "shared/cwidgets/audio", :content => @story %>
	</div>

	<%= simple_format @story.body, {}, :sanitize => false %>

	<%= render "shared/cwidgets/related_articles", :content => @story %>

	<%= render "shared/cwidgets/pij_query", :content => @story %>

	<%= render "shared/cwidgets/social_tools", :cssClass => 'bottom', :content => @story %>

	<%= render :partial => "shared/cwidgets/author_info", :collection => @story.bylines.primary.all, :as => :byline %>
<% end %>

<% content_for :postcontent do %>
	<%= render "shared/cwidgets/content_carousel", :content => @story %>
	<%= render "shared/cwidgets/comments", :cssClass => '', :content => @story %>
<% end %>

<%= render "shared/cwidgets/track_page", :content => @story %>

<%= render :file => "layouts/content/news" %>