<% content_for :headline do %>
<article>
	<h1 class="story-headline"><%= @story.headline %></h1>
	<p class="byline"><%= byline @story %> <span class="pipe">|</span> <time pubdate><%= smart_date @story %></time></p>
<% end %>

	<% content_for :body do %>
	<%= render_asset @story, "story" %>

	<%= render "shared/audio/story_audio" %>

	<%= simple_format @story.lede %>
	<%= simple_format @story.body %>
	</article>
<% end %>