<h1 class="story-headline"><%= @story.headline %></h1>
<h4>by <%= byline @story %> | <%= smart_date @story %></h4>

<%= render_asset @story, "story" %>

<%= simple_format @story.lede %>
<%= simple_format @story.body %>