<div class="row">
	<header class="span8 episode">
		<div class="row">
		    <div class="span5">
		    	<h4><%= content.title %></h4>
		    </div>
		    <div class="span3">
		    	<% if content.audio.present? %>
					<div class="right">
						<aside class="story-audio inline">
								<a href="<%= content.audio.first.url %>" class="play-btn audio-toggler" title="<%= h content.headline %>"></a>
								<%= link_to "Listen to this episode", content.audio.first.url, class: "audio-toggler play-text" %>
								<a href="<%= content.audio.first.url %>" class="download">Download</a>
						</aside>
					</div>
				<% end %>
		    </div>
		</div>
	</header>
</div>

<section class="show-segments episode span8">
	<% for segment in content.segments %>
		<article class="segment-teaser">
			<div class="row">
				<% if segment.assets.present? %>
					<div class="span2">
						<%= render_asset segment, 'lsquare' %>
					</div>
				<% end %>
				<div class="info divider <%= segment.assets.present? ? "span4" : "span6" %>">
					<h3><%= link_to segment.title, segment.link_path %></h3>
					<p class="byline"><time pubdate=""><%= smart_date segment %></time> <span class="pipe">|</span> <%= render_byline segment %></p>
					<%= segment.teaser %>
				</div>
				<div class="interact span2">
					<% if segment.status != ShowSegment::STATUS_LIVE %>
						<b>THIS SEGMENT IS NOT YET PUBLISHED!</b>
					<% end %>
				</div>
			</div>
		</article>
	<% end %>
</section>
