<%= simple_form_for @message, :url => content_email_path(:obj_key => @content.obj_key) do |f| %>

	<h6>Email this to a friend:</h6>
	<hr />
	<div class="cbase">
		<h2 class="story-headline"><%= @content.headline %></h2>
		<p><%= @content.teaser %></p>
	</div>
	<hr />

  <fieldset class="fields">
	<% unless flash[:alert].blank? %>
		<div class="error"><%=h flash[:alert] %></div>
	<% end %>
    <ul class="inputs-list">
    	<li class="field">
	      <%= f.label :email, "Send This To:" %>
	      <%= f.text_field :email, :class => "xlarge", :placeholder => "Email address" %>
	    </li>
		<li class="field">
	      <%= f.label :name, "From:" %>
	      <%= f.text_field :name, :class => "xlarge", :placeholder => "Your name" %>
	    </li>
		<li class="field">
	      <%= f.label :body, "Add a personal message:" %>
	      <%= f.text_area :body, :class => "xlarge" %>
	    </li>
    </ul>
  </fieldset>

	<%= f.text_field :lname, :class => "hidden" %>

  <fieldset>
    <%= f.submit "Share", :class => "btn primary" %>
  </fieldset>
<% end %>