<%= simple_form_for @message do |f| %>
  <fieldset class="fields">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </div>
    
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
  </fieldset>
  
  <fieldset class="actions">
    <%= f.submit "Send" %>
  </fieldset>
<% end %>