<article class="segment-teaser">
	<div class="row">
		<div class="span2">
			<%= render_asset segment, 'segment' %>
		</div>
		<div class="info span4">
			<h3><%= link_to segment.title, segment.link_path %></h3>
			<%= segment.teaser %>
		</div>
		<div class="interact span2">
			<% if segment.audio.present? %>
				<%= link_to_audio "Listen to the story", segment, class: "inline" %>
			<% end %>
			<%= render "shared/cwidgets/comment_count", :cssClass => 'inline', :content => segment %>
		</div>
	</div>
</article>

<% content_for :footerjss do %>
	if (!scA)
		var scA = new scpr.Audio()
<% end %>