<!DOCTYPE html>
<html lang="en">
<head>
	<title>Breaking News</title>
</head>
<body>
	<table cellspacing="0" cellpadding="0" width="100%" bgcolor="ffffff">
		<tr>
		    <td>
		    	<table cellspacing="0" cellpadding="0" width="90%" align="center" style="border-bottom:1px solid #ccc;padding-bottom:18px;">
				    <tr>
				        <td width="240">
				            <img src="<%= "http://scpr.org#{image_path('logo-masthead.png')}" %>" alt="89.3 KPCC, Southern California Public Radio" />
				        </td>
				        <td>
							<img src="<%= "http://scpr.org#{image_path('breaking-news/breaking.png')}" %>" alt="News Update" />
						</td>
				    </tr>
				</table>
				<table cellspacing="0" cellpadding="0" width="90%" align="center">
					<tr>
						<td>
							<h1 style="color:#000;font-family:Helvetica, sans-serif;font-size:28px;font-weight:bold;"><%= alert.headline %></h1>
							<p style="color:#000;font-family:Georgia, serif;font-size:16px;line-height:26px;"><%= alert.teaser %></p>
							<% if alert.alert_link.present? %>
								<p style="color:#000;font-family:Helvetica, sans-serif;font-size:18px;font-weight:bold;">For more information: <%= link_to alert.alert_link, alert.alert_link %></p>
							<% end %>
							
							<div style="background-color:#EAEAEA;padding:14px;">
								<h3 style="color:#b24401;font-family:Helvetica, sans-serif;font-size:18px;font-weight:bold;">KPCC delivers breaking news to your inbox</h3>
								<img src="http://a.scpr.org/i/c21f833c86614f4476ff0a9d7e459904/40623-three.jpg" alt="Russ Stanton, KPCC VP of Content" style="float:left;margin:0 18px 9px 0;width:100px;height:150px;" />
								<p style="color:#000;font-family:Helvetica, sans-serif;font-size:14px;">Dear %%SCPR Informal Salutation%%,</p>
								<p style="color:#000;font-family:Helvetica, sans-serif;font-size:14px;">As a supporter of 89.3 KPCC, we know you want to stay informed about the most important news in Southern California and beyond. As part of our commitment to expand our award-winning news coverage, today we are announcing a new service: breaking news alerts delivered right to your inbox.</p>
								<p style="color:#000;font-family:Helvetica, sans-serif;font-size:14px;">Starting soon, you'll receive an e-mail alert any time major news breaks breaks on-air or on KPCC.org. These alerts will connect you faster to news that's important to you. If you would prefer not to receive these communications from us, you can opt out any time by going to our unsubscribe page.</p>
								<p style="color:#000;font-family:Helvetica, sans-serif;font-size:14px;">We appreciate your generous and continued support of KPCC.</p>
								<p style="color:#000;font-family:Helvetica, sans-serif;font-size:14px;">Russ Stanton<br> Senior VP of Content, KPCC</p>
							</div>
						</td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" width="90%" style="margin-top:30px;" align="center">
					<tr>
					    <td>
					    	<a href="http://facebook.com/kpccfm" style="color:#000;font-family:Helvetica, sans-serif;font-size:11px;text-decoration:none;padding:8px 8px 8px 0;">
								<img src="<%= "http://scpr.org#{image_path('icons/tiny-facebook.png')}" %>" alt="Facebook" />
								KPCC on Facebook
					    	</a>
					    </td>
					    <td>
					    	<a href="http://twitter.com/kpcc" style="color:#000;font-family:Helvetica, sans-serif;font-size:11px;text-decoration:none;padding:8px;">
					    		<img src="<%= "http://scpr.org#{image_path('icons/tiny-twitter.png')}" %>" alt="Twitter" />
								KPCC on Twitter
					    	</a>
					    </td>
					    <td>
					    	<a href="http://www.scpr.org/newsletters/breaking_news_unsubscribe/?e=%%EMAIL_ADDRESS%%" style="color:#000;font-family:Helvetica, sans-serif;font-size:11px;text-decoration:none;padding:8px;">
								<img src="<%= "http://scpr.org#{image_path('icons/newsletter-subscribe.png')}" %>" alt="Unsubscribe" />
								Unsubscribe
					    	</a>
					    </td>
					</tr>
				</table>
		    </td>
		</tr>
	</table>
</body>
</html>
