<%= form_block "Details" do %>
  <%= f.input :headline, label: "Title", input_html: { class: 'wide sluggable' } %>
  <%= f.input :event_type, label: "Type", collection: Event.event_types_select_collection, include_blank: false %>
  <%= f.input :status, collection: Event.status_select_collection, include_blank: false %>

  <%= f.input :body, input_html: { class: 'cke-editor-restrictive' } %>
<% end %>

<%= form_block "Date/Time" do %>
  <%= f.input :starts_at %>
  <%= f.input :ends_at %>
  <%= f.input :is_all_day, label: "All-Day Event?" %>
<% end %>

<%= form_block "Short Details" do %>
  <%= f.section "slug" %>

  <%= f.input :hashtag, wrapper: :prepend, hint: "No # symbol" do %>
    <span class="add-on">#</span><%= f.input_field :hashtag, class: 'span2' %>
  <% end %>

  <%= f.input :teaser, as: :text, hint: "This will be generated on publish if left blank.", input_html: { class: "tiny" }, wrapper_html: { class: "field-counter", data: { target: 145, fuzziness: 20 } } %>
<% end %>

<%= form_block "Location" do %>
  <%= f.input :location_name, hint: "e.g, The Crawford Family Forum" %>
  <%= f.input :location_url, hint: "If present, makes the location text a link to this URL." %>
  <%= f.input :address_1, label: "Address (line 1)" %>
  <%= f.input :address_2, label: "Address (line 2)" %>
  <%= f.input :city %>
  <%= f.input :state, input_html: { class: "tiny", value: record.state || "CA" } %>
  <%= f.input :zip_code, as: :string, input_html: { class: "thin" } %>
  <%= f.input :show_map %>
<% end %>

<%= form_block "Sponsor/Contact" do %>
  <%= f.input :rsvp_url, hint: "If this event requires an RSVP, put the URL for the RSVP page here. <br/>" \
                                "For web sites: Use the full URL, including http://<br/>" \
                                "For email addresses: Enter the address beginning with mailto: (example: mailto:contact@kpcc.org)" %>
  <%= f.input :sponsor, hint: "Contact person, sponsoring organization, etc" %>
  <%= f.input :sponsor_url, hint: "If present, makes the contact text a link to this URL." %>
  <%= f.association :kpcc_program, hint: "If this event belongs to a KPCC-produced show, select it here." %>
  <%= f.input :is_kpcc_event, label: "KPCC Event?", hint: "Event is sponsored by or on behalf of KPCC." %>
  <%= f.input :is_from_pij, hint: "Was this event informed by PIJ Sources?" %>
<% end %>

<%= form_block "Extra" do %>
  <%= f.input :archive_description, input_html: { class: "cke-editor-restrictive" }, hint: "Description to display after the event has happened" %>
<% end %>

<%= f.section "assets" do %>
  <%= f.input :event_asset_scheme, 
              :collection    => NewsStory::ASSET_SCHEMES, 
              :include_blank => false,
              :hint          => "Sets up the top-of-story formatting for assets attached through AssetHost. " %>
<% end %>

<%= f.section "audio" %>
<%= f.section "related_links" %>
<%= f.section "related_content" %>
