<%= form_block "Login" do %>
  <%= f.input :username %>
<% end %>

<%= form_block "Personal Details" do %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
<% end %>

<%= form_block "Permissions" do %>
  <%= f.input :is_staff, hint: "May this user login to the admin?" %>
  <%= f.input :is_active %>
  <%= f.input :is_superuser %>
  
  <% if admin_user.can_manage?(Permission) %>
    <%= f.association :permissions, include_blank: "NO PERMISSIONS",
        hint: "Which resources can this user manage?<br />" \
        "Selecting a resource gives this user the ability to <br />" \
        "Create, Read, Update, and Delete *any* of those records." %>
  <% else %>
    <ul>
      <% record.permissions.each do |permission| %>
        <li><%= permission %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
