<%= form_block "Details" do %>
  <%= f.input :title %>
<% end %>

<%= form_block "Content" do %>
  <div id="aggregator" class="aggregator"></div>
  <%= f.input :content_json, as: :hidden, input_html: { id: "content_json" } %>
<% end %>

<% content_for :footer do %>
  <script>
    aggregator = new outpost.Aggregator(
      "#aggregator", "#content_json",
      <%= render_json('api/private/v2/articles/collection', articles: record.content.includes(:content).map(&:content).map(&:to_article)) %>,
      {
        view: { active: 'search' },
        apiType: "private",
        params: {
          limit: 20,
          token: "<%= Rails.application.config.api['assethost']['token'] %>",
          order: "updated_at",
          sort_mode: "desc",
          with: { status: <%=ContentBase::STATUS_LIVE%> }
        }
      }
    );
  </script>
<% end %>
