<% content_for :oas_listpos, 'x61,x62,x63' %>
<% add_to_page_title "Listen Live" %>

<%= render "/shared/header/document_header" %>

<body class="minimal listen">
  <header class="topbar">
    <div class="wrapper">
      <a href="/" target="_blank" class="logo"><%= image_tag 'logo-masthead-dark.png' %></a>
    <span class="pledge"><a href="https://scprcontribute.publicradio.org/contribute.php?" target="_blank">Pledge now</a></span>
    </div>
  </header>
  
  <div id="content">
    <div class="player">
      <div class="wrapper clearfix">
        <div>
          <h2>Listen Live</h2>
          <span class="small">
            More ways to listen:&nbsp;&nbsp;
            <a href="http://www.scpr.org/iphone/" target="_blank">KPCC iPhone app</a>
            <span class="pipe">|</span>
            <a href="http://live.scpr.org/listen.pls">MP3/iTunes</a>
            <span class="pipe">|</span>
            <a href="mms://kpcclive1.publicradio.org">Windows Media</a>
          </span>
        </div>
      </div> <!-- wrapper -->
          
      <div id="jquery_jplayer_1" class="jp-jplayer"></div>
      <div id="jp_container_1" class="jp-audio">
        <div class="jp-type-single clearfix">
          <div class="jp-no-solution alert-message error">
            <strong>Update Required</strong>
            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
          </div>
          <!-- put bar-close first so it floats right properly when the widget switches to modal 
             On the normal layout, everything here is floated so it still gets pushed to the right properly -->

          <div class="section-left">
            <div class="jp-gui jp-interface clearfix">
              <ul class="jp-controls clearfix">
                <li><a href="javascript:;" class="jp-play">play</a></li>
                <li><a href="javascript:;" class="jp-pause">pause</a></li>
              </ul>
              <div class="jp-progress">
                  <div class="jp-current-time"></div>
              </div> <!-- jp-progress -->
              <div class="clearfix"></div>
              <ul class="volume-controls">
                <li><a href="javascript:;" class="jp-mute">mute</a></li>
                <li><a href="javascript:;" class="jp-unmute">unmute</a></li>
                <li>
                  <div class="jp-volume-bar">
                    <div class="jp-volume-bar-value"></div>
                  </div>
                </li>
                <li><a href="javascript:;" class="jp-volume-max">max vol</a></li>
              </ul>
            </div> <!-- jp-gui -->
          </div> <!-- section-left -->

          <div class="section-mid" id="llschedule">
          </div> <!-- section-mid -->
        </div> <!-- jp-type-single -->
      </div> <!-- jp-audio -->
    </div> <!-- player -->
  </div> <!-- content -->

  <% if @homepage.present? %>
    <div class="wrapper headlines" id="llcontent">
      <h6>Top Story</h6>
      <%= render_content @homepage.content[0].content.to_article, "offlead_asset" %>

      <h6>More Headlines</h6>
      <ul class="cbase">
        <%= render_content @homepage.content[1..-1].map { |c| c.content.to_article }, "headline" %>
      </ul>
    </div> <!-- headlines -->
  <% end %>
  
  <hr />
  <div class="ad" style="text-align:center; height:80px"> 
    <p><small>Sponsors</small></p>

    <!-- OAS AD 'Center1' begin --> 
    <script> 
    <!-- 
    OAS_AD('x61'); 
    //--> 
    </script> 
    <!-- OAS AD 'Center1' end --> 

    <!-- OAS AD 'Center1' begin --> 
    <script> 
    <!-- 
    OAS_AD('x62'); 
    //--> 
    </script> 
    <!-- OAS AD 'Center1' end --> 

    <!-- OAS AD 'Center1' begin --> 
    <script> 
    <!-- 
    OAS_AD('x63'); 
    //--> 
    </script> 
    <!-- OAS AD 'Center1' end -->
    <p><small><a href="/support/underwriting/online_sponsorship/">Advertise with us</a></small></p>
  </div> <!-- ad -->

  <footer>
    <div>
      <ul class="menu unstyled clearfix">
        <li><a href="/terms/" target="_blank">Terms &amp; Conditions</a></li>
        <li><a href="/privacy/" target="_blank">Privacy</a></li>
        <li style="border:none"><a href="/web_site_feedback" target="_blank">Website Feedback</a></li>
        <li>Copyright <%= Time.now.year %> &copy; Southern California Public Radio</li>
      </ul>
    </div>
  </footer>
  
<% content_for :footer do %>
  <script>
    llPlayer = new scpr.ListenLive.CurrentGen({
      schedule:   <%= @schedule.map(&:listen_live_json).to_json.html_safe %>
    })
    
    $("#llcontent a").attr("target","_blank");
  </script>
<% end %>

<% content_for :analytics do %>
  _gaq.push(['_setCustomVar',
        12,                   // This custom var is set to slot #2.  Required parameter.
        'Listen Live Visitor', // The name of the custom variable.  Required parameter.
        'Yes',               // The value of the custom variable.  Required parameter.
                             //  (you might set this value by default to No)
        1                    // Sets the scope to session-level.  Optional parameter.
     ]);
<% end %>

<%= render "/shared/footer/document_footer" %>
  
