<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<title>Listen Live | 89.3 KPCC</title>
	<meta name="viewport" content="width=556">
	
	<%= render "shared/header/header_js" %>
	<%= render "shared/header/opengraph" %>
	<%= csrf_meta_tags %>
	
	<style type="text/css">

	</style>

</head>
<body class="minimal listen">
    
  <header class="topbar">
    
    <div class="wrapper">
    	<a href="/" target="_blank" class="logo"><%= image_tag 'logo-masthead-dark.png' %></a>
		    <span class="pledge"><a href="/support/" target="_blank">Pledge now</a></span>
		</a>
    </div>
  </header>

  <div id="content">
		<div class="player">
			<div class="wrapper clearfix">
			  <div>
          		<h2>Listen Live</h2>
              	<span class="small">
					More ways to listen:&nbsp;&nbsp;
					<a href="http://www.scpr.org/iphone/" target="_blank">KPCC iPhone app</a>
					<span class="pipe">|</span>
					<a href="http://live.scpr.org/listen.pls">MP3/iTunes</a>
					<span class="pipe">|</span>
					<a href="mms://kpcclive1.publicradio.org">Windows Media</a></span>
              </div>
			</div>
          
			<div id="jquery_jplayer_1" class="jp-jplayer"></div>
			<div id="jp_container_1" class="jp-audio">
				<div class="jp-type-single clearfix">

					<!-- put bar-close first so it floats right properly when the widget switches to modal 
						 On the normal layout, everything here is floated so it still gets pushed to the right properly -->

					<div class="section-left">
						<div class="jp-gui jp-interface clearfix">
							<ul class="jp-controls clearfix">
								<li><a href="javascript:;" class="jp-play">play</a></li>
								<li><a href="javascript:;" class="jp-pause">pause</a></li>
								<li><a href="javascript:;" class="jp-mute">mute</a></li>
								<li><a href="javascript:;" class="jp-unmute">unmute</a></li>
							</ul>
							<div class="jp-progress">
			  					<div class="jp-current-time"></div>
							</div> <!-- jp-progress -->
			  			</div> <!-- jp-gui -->
					</div> <!-- section-left -->

					<div class="section-mid" id="llschedule">

					</div> <!-- section-mid -->

				</div> <!-- jp-type-single -->
			</div> <!-- jp-audio -->
      </div>


	
  </div>
<div class="wrapper headlines" id="llcontent">
	<h6>Top Story</h6>

	<%= render_content @homepage.content[0], "offlead_asset" %>

	<h6>More Headlines</h6>
	
	<ul class="cbase">
	<%= render_content @homepage.content[1..-1], "headline" %>
	</ul>
</div>

  <footer>
    <div class="">
        <ul class="menu unstyled clearfix">
        	<li><a href="/terms/" target="_blank">Terms &amp; Conditions</a></li>
			<li><span class="pipe">|</span></li>
        	<li><a href="/privacy/" target="_blank">Privacy</a></li>
			<li><span class="pipe">|</span></li>
			<li style="border:none"><a href="/web_site_feedback" target="_blank">Website Feedback</a></li>
			<li><span class="pipe">|</span></li>
			<li>Copyright 2012 &copy; Southern California Public Radio</li>
		</ul>
    </div>
  </footer>

<% content_for :footerjss do %>
	llPlayer = new scpr.ListenLive.CurrentGen({
		schedule: 	<%= raw @schedule.to_json %>
	})
	
	$("#llcontent a").attr("target","_blank")
<% end %>

<%= render :partial => "shared/footer/footer_js" %>

</body>
</html>
