<% @PAGE_TITLE = "Awaiting ENCO" %>

<h1>ENCO Dashboard</h1>

<p>There are <%= @awaiting %> pieces of content with unmatched ENCO in the CMS.</p>

<h2>Past Seven Days:</h2>

<p><i>These pieces of content have specified ENCO numbers from the past seven days but have not yet been matched up with audio.</i></p>

<div class="cbase">
<% for audio in @this_week %>
  <div class="row">
    <div class="span4">
      <p><b><%= [audio.enco_date,audio.enco_number].join("/") %></b></p>    
      <p><%= link_to "View in Admin", audio.content.django_edit_url %></p>
    </div>
    <div class="span12">
      <% if audio.content.published? %>
        <%= render_content audio.content, "offlead_asset" %>
      <% else %>
        <b>Unpublished: <%= audio.content.headline %></b>
        <h3 style="margin-bottom: 12px">Status: <%= audio.content.status_text %></h3>
        <hr/>
      <% end %>
    </div>
  </div>
<% end %>
</div>
