<% @PAGE_TITLE = "Section Dashboard" %>

<h1><%= @PAGE_TITLE %></h1>

<h2>Homepage Content:</h2>

<div class="row-fluid">
<% for c in @homepage.content %>
  <div class="span5">
    <p><%= link_to c.content.obj_key, c.content.link_path %><br/><%= time_ago_in_words c.content.public_datetime %></p>
  </div>
<% end %>
</div>

<% for sec in @sections %>
  <h2><%= sec[:section].title %></h2>
  <div class="row-fluid">
    <div class="span6">
      <b>Latest Content:</b>
      <% for c in sec[:content] %>
        <p><%= link_to c.obj_key, c.link_path %><br/><%= time_ago_in_words c.public_datetime %></p>
      <% end %>
    </div>
    <% for cc in sec[:candidates][0..2] %>
      <div class="span6">
        <b><%= cc[:content].class %> (<%= cc[:metric].to_s %>)</b>
        <% if cc[:metric] == :comment %>
          <p>
            <%= link_to cc[:content].content.obj_key, cc[:content].content.link_path %>
            <br/><%= time_ago_in_words cc[:content].published_at %>
            <br/>Score: <%= number_with_precision cc[:score], :precision => 5 %>
          </p>
        <% else %>
          <p>
            <%= link_to cc[:content].obj_key, cc[:content].link_path %>
            <br/><%= time_ago_in_words cc[:content].public_datetime %>
            <br/>Score: <%= number_with_precision cc[:score], :precision => 5 %> 
            <% if cc[:metric] == :slideshow %>
              <br/>(<%= cc[:content].assets.count %> assets)
            <% end %>
          </p>        
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
