<h4>#<%=@record.id%>: <%= @record.summary %> (<%= Ticket::STATUS_TEXT[@record.status] %>)</h4>
<div class="row">
  <div class="span1">
    <strong>Reported by: </strong>
  </div>
  <div class="span11">
    <%= @record.user.name %>
  </div>
</div>

<div class="row">
  <div class="span1">
    <strong>Browser: </strong> 
  </div>
  <div class="span11">
    <%= @record.browser_info %>
  </div>
</div>

<div class="row">
  <div class="span1">
    <strong>Link: </strong>
  </div>
  <div class="span11">
    <%= link_to @record.link, @record.link %>
  </div>
</div>

<br />
<%= simple_format @record.description %>
<br />
<% if admin_user.is_superuser? || admin_user == @record.user %>
  <%= link_to "Edit", @record.admin_edit_path, class: "btn" %>
<% end %>
