<div id="offscreen-header" style="position:absolute; top:-10000px; width:0px; height:0px;">
	<nav id="news-mega" class="section-mega clearfix" style="display:none;">
		<%= render :partial => "shared/header/news" %>
	</nav>
	<nav id="arts-mega" class="section-mega clearfix" style="display:none;">
		<%= render :partial => "shared/header/arts" %>
	</nav>
	<nav id="programs-mega" class="section-mega clearfix" style="display:none;">
		<%= render :partial => "shared/header/programs" %>
	</nav>
	<nav id="events-mega" class="section-mega clearfix" style="display:none;">
		<%= render :partial => "shared/header/events" %>
	</nav>
	<nav id="support-mega" class="section-mega clearfix" style="display:none;">
		<%= render :partial => "shared/header/support" %>
	</nav>
	<nav id="about-mega" class="section-mega clearfix" style="display:none;">
		<%= render :partial => "shared/header/about" %>
	</nav>
</div>
