<%= form_block "Details" do %>
  <%= f.input :base, label: "Template", collection: Homepage::TEMPLATE_OPTIONS, selected: record.base || Homepages::TEMPLATE_OPTIONS[0]  %>
  <%= f.association :missed_it_bucket %>
<% end %>

<%= f.section "publishing" %>

<%= form_block "Content" do %>
  <div id="aggregator" class="aggregator"></div>
<% end %>

<% content_for :footerjs do %>
  <script>
    aggregator = new scpr.Aggregator("#aggregator", <%= raw record.content.includes(:content).map(&:content).to_json %>);
  </script>
<% end %>
