<h3>Resources</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Resource</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody class="list">
		<% @models.each do |model| %>
			<tr>
				<td><%= link_to model.name.titleize.pluralize, url_for([:admin, model]) %></td>
				<td>
					<%= link_to "New", url_for([:new, :admin, model.singular_route_key]), class: "btn btn-success" %>
					<%= link_to("List in Django", model.django_admin_url, class: "btn") if model.exists_in_django? %>
					
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>Extra Links</h3>
<table class="table table-striped">
	<thead>
		<th>Extra Link</th>
		<th>Info</th>
	</thead>
	<tbody class="list">
		<% @extra_links.each do |link| %>
			<tr>
				<td><%= link_to link[:title], link[:path] %></td>
				<td><%= link[:info] %></td>
			</tr>
		<% end %>
	</tbody>
</table>
