<%= form_block "Audio" do %>
  <% record.audio.build %>
  <%= f.simple_fields_for :audio do |af| %>
    <div class="audio-fields well" id="audio-fields-<%=af.object.id || "new"%>">
      <div class="row">
        <div class="span4">
          <div class="details" id="audio-<%=af.object.id || "new"%>-details">
            <%= af.input :description, input_html: { class: "tiny thin" } %>
            <%= af.input :byline, input_html: { class: "thin" } %>
            <%= af.input :position, input_html: { class: "thin" } %>
          </div>
        </div> <!-- span -->
        <div class="span4">
          <div class="audio-info">
            
            <% if af.object.persisted? %>
              <div class="existing-audio" id="audio-existing-<%=af.object.id%>">
                <!-- existing audio -->
                <% if af.object.mp3.present? %>
                  <h5 class="alert alert-success">Audio is Live</h5>
                  <%= link_to af.object.mp3.to_s.gsub(/#{Rails.application.config.scpr.media_root}/, ""), af.object.url %>
                <% else %>
                  <h5 class="alert alert-info">Awaiting Audio</h5>
                  <%= af.object.full_path %>
                <% end %>
              </div>
              
              <div class="audio-delete pull-right">
                <%= af.input :_destroy, as: :boolean, label: false, inline_label: "Delete?", wrapper_html: { class: "inline destroy-bool" } %>
              </div> <!-- audio-delete -->
            
              <%= af.input :enco_number, as: :hidden %>
              <%= af.input :enco_date, as: :hidden %>
            <% else %>
            
              <div class="new-audio">
                <!-- new audio -->
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#audio-new-enco" data-toggle="tab">Enco</a></li>
                  <li><a href="#audio-new-upload" data-toggle="tab">Upload</a></li>
                  <li><a href="#audio-new-direct" data-toggle="tab">Path</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="audio-new-enco">
                    <%= af.input :enco_number, as: :string, input_html: { class: "thin" } %>
                    <%= af.input :enco_date, input_html: { class: "thin" } %>
                  </div> <!-- enco -->
              
                  <div class="tab-pane" id="audio-new-upload">
                    <%= af.input :mp3, as: :file, label: false %>
                  </div> <!-- upload -->
              
                  <div class="tab-pane" id="audio-new-direct">
                    <%= af.input :mp3_path, hint: "/events/2012/10/01/your_cool_audio.mp3", input_html: { class: "thin" } %>
                  </div> <!-- path -->
                </div> <!-- tab-content -->
              </div>
              
            <% end %>
          </div> <!-- audio-info -->
        </div> <!-- span -->
      </div> <!-- row -->
    </div> <!-- audio-fields -->
  <% end %>
<% end %>
