<%= form_block "Publishing Status" do %>
  <%= f.input :status, collection: ContentBase.status_text_collect, selected: record.status || ContentBase::STATUS_DRAFT %>
  
  <div class="content-alarm-ui">
    <% if record.respond_to? :alarm %>
      <%= f.simple_fields_for :alarm, @record.alarm || @record.build_alarm do |a| %>
        <%= a.input :fire_at, wrapper_html: { class: "fire_at", style: "display: inline-block;"}, label: "Publish At", required: false, hint: "Schedule this record to publish on a future date. (optional)" %>
      
        <% if @record.alarm.persisted? %>
          <%= a.input :_destroy, as: :boolean, label: false, inline_label: "Clear Scheduled Publishing?", wrapper_html: { class: "inline destroy-bool" } %>
        <% end %>

        <div id="alarm_status" class="notification block"></div>
      <% end %>
    
      <% content_for :footerjs do %>
        <script type="text/javascript">
          $(function() {
            contentAlarmUI = new scpr.ContentAlarmUI({form: "#<%=f.options[:html][:id]%>"});
          });
        </script>
      <% end %>
    <% end %>
  </div>

  <%= extra %>
<% end %>
