<%= simple_form_for [:admin, news_story], html: { class: "form-horizontal" } do |f| %>
	<%= f.error_notification %>
	<fieldset>
		<legend>Full Details</legend>
		<%= f.input :headline, input_html: { class: "long" } %>
		<%= f.input :body %>
	</fieldset>
	
	<fieldset>
		<legend>Short Details</legend>
		<%= f.input :short_headline, input_html: { class: "long" } %>
		<%= f.input :teaser, as: :text, input_html: { rows: "5" } %>
	</fieldset>
	
	<fieldset>
		<%= f.input :slug %>
		<%= f.input :locale, collection: NewsStory::LOCALES, include_blank: true, selected: NewsStory::LOCALES[0] %>
		<%= f.input :source, collection: NewsStory::SOURCES, include_blank: true, selected: news_story.new_record? ? NewsStory::SOURCES[0] : nil %>
		<%= f.input :news_agency %>
		<%= f.input :status, collection: ContentBase.status_text_collect, selected: ContentBase.status_text_collect[1]  %>
	</fieldset>
	
	<div class="form-actions">
		<%= submit_tag "Save", class: "btn btn-primary" %>
	</div>
<% end %>
