<% page_title "News Stories" %>
<%= index_header NewsStory %>
<table class="table table-striped">
	<%= any_to_list? @news_stories, title: "News Stories" do %>
		<thead>
			<tr>
				<th>ID</th>
				<th>Headline</th>
				<th>Slug</th>
				<th>News Agency</th>
				<th>Audio?</th>
				<th>Status</th>
				<th>Published At</th>
			</tr>
		</thead>
		<tbody class="list">
			<% @news_stories.each do |news_story| %>
				<tr class="news-story">
					<td><%= news_story.id %></td>
					<td><%= link_to news_story.headline, edit_admin_news_story_path(news_story) %></td>
					<td><%= news_story.slug %></td>
					<td><%= news_story.news_agency %></td>
					<td>fixme</td>
					<td><%= news_story.status_text %></td>
					<td><%= format_date news_story.published_at, time: true %></td>
				</tr>
			<% end %>
		</tbody>
	<% end %>
</table>
<%= will_paginate @news_stories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
