<div class="cbase lead">
	<%= render_asset(content,"lead") %>

	<h1><%= link_to content.headline, content.link_path %></h1>
	<h4>
		<%= smart_date content %> | <%= byline content %> | <%= content.comment_count.pluralize("Comment") %>
	</h4>

	<p><%= strip_tags content.lede %></p>
</div>

<br class="clear: both"/>
<hr/>
