<div class="cbase lead">
	<%= render_asset(content,"lead6") %>

	<h1 class="story-headline"><%= link_to content.short_headline, content.link_path %></h1>
	<h4>
		<%= render_byline content %> 
		<%= smart_date_js content, "data-window" => "8h" %>
	</h4>

	<p><%=h strip_tags(content.teaser) %></p>
	
	<%= comment_count_for content %>
</div>

