<div class="cbase lead">
	<%= render_asset(content,"lead5") %>

	<h1 class="story-headline"><%= link_to content.short_headline, content.link_path %></h1>
	<h4>
		<%= render_byline content %> | <time class="smarttime" datetime="<%= content.published_at.strftime("%FT%R") %>" data-unixtime="<%= content.published_at.to_i %>"  data-timewindow="8h" data-relativefor="8h"></time>
	</h4>

	<p><%=h strip_tags(content.teaser) %></p>
	
	<%= link_to ( content.comment_count? ? "Comment (#{content.comment_count})" : "Comment on this story" ), content.link_path + "#comments", :class => "comment_link" %>
</div>

