<div class="cbase lead">
  <%= render_asset(content,"lead") %>

  <h1 class="story-headline"><%= link_to content.short_headline, content.link_path %></h1>
  <span class="byline">
    <%= render_byline content %>
    <%= smart_date_js content.published_at, "data-window" => "8h", "data-relative" => "2h" %>
  </span>

  <p><%= content.teaser.html_safe %></p>
  
  <%= comment_count_for content %>
</div>
