<div class="cbase offlead clearfix">
	<%= render_asset content, "thumb" %>
	<h3 class="story-headline"><%= link_to content.headline, content.link_path %></h3>
	<h4><%= render_byline content %> <%= smart_date content, :today => true, :today_template => "| %-I:%M%P" %></h4>

	<p><%= h strip_tags(content.lede) %></p>	
</div>
<hr/>