<div class="span8">
  <div class="cbase offlead clearfix">
    <h3 class="story-headline"><%= link_to content.short_headline, content.link_path %></h3>
    <span class="byline">
      <%= render_byline content %> 
      <%= smart_date_js content.published_at, "data-window" => "8h", "data-relative" => "2h" %>
    </span>

    <p><%= h strip_tags(content.teaser) %></p>
    <%= comment_count_for content %>
  </div>
</div> <!-- mq span8 -->
