<div class="cbase offlead clearfix">
	<%= render_asset content, "thumb" %>
	<h3 class="story-headline"><%= link_to content.short_headline, content.link_path %></h3>
	<h4>
		<%= render_byline content %> 
		<time class="smarttime" datetime="<%= content.published_at.strftime("%FT%R") %>" data-unixtime="<%= content.published_at.to_i %>" data-relativefor="8h" data-window=""></time>
	</h4>

	<p><%= h strip_tags(content.teaser) %></p>	
</div>
<hr/>