<div class="cbase offlead clearfix">
	<%= render_asset content, "thumb" %>
	<h3 class="story-headline"><%= link_to content.short_headline, content.link_path %></h3>
	<h4>
		<%= render_byline content %> 
		<%= smart_date_js content, "data-relativefor" => "8h" %>
	</h4>

	<p><%= h strip_tags(content.teaser) %></p>	
</div>
<hr/>