<div class="cbase offlead" data-vr-contentbox="">
  <div class="row-fluid">
    <div class="span4">
      <%= render_asset article, "thumbnail" %>
    </div>
    
    <div class="span20">
      <h3><%= link_to article.short_title, article.public_url %></h3>
      <span class="byline">
        <%= render_byline article.original_object %>
        <%= smart_date_js article.public_datetime, "data-window" => "8h", "data-relative" => "2h" %>
      </span>
      <p class="story-content clearfix"><%= article.teaser.html_safe %></p>
    </div> <!-- span -->
  </div> <!-- row -->
</div>
