<div class="cbase offlead" data-vr-contentbox="">
  <h3><%= link_to article.short_title, article.public_url %></h3>
  
  <div class="row-fluid">
    <% if article.assets.present? %>
      <div class="span6">
        <%= render_asset article, 'thumbnail' %>
      </div>
      <div class="span18">
    <% else %>
      <div class="span24">
    <% end %>
      <% if options[:show_byline] %>
        <span class="byline">
          <%= render_byline article.original_object %>
          <%= smart_date_js article.public_datetime, "data-window" => "8h", "data-relative" => "2h" %>
        </span>
      <% end %>
      
      <p class="story-content clearfix"><%= article.teaser.html_safe %></p>
    </div> <!-- span -->
  </div> <!-- row -->
</div>
