<article class="cbase offlead">			
<%= render_asset(content,"thumb") %>

<h3><%= link_to content.short_headline, content.link_path %></h3>
<h4><time class="smarttime" datetime="<%= content.published_at.strftime("%FT%R") %>" data-unixtime="<%= content.published_at.to_i %>"  data-window="8h"></time></h4>
<p class="story-content clearfix"><%= h strip_tags(content.teaser) %></p>
</article>