<div class="cbase lead">
  <div class="row-fluid">
    <div class="span12">
      <%= render_asset content, "lead" %>
    </div>
    <div class="span12">
      <h1 class="story-headline"><%= link_to content.short_headline, content.link_path %></h1>
      <span class="byline">
        <%= render_byline content %>
        <%= smart_date_js content, "data-relative" => "2h" %>
      </span>

      <p><%=h strip_tags(content.teaser) %></p>
      <%= comment_count_for content %>
    </div>
  </div> <!-- row-fluid -->
</div> <!-- cbase lead -->
