<div class="blog-about widget">
	<h6>About the blog: <%= @blog.name %></h6>
	<div class="row-fluid">
		<div class="span5">
			<nav class="connect">
				<%= link_to "RSS", @blog.feed_url, class: "rss with-icon" %>
			</nav>
		</div>
		<div class="span7">
			<p class="about"><%= @blog.description.html_safe %></p>
		</div>
	</div>
</div>

<% if @authors.present? %>
<div class="blog-about widget">
	<h6>Blog Host<%="s" if @authors.length > 1 %></h6>
	<% @authors.each do |author| %>
		<div class="host">
			<figure class="clearfix">
				<% if author.headshot.present? %>
					<div class="contentasset">
						<%= author.headshot.thumb.tag %>
					</div>
				<% end %>
		    	<figcaption>
					<h6 class="host-name"><%= link_to author.name, author %></h6>
					<p class="brief-bio">
						<%= author.short_bio %>
						<div><%= link_to("Follow #{author.twitter} on Twitter", author.twitter_url) if author.twitter.present? %></div>
					</p>
				</figcaption>
			</figure>
		</div>
	<% end %>
</div>
<% end %>
