<div class="query content-block">
  <article>
    <header>
      <%= render "/shared/cwidgets/social_tools", content: query, cssClass: "top horizontal" %>
      <h1 class="story-headline"><%= query.headline %></h1>
      <hr />
    </header>
  
    <div class="story-body storyleft">
      <%= render_asset query, "query" %>
      <%= query.body.html_safe %>

      <div id="pin-query-<%=query.pin_query_id%>"></div>
    </div>
  
    <footer>
    </footer>
  </article>
</div> <!-- query -->

<% content_for :footer do %>
  <script type="text/javascript" src="https://www.publicinsightnetwork.org/air2/js/pinform.js"></script>

  <script>
    var PIN_QUERY = {
        uuid:"<%=query.pin_query_id%>",
        baseUrl:"https://www.publicinsightnetwork.org/air2",
        opts: {
          showIntro: false
        }
    };

    $(document).ready(function() { PIN.Form.render(PIN_QUERY) });
  </script>
<% end %>
