<div class="query content-block">
  <article>
    <header>
      <%= render "/shared/cwidgets/social_tools", content: query, cssClass: "top horizontal" %>
      <h1 class="story-headline"><%= query.headline %></h1>
      <hr />
    </header>
  
    <div class="story-body storyleft">
      <%= render_asset query, "query" %>
      <%= query.body.html_safe %>

      <div id="pin-query-<%=query.pin_query_id%>" class="pin-query-container"></div>
    </div>
  
    <footer>
      <div class="pin-legal row-fluid">
        <div class="span12">
          <h3>Your Information</h3>
          <p>
            By completing this form, you become part of <a href="http://americanpublicmedia.publicradio.org/">American Public Media's</a> <a href="http://www.publicinsightnetwork.org/">Public Insight Network</a> (PIN). <a href="http://www.kpcc.org">Southern California Public Radio</a>, American Public Media and any other PIN newsroom listed on this form may contact you for help with current and future news coverage.
          </p>
          <p>
            This submission may be shared with journalists at <a href="http://www.kpcc.org">Southern California Public Radio</a>, <a href="http://americanpublicmedia.publicradio.org/">American Public Media</a> and other news organizations collaborating on reporting. It will not be used for marketing or fundraising purposes, and we will never quote you without first getting your explicit permission.
          </p>
          <p>
            If you give us permission to publish your submission, we may edit before sharing it on-air, in print or online. We reserve the right to reuse or republish your submission, or to withhold your submission from publication. You must be 13 years or older to provide a submission.
          </p>
        </div><!-- end #pin-legal-left -->
        <div class="span12">
          <h3>About the Public Insight Network</h3>
          <p>
            Founded in 2003, American Public Media's Public Insight Network is a platform for connecting trusted journalists with knowledgeable sources and for fostering journalistic excellence, innovation and collaboration. <a href="http://www.publicinsightnetwork.org/about">Learn more »</a>
          </p>
        
          <p>
            <a href="http://americanpublicmedia.org"><img src="https://www.publicinsightnetwork.org/img/apm-horiz.png" alt="American Public Media"></a><br />
            Through American Public Media, you may have opportunities to also inform reporting for <a href="http://marketplace.org/">Marketplace</a>, <a href="http://onbeing.org/">On Being</a>, <a href="http://americanradioworks.publicradio.org/">American RadioWorks</a> and other partner newsrooms.
          </p>
        </div><!-- end #pin-legal-right -->
      </div>
    </footer>
  </article>
</div> <!-- query -->

<% content_for :footer do %>
  <script type="text/javascript" src="https://www.publicinsightnetwork.org/air2/js/pinform.js"></script>

  <script>
  var PIN_QUERY; // The form JS needs to be aware of this variable.

  (function(){
    var container, pinCheck, queryId;

    container = $('.pin-query-container');
    container.spin();

    pinCheck = setInterval(function() {
      // If the form has shown up, then stop the spinner 
      // and then interval.
      if($(".pin-form").length) {
        container.spin(false);
        clearInterval(pinCheck);
      }
    }, 500);

    queryId   = "<%=query.pin_query_id%>";
    PIN_QUERY = {
        uuid: queryId,
        divId: "pin-query-"+queryId,
        baseUrl: "https://www.publicinsightnetwork.org/air2",
        opts: {
          showIntro: false,
          includeLegalFooter: false
        }
    };
  }());

  $(document).ready(function() {
    PIN.Form.render(PIN_QUERY);
  });
  </script>
<% end %>
