<div class="queries">
	<div class="section-hero">
		<div class="center-contents">
			<h2>Public Insight Network: Share your story</h2>
			<br>
			<p>Become a source for KPCC and share what you know about our world to help reporters understand what's really going on - and why it matters.</p>
		</div>
	</div>
	
	<div class="featured presentation" id="featured_queries">
		<h2 class="heading-block dark">Featured</h2>
		<div class="cards">
			<% @featured.each do |query| %>
					<div class="card" id="featured_query_<%=query.id%>">
						<h3><%= link_to query.headline, pij_query_path(query.slug) %></h3>
						<p><%= query.teaser %></p>
					</div>
			<% end %>
		</div>
	</div>
	
	<h2 class="heading-block dark">Questions we're asking now:</h2>
	<div class="news-queries">
		<%= render '/pij_queries/list', cssClass: "collapse", queries: @news %>
	</div>

	<hr />

	<h2 class="heading-block dark">Questions we're always asking:</h2>
	<div class="evergreen">
		<%= render '/pij_queries/list', queries: @evergreen %>
	</div>
</div> <!-- queries -->

<% content_for :footerjss do %>
	var featuredQueries = new scpr.Presentation({el: "#featured_queries"});
<% end %>
