<%= form_block "Details" do %>
  <%= f.input :title %>
  <%= f.input :path, hint: "The path that people will type in to get to the page." %>
  <%= f.input :redirect_to, hint: "OPTIONAL; The url or path to which this flatpage should redirect. If using a path, be sure to add a slash at the beginning." %>
  <%= f.input :description, hint: "What is this flatpage for? For internal use only.", input_html: { class: "tiny" } %>
<% end %>

<%= form_block "Display Options" do %>
  <%= f.input :is_public %>
  <%= f.input :template, collection: Flatpage::TEMPLATE_OPTIONS, include_blank: false %>
<% end %>

<%= form_block "Content" do %>
  <%= f.input :content, input_html: { class: "cke-editor-permissive" } %>

  <div class="alert alert-warning"><strong>Note</strong> The following two "Extra" fields are ignored when using the "No Template" option.</div>

  <%= f.input :extra_head, hint: "Extra JS/CSS to place in the HEAD tag of the page. NOTE: This is ignored when template is set to 'No Template'.", input_html: { class: "fixed-font short" } %>
  <%= f.input :extra_tail, hint: "Extra JS to place at the bottom of the page. NOTE: This is ignored when template is set to 'No Template'.", input_html: { class: "fixed-font short" } %>
<% end %>
