<div class="span8 more-news">
	<section class="more-news-title">
		<h6><%= link_to section[:section].category, section[:section].link_path %></h6>
		<span><%= link_to "More", section[:section].link_path %></span>
	</section>
	<section class="more-news-content">
		<%= render_content section[:top], "sec_lead" %>
		
		<ul class="additional-stories">
			<% for c in section[:more][0..2] %>
			<li><%= link_to c.headline, c.link_path %></li>
			<% end %>
		</ul>
	</section>
	<div class="related-content span3">
		<%= render_content section[:right], "sec_right" %>
	</div>
</div>