<div class="span8 more-news">
	<section class="more-news-title">
		<h6><%= link_to section[:section].category, section[:section].link_path %></h6>
		<span><%= link_to "More", section[:section].link_path %></span>
	</section>
	<section class="more-news-content">
		<%= render_content section[:content][0], "sec_lead" %>
		
		<ul class="additional-stories">
			<% for c in section[:content][1..3] %>
			<li><%= link_to c.headline, c.link_path %></li>
			<% end %>
		</ul>
	</section>
	<div class="related-content span3">
		<% if section[:right] && section[:right].is_a?(FeaturedComment) %>
			<%= featured_comment :comment => section[:right], :style => "sec_right" %>
		<% else %>
			<%= render_content section[:right], "sec_right" %>
		<% end %>
	</div>
</div>