<%= render '/shared/header/document_header' %>

<body>
<div class="viewport">
  <%= render "/shared/masthead/layout_header" %>
  
  <div id="no-sidebar" class="container-fluid main-content">
    <%= yield %>
  </div> <!-- no-sidebar -->
  
  <%= render "/shared/footer/layout_footer" %>
</div> <!-- viewport -->

<%= render "/shared/footer/document_footer" %>
