<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<title><%= @PAGE_TITLE ? @PAGE_TITLE + " | 89.3 KPCC" : "89.3 KPCC - Southern California Public Radio" %></title>
	<meta name="viewport" content="width=1134">
	<%= render "shared/header/header_js" %>
	<%= render "shared/header/opengraph" %>
	<%= csrf_meta_tags %>
</head>
<body>
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<div id="main" class="container">
	<%= yield :title_bar %>
	<div class="row">
		<article class="span8">
			<%= content_for?(:content) ? yield(:content) : yield %>
		</article>
		<div id="sidebar" class="span4">
			<% if content_for?(:sidebar) %> 
				<%= yield(:sidebar) %>
			<% else %>
				<%= yield :sidebar_top %>
				
				<div style="min-height:127px"><%= render "shared/widgets/oas", :ad_id => 'x01' %></div>
				
				<%= yield :sidebar_middle %>

				<%= render "shared/widgets/promo_membership_small", :ad_id => 'x13' %>
				<%= render "shared/widgets/newsletter_subscribe" %>	
				<%= render "shared/widgets/most_popular" %>
				<%= render "shared/widgets/oas", :ad_id => 'x02' %>
				<%= render "shared/widgets/facebook" %>
				<%= render "shared/widgets/promo_mobile" %>
				<%= render "shared/widgets/oas", :ad_id => 'x03' %>
			<% end %>
		</div>
	</div>
	<%= render "shared/audio/inpage_audio_player" %>
</div>
<%= render :partial => "shared/footer" %>
<%= render :partial => "shared/footer/footer_js" %>

</body>
</html>
