<!DOCTYPE html>
<html>
<head>
  <title><%= @PAGE_TITLE ? @PAGE_TITLE + " | 89.3 KPCC" : "89.3 KPCC - Southern California Public Radio" %></title>
  <%= render "shared/header/header_js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- MASTHEAD-->
	<%= render "shared/masthead" %>

	<div id="main" class="container">
		<div class="row">
			<article class="span8 storytitle">
				<%= yield %>
			</article>
			<div id ="sidebar" class="span4 storytitle">
				<div style="min-height:127px"><%= render "shared/widgets/oas", :ad_id => 'x01' %></div>
				<%= render "shared/widgets/most_popular" %>
				<%= render "shared/widgets/oas", :ad_id => 'x02' %>
				<%= render "shared/widgets/newsletter_subscribe" %>
				<%= render "shared/widgets/oas", :ad_id => 'x03' %>
				<%= render "shared/widgets/promo_mobile" %>
			</div>
		</div>
		<%= render "shared/audio/inpage_audio_player" %>
	</div>
	<%= render :partial => "shared/footer" %>
	<%= render :partial => "shared/footer/footer_js" %>
</body>
</html>

