<%= render 'shared/header/document_header' %>

<body>
<div class="viewport">
	<!-- MASTHEAD-->
	<%= render "shared/masthead" %>

	<div id="main" class="container-fluid main-content">
		<%= yield :title_bar %>
		<div class="row-fluid">
			<article class="span16 relative">
				<%= content_for?(:content) ? yield(:content) : yield %>
				<div class="vert-divider"></div>
			</article>
			<div class="span8">
				<div id="sidebar">
					<% if content_for?(:sidebar) %> 
						<%= yield(:sidebar) %>
					<% else %>
						<%= yield :sidebar_top %>
						<%= render "shared/widgets/oas", :ad_id => 'x01' %>
						<%= yield :sidebar_middle %>
						<%= render "shared/widgets/promo_membership_small", :ad_id => 'x13' %>
						<%= render "shared/widgets/newsletter_subscribe" %>
						<%= render "shared/widgets/most_popular" %>				
						<%= render "shared/widgets/oas", :ad_id => 'x02' %>
						<%= render "shared/widgets/facebook" %>
						<%= render "shared/widgets/promo_mobile" %>
						<%= render "shared/widgets/oas", :ad_id => 'x03' %>
					<% end %>
				</div> <!-- sidebar -->
			</div> <!-- span8 -->
		</div> <!-- row-fluid -->
		<%= render "shared/audio/inpage_audio_player" %>
	</div> <!-- container fluid main -->

	<%= render :partial => "shared/footer" %>
	<%= render :partial => "shared/footer/footer_js" %>
</div> <!-- viewport -->
</body>
</html>
