<%= render '/shared/header/document_header' %>

<body>
<div class="viewport">
  <%= render "/shared/masthead/layout_header" %>

  <div id="main" class="container-fluid main-content">
    <%= yield :title_bar %>
    <div class="row-fluid">
      <article class="span16 relative">
        <%= content_for?(:content) ? yield(:content) : yield %>
        <div class="vert-divider"></div>
      </article>
      <div class="span8">
        <div id="sidebar">
          <% if content_for?(:sidebar) %> 
            <%= yield(:sidebar) %>
          <% else %>
            <%= yield :sidebar_top %>
            <%= render "/shared/ads/oas", ad_id: 'x01' %>
            <%= yield :sidebar_middle %>
            <%= render "/shared/ads/dfp", ad_key: :membership_sidebar %>                        
            <%= render "/shared/widgets/newsletter_subscribe" %>
            <%= render "/shared/widgets/most_popular" %>       
            <%= render "/shared/ads/oas", ad_id: 'x02' %>
            <%= render "/shared/ads/dfp", ad_key: :sidebar_house_promo %>
            <%= render "/shared/ads/oas", ad_id: 'x03' %>
          <% end %>
        </div> <!-- sidebar -->
      </div> <!-- span8 -->
    </div> <!-- row-fluid -->
    <%= render "/shared/audio/inpage_audio_player" %>
  </div> <!-- container fluid main -->

  <%= render "/shared/footer/layout_footer" %>
</div> <!-- viewport -->

<%= render "/shared/footer/document_footer" %>
