<!DOCTYPE html>
<html>
<head>
  <title><%= @PAGE_TITLE ? @PAGE_TITLE + " | 89.3 KPCC" : "89.3 KPCC - Southern California Public Radio" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= render "shared/header/header_js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<div id="main" class="container">
	<div class="row">
		<article class="span8">
			<div class="row">
				<div class="span2">&nbsp;</div>
				<div id="blog-masthead" class="span6">
					<h2><span class="blue"><%= link_to @blog.name, blog_path(@blog.slug) %></span></h2>
				</div>
			</div>
			<div class="row">
				<div class="span8 storytitle">
					<div class="row">
						<div class="span2">
							<%= yield :entrydate %>
						</div>
						<div class="span6">
							<%= yield :body %>
						</div>
					</div>
				</div>
			</div>
		</article>
		<div id ="sidebar" class="span4">
			<div style="min-height:127px"><%= render "shared/widgets/oas", :ad_id => 'x01' %></div>
			<%= render "shared/widgets/blog_about" %>
			<%= render :partial => "shared/cwidgets/recent_posts" %>
			<%= render "shared/widgets/oas", :ad_id => 'x02' %>
			<%= render "shared/widgets/most_popular" %>
			<%= render "shared/widgets/oas", :ad_id => 'x03' %>
			<%= render "shared/widgets/promo_mobile" %>
		</div>
	</div>
</div>
<%= render :partial => "shared/footer" %>
<%= render :partial => "shared/footer/footer_js" %>
</body>
</html>