<% content_for :content do %>
	<div class="blog-masthead">
		<div class="row-fluid">
			<div class="span24 mq-solo-span">
				<h2 class="blog-header <%=@blog.slug%>"><%= link_to @blog.name + @BLOGTITLE_EXTRA.to_s, blog_path(@blog.slug) %></h2>
			</div>
		</div>
	</div>

	<%= content_for?(:blog_content) ? yield(:blog_content) : yield %>
<% end %>

<% content_for :sidebar_middle do %>
	<%= render "shared/widgets/blog_about" %>
	<%= render "blogs/recent_posts", blog: @blog %>
	<%= render "shared/widgets/missed_it_bucket", object: @blog %>
<% end %>

<%= render :template => "layouts/application" %>