<% content_for :content do %>
	<div class="blog-masthead">
		<div class="row-fluid">
			<div class="span6 hidden-reader">&nbsp;</div>
			<div class="span18 mq-solo-span">
				<h2><%= link_to @blog.name, blog_path(@blog) %></h2>
			</div>
		</div>
	</div>

	<%= content_for?(:blog_content) ? yield(:blog_content) : yield %>
<% end %>

<% content_for :sidebar_middle do %>
	<%= render "shared/widgets/blog_about" %>
	<%= render :partial => "blogs/recent_posts" %>
	<%= render "shared/cwidgets/missed_it_bucket", object: @blog %>
<% end %>

<%= render :template => "layouts/application" %>