<!DOCTYPE html>
<html>
<head>
  <title>89.3 KPCC</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= render "shared/header/header_js" %>


  <%= csrf_meta_tags %>
</head>
<body>
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<div id="main" class="container">
	<div class="row">
		<article class="span8 storytitle">
			<div class="row">
				<div class="span2">
					<%= render "shared/widgets/story_tools", :cssClass => '' %>
				</div>
				<div class="span6">
					<%= yield %>
					<%= render "shared/widgets/related_articles" %>
					<%= render "shared/widgets/pij_query" %>
					<%= render "shared/widgets/story_tools", :cssClass => 'bottom' %>
					<%= render "shared/widgets/author_info" %>
				</div>
			</div>
			<%= render "shared/comments" %>
		</article>
		<div id ="sidebar" class="span4 storytitle">
			<%= render "shared/widgets/oas", :ad_id => 'x01' %>
			<%= render "shared/widgets/most_popular" %>
			<%= render "shared/widgets/oas", :ad_id => 'x02' %>
			<%= render "shared/widgets/oas", :ad_id => 'x03' %>
		</div>
	</div>
</div>

</body>
</html>