<% content_for :content do %>  
  <div class="blog-masthead">
    <div class="row-fluid">
      <div class="span24 mq-solo-span">
        <h2 class="blog-header">
          <div class="blog-logo large <%=@blog.slug%>">
            <%= link_to @blog.name, @blog.link_path %>
          </div>
          <div class="extra">
            <%= link_to @BLOGTITLE_EXTRA.to_s, @blog.link_path %>
          </div>
        </h2>
        <p class="blog-tagline"><%= @blog.teaser.html_safe %></p>
      </div>
    </div>
  </div>

  <%= content_for?(:blog_content) ? yield(:blog_content) : yield %>
<% end %>

<% content_for :sidebar_middle do %>
  <div class="blog-about widget">
    <h6>About the blog: <%= @blog.name %></h6>
    <div class="row-fluid">
      <div class="span10">
        <nav class="connect">
          <%= link_to("RSS", @blog.feed_url, class: "rss with-icon") if @blog.feed_url.present? %>
          <%= link_to("Facebook", @blog.facebook_url, class: "facebook with-icon") if @blog.facebook_url.present? %>
          <%= link_to("@#{@blog.twitter_handle}", twitter_profile_url(@blog.twitter_handle), class: "twitter with-icon") if @blog.twitter_handle.present? %>
        </nav>
      </div>
      <div class="span14">
        <p class="about"><%= @blog.description.html_safe %></p>
      </div>
    </div>
  </div>

  <div class="blog-archive widget blog">
    <h6>Browse the Archive</h6>
    <div class="archive-select" id="archive">
      <p>
        <%= form_tag blog_process_archive_select_path(@blog.slug), id: "archive_date_select", class: "archive-date-select" do %>
          <%= date_select 'archive', 'date', 
            :order      => [:month, :year], 
            :start_year => @blog.created_at.year, 
            :end_year   => Time.now.year %>
          <%= submit_tag "Go", class: "btn" %>
        <% end %>
      </p>
    </div>
  </div>

  <% if @blog.authors.present? %>
    <div class="blog-about widget">
      <h6>Blog Host<%= 's' unless @blog.authors.length == 1 %></h6>
      <% @blog.authors.each do |author| %>
        <div class="host">
          <figure class="clearfix">
            <% if author.headshot.present? %>
              <div class="contentasset">
                <%= author.headshot.thumb.tag %>
              </div>
            <% end %>
              <figcaption>
              <h6 class="host-name"><%= link_to author.name, bio_path(author.slug) %></h6>
              <p class="brief-bio">
                <%= author.short_bio %>
                <div><%= link_to("Follow #{author.twitter} on Twitter", author.twitter_url) if author.twitter.present? %></div>
              </p>
            </figcaption>
          </figure>
        </div>
      <% end %>
    </div>
  <% end %>


  <%= render "/blogs/recent_posts", blog: @blog %>
  <%= render "/shared/widgets/missed_it_bucket", object: @blog %>
<% end %>

<% add_to_page_title @blog.name + @BLOGTITLE_EXTRA.to_s %>
<%= render template: "/layouts/application" %>
