<!DOCTYPE html>
<html>
<head>
  <title>89.3 KPCC</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= render "shared/header/header_js" %>


  <%= csrf_meta_tags %>
</head>
<body>
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<div id="main" class="container">
	<div class="row">
		<article class="span8">
			<div class="row">
				<div class="span2">&nbsp;</div>
				<div id="blog-masthead" class="span6">
				<!--	<%= image_tag("blogs/debord_report.png") %> -->
					<h2>The <span class="blue">DeBord Report</span></h2> 
				</div>
			</div>
			<div class="row">
				<div class="span8 storytitle">
					<div class="row">
						<div class="span2">
							<%= yield :entrydate %>
							<%= render "shared/widgets/story_tools", :cssClass => 'side' %>
							<%= render "shared/widgets/comment_count", :cssClass => 'left-side' %>
						</div>
						<div class="span6">
							<%= yield :body %>
							<%= render "shared/widgets/related_articles" %>
							<%= render "shared/widgets/story_tools", :cssClass => 'bottom' %>
							<%= render "shared/widgets/next_prev" %>
							<%= render "shared/comments", :cssClass => '' %>
						</div>
					</div>
				</div>
			</div>
		</article>
		<div id ="sidebar" class="span4">
			<%= render "shared/widgets/oas", :ad_id => 'x01' %>
			<%= render "shared/widgets/blog_about" %>
			<%= render "shared/widgets/host" %>
			<%= render "shared/widgets/oas", :ad_id => 'x02' %>
			<%= render "shared/widgets/recent_posts" %>
			<%= render "shared/widgets/oas", :ad_id => 'x03' %>
		</div>
	</div>
</div>

</body>
</html>