<!DOCTYPE html>
<html>
<head>
  <title><%= @blog.name %> | 89.3 KPCC</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= render "shared/header/header_js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<div id="main" class="container">
	<div class="row">
		<article class="span8">
			<div class="row">
				<div class="span2">&nbsp;</div>
				<div id="blog-masthead" class="span6">
					<h2><span class="blue"><%= link_to @blog.name, blog_path(@blog.slug) %></span></h2>
				</div>
			</div>
			<div class="row">
				<div class="span8 storytitle">
					<% for entry in @entries %>
						<div class="row">
							<div class="span2">
								<div class="date">
									<p><%= smart_date entry %></p>
									<%= render "shared/cwidgets/social_tools", :cssClass => 'side', :content => entry %>
									<%= render "shared/cwidgets/comment_count", :cssClass => 'left-side', :content => entry %>
								</div>
							</div>
							<div class="span6">
								<h1 class="story-headline"><%= link_to entry.title, entry.link_path %></h1>
								<p class="byline"><%= render_byline entry %></p>
								<%= render_asset entry, "blog" %>
								<%= raw entry.content %>
							</div>
						</div>
					<% end %>
					<div class="row">
						<div class="span6 offset2">
							<%= will_paginate @entries, :page_links => false %>
						</div>
					</div>
				</div>
			</div>
		</article>
		<div id ="sidebar" class="span4">
			<%= render "shared/widgets/oas", :ad_id => 'x01' %>
			<%= render "shared/widgets/blog_about" %>
			<%= render :partial => "shared/cwidgets/recent_posts" %>
			<%= render "shared/widgets/oas", :ad_id => 'x02' %>
			<%= render "shared/widgets/most_popular" %>
			<%= render "shared/widgets/oas", :ad_id => 'x03' %>
			<%= render "shared/widgets/promo_mobile" %>
		</div>
	</div>
</div>
<%= render :partial => "shared/footer" %>
<%= render :partial => "shared/footer/footer_js" %>
</body>
</html>