<% content_for :content do %>
  <%= render "/shared/widgets/my_ballot" if @blog.slug == "politics" %> <%# NOOOOOOOOOO %>
  
  <div class="blog-masthead">
    <div class="row-fluid">
      <div class="span24 mq-solo-span">
        <h2 class="blog-header">
          <div class="blog-logo large <%=@blog.slug%>">
            <%= link_to @blog.name, blog_path(@blog.slug) %>
          </div>
          <div class="extra">
            <%= link_to @BLOGTITLE_EXTRA.to_s, blog_path(@blog.slug) %>
          </div>
        </h2>
        <p class="blog-tagline"><%=@blog.teaser%></p>
      </div>
    </div>
  </div>

  <%= content_for?(:blog_content) ? yield(:blog_content) : yield %>
<% end %>

<% content_for :sidebar_middle do %>
  <%= render "shared/widgets/blog_about" %>
  <%= render "blogs/recent_posts", blog: @blog %>
  <%= render "shared/widgets/missed_it_bucket", object: @blog %>
<% end %>

<%= render :template => "layouts/application" %>
