<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<title><%= @PAGE_TITLE ? @PAGE_TITLE + " | 89.3 KPCC" : "89.3 KPCC - Southern California Public Radio" %></title>
	<%= render "shared/header/header_js" %>
	<%= render "shared/header/opengraph" %>
	<%= csrf_meta_tags %>
</head>
<body>
<div class="viewport">
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<div id="main" class="container">
	<div class="row">
		<%= yield :masthead if content_for? :masthead %>
		<article class="span8 offset2" style="min-height: 400px">
			<%= content_for?(:content) ? yield(:content) : yield %>
		</article>
	</div>
</div>
<%= render :partial => "shared/footer/footer" %>
<%= render :partial => "shared/footer/footer_js" %>
</div>
</body>
</html>
