<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  	<title>89.3 KPCC - Southern California Public Radio</title>
  	<%= render "shared/header/header_js" %>
	<%= render "shared/header/opengraph" %>
  	<%= csrf_meta_tags %>
</head>
<body>
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<!-- BROADCAST BAR -->
<%= render "shared/broadcast_bar" %>

<div id="main" class="container">
	<div class="row">
		<section class="span8">
			<%= yield %>
		</section>

		<div id="sidebar-top" class="span4">
			<div style="min-height:127px"><%= render "shared/widgets/oas", :ad_id => 'x01' %></div>
			<%= render "shared/widgets/promo_membership_small", :ad_id => 'x13' %>
			<%= render "shared/widgets/newsletter_subscribe" %>	
			<!-- div class="ad widget" style="border-bottom: 1px solid #E0E0E0;padding-bottom: 16px;">
				<img src="http://media.scpr.org/assets/images/campaigns/2012/billboard_ideas_large.png" alt="" />
			</div -->
			<%= render "shared/widgets/most_popular" %>			
		</div>
		<div class="span12 top-half">&nbsp;</div>
	</div>
	<div class="row">
		<section class="span8 more-news-container">
			<%= yield :lower %>
		</section>
		<div id="sidebar-bottom" class="span4">
			<%= render "shared/widgets/oas", :ad_id => 'x02' %>
			<%= render "shared/widgets/facebook" %>		
			<%= render "shared/widgets/promo_mobile" %>
			<%= render "shared/widgets/oas", :ad_id => 'x03' %>
		</div>
	</div>
	<br class="clearfix" />	
	</div>
</div>
<%= render :partial => "shared/footer" %>
<%= render :partial => "shared/footer/footer_js" %>

</body>
</html>
