<%= render '/shared/header/document_header' %>

<body>

<!--
Doubleclick tracking for Take Two marketing campaign
Activity name of this tag: SCPR Homepage~IP133548
URL of the webpage where the tag is expected to be placed: http://www.scpr.org/
Creation Date: 07/31/2013
-->

<script type="text/javascript">
  var axel = Math.random() + "";
  var a = axel * 10000000000000;

  document.write('<iframe src="http://4226176.fls.doubleclick.net/activityi;src=4226176;type=ip133096;cat=scprh355;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>

<noscript>
  <iframe src="http://4226176.fls.doubleclick.net/activityi;src=4226176;type=ip133096;cat=scprh355;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: OK to remove after 11/30/2013 -->

<div class="viewport">
  <!-- MASTHEAD-->
  <%= render "/shared/masthead/layout_header" %>

  <%= render "/shared/ads/dfp", ad_key: :membership_leaderboard %>

  <!-- BROADCAST BAR -->
<% if @schedule_current.present? %>
<%= cache ["broadcastbar", "v2", @schedule_current, @schedule_current.starts_at.to_i, @schedule_current.program] do %>

<% present @schedule_current, BroadcastBarPresenter do |p| %>
  <div class="broadcast-bar <%=p.headshot_class%>" id="broadcast-bar">
    <div class="bb-inner-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12" id="bb-current-program">
            <div class="current program">


            <% if p.is_for_featured_program? %>
              <a href="<%= p.public_url %>" class="headshot <%= p.program_slug %>">&nbsp;</a>
            <% end %>
        

              <div class="program-info <%= p.program_slug %>">
                <a href="<%= p.public_url %>" class="show-title <%= p.modal_class %>" data-modal-id="<%= p.toggler_id %>"><%= p.title %></a>
                <span class="show-time"><%= p.start_time %> - <%= p.end_time %></span>
              </div> <!-- program-info -->
      

            <!-- Modal: For recurring slots with episodes which feature episodes -->
            <% if p.show_modal? && (episode = p.program.episodes.published.first) %>
              <div class="modal-container">

              <%= modal("episode-guide", modal_id: "episode-guide") do %>
                <h6><%= link_to episode.headline, episode.public_path, :class => 'track-event', :data => {'ga-category' => 'Broadcast Bar', 'ga-action' => 'Episode Guide', 'ga-label' => 'Current Episode'} %></h6>
                <%= render_asset episode, 'thumbnail' %>

                <!-- Segments -->
                <ul class="cbase">

                <% episode.segments.published.each_with_index do |segment, i| %>
                  <li>
                    <h5 class="headline"><%= link_to segment.short_headline, segment.public_path, :class => 'track-event', :data => {'ga-category' => 'Broadcast Bar', 'ga-action' => 'Episode Guide', 'ga-label' => "#{i==0 ? 'Lead' : 'Offlead'} Segment"} %></h5>
                    <%= comment_count_for segment %>
                  </li>
                <% end %>

                  <li class="more"><a href="<%= p.program.public_path %>">More <%= p.program.title %></a></li>
                </ul>
              <% end %><%# modal %>

              </div> <!-- modal-container -->
            <% end %><%# show_modal? %>
            <!-- end Modal -->


            </div> <!-- current program -->
          </div> <!-- span -->
<% end %> <%# presenter %>

      <% if @schedule_next %>
        <% present @schedule_next, BroadcastBarPresenter do |p| %>

          <div class="span12" id="bb-next-program">
            <div class="next program">
              <div class="program-info">
                <a href="<%= p.public_url %>" class="show-title"><%= p.title %></a>
                <span class="show-time"><%= p.start_time %> - <%= p.end_time %></span>
              </div> <!-- program-info -->
            </div> <!-- next program -->
          </div> <!-- span -->

        <% end %><%# presenter %>
      <% end %> <%# next_slot %>

        </div> <!-- row-fluid -->
      </div> <!-- container-fluid -->
    </div> <!-- bb-inner-container -->
  </div> <!-- broadcast-bar -->

<% end %> <%# cache %>
<% end %><%# present? %>


  <%= yield :hero_roadblock %>

  <div id="main" class="container-fluid main-content">
    <section class="homepage-top">
      <div class="row-fluid">
        <section class="span16 relative">
          <%= yield %>
          <div class="vert-divider"></div>
        </section>
        
        <div class="span8">
          <div id="sidebar-top">
            <%= render "/shared/ads/oas", ad_id: 'x01' %>
            <%= render "/shared/ads/dfp", ad_key: :membership_sidebar %>
            <%= render "/shared/widgets/newsletter_subscribe" %>
            <%= render "/shared/widgets/most_popular" %>
            <%= render "/shared/ads/dfp", ad_key: :homepage_house_promo %>
          </div> <!-- sidebar-top -->
        </div> <!-- span8 -->
      </div> <!-- row-fluid -->
      
      <%= yield :missed_it %>
    </section> <!-- homepage-top -->
    
    <section class="homepage-bottom">
      <div class="row-fluid">
        <div class="span16 relative">
          <section class="more-news-container">
            <%= yield :lower %>
          </section>
          <div class="vert-divider"></div>
        </div> <!-- span16 -->
        <div class="span8">
          <div id="sidebar-bottom">
            <%= render "/shared/ads/oas", ad_id: "x02" %>
            <%= render "/shared/ads/dfp", ad_key: :sidebar_house_promo %>
            <%= render "/shared/ads/oas", ad_id: "x03" %>
            <%= render "/shared/widgets/archive" %>
          </div> <!-- sidebar bottom -->
        </div> <!-- span8 -->
      </div> <!-- row fluid -->
    </section> <!-- homepage-bottom -->
    
  </div> <!-- main container-fluid -->

  <%= render "/shared/footer/layout_footer" %>



  <div class="modal wide hide" id="homepageModal">
    <div class="modal-body">
      <%= render "/shared/ads/dfp", ad_key: :membership_lightbox, widget: false %>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="http://scprcontribute.publicradio.org/" class="btn primary">Contribute Now</a>
    </div>
  </div>

<% content_for :footer do %>
<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    //check if DFP is loading in a line item
    if($("#<%= DFP_ADS[:membership_lightbox][:id] %> iframe").contents().find("img").length > 0) {
      // launch modal
      $('#homepageModal').modal();
    }
  }, 1000);
});
</script>
<% end %>

</div> <!-- viewport -->

<%= render "/shared/footer/document_footer" %>
