<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  	<title>89.3 KPCC - Southern California Public Radio</title>
  	<%= render "shared/header/header_js" %>
	<%= render "shared/header/opengraph" %>
  	<%= csrf_meta_tags %>
</head>
<body>
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<!-- BROADCAST BAR -->
<%= render "shared/broadcast_bar" %>

<div class="container-fluid">
	<div id="main">
		<section class="homepage-top">
			<div class="row-fluid">
				<section class="span8">
					<%= yield %>
				</section>

				<div class="span4">
					<div id="sidebar-top">
						<div class="mq-row-fluid advertisements">
							<div class="span6"><div style="min-height:127px"><%= render "shared/widgets/oas", :ad_id => 'x01' %></div></div>
							<div class="span6"><%= render "shared/widgets/promo_membership_small", :ad_id => 'x13' %></div>
						</div>
						<div class="mq-row-fluid">
							<div class="span6"><%= render "shared/widgets/newsletter_subscribe" %></div>
							<!-- div class="ad widget" style="border-bottom: 1px solid #E0E0E0;padding-bottom: 16px;">
								<img src="http://media.scpr.org/assets/images/campaigns/2012/billboard_ideas_large.png" alt="" />
							</div -->
							<div class="span6"><%= render "shared/widgets/most_popular" %></div>		
						</div>	
					</div> <!-- sidebar-top -->
				</div> <!-- span4 -->
				<div class="span12 top-half">&nbsp;</div>
			</div> <!-- row fluid -->
		</section> <!-- homepage-top -->
		
		<section class="homepage-bottom">
			<div class="row-fluid">
				<div class="span8">
					<section class="more-news-container">
						<%= yield :lower %>
					</section>
				</div> <!-- span8 -->
				<div class="span4">
					<div id="sidebar-bottom">
						<div class="mq-row-fluid advertisements">
							<div class="span6"><%= render "shared/widgets/oas", :ad_id => 'x02' %></div>
							<div class="span6"><%= render "shared/widgets/facebook" %></div>	
						</div>
						<div class="mq-row-fluid advertisements">
							<div class="span6"><%= render "shared/widgets/promo_mobile" %></div>
							<div class="span6"><%= render "shared/widgets/oas", :ad_id => 'x03' %></div>
						</div>
					</div> <!-- sidebar bottom -->
				</div> <!-- span4 -->
			</div> <!-- row fluid -->
		</section> <!-- homepage-bottom -->
	</div> <!-- main -->
</div> <!-- container-fluid -->
<%= render :partial => "shared/footer" %>
<%= render :partial => "shared/footer/footer_js" %>

</body>
</html>
