<!DOCTYPE html>
<html>
<head>
  <title>89.3 KPCC</title>
  <%= render "shared/header/header_js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<div id="main" class="container">
	<div class="row">
		<div class="span12">
			<%= render "shared/hot_topics" %>
		</div>
	</div>
	<div class="row">
		<section class="span8">
			<%= yield %>
		</section>
		<div id ="sidebar" class="span4">
			<%= render "shared/widgets/oas", :ad_id => 'x01' %>
			<%= render "shared/widgets/most_popular" %>
			<%= render "shared/widgets/oas", :ad_id => 'x02' %>
			<%= render "shared/widgets/oas", :ad_id => 'x03' %>
		</div>
	</div>
</div>

<%= render :partial => "shared/footer/footer_js" %>
</body>
</html>
