<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  	<title>89.3 KPCC - Southern California Public Radio</title>
	<meta name="viewport" content="width=1134">
	
  	<%= render "shared/header/header_js" %>
	<%= render "shared/header/opengraph" %>
  	<%= csrf_meta_tags %>
</head>
<body>
<div class="viewport">
	<!-- MASTHEAD-->
	<%= render "shared/masthead" %>

	<!-- BROADCAST BAR -->
	<%= render("shared/broadcast_bar", current: @schedule_current) if @schedule_current.present? %>

	<div id="main" class="container-fluid main-content">
		
		<section class="homepage-top">
			<div class="row-fluid">
				<section class="span16 relative">
					<%= yield %>
					<div class="vert-divider"></div>
				</section>
				
				<div class="span8">
					<div id="sidebar-top">
						<%= render "shared/widgets/oas", :ad_id => 'x01' %>
						<%= render "shared/widgets/promo_membership_small", :ad_id => 'x13' %>                        
						<%= render "shared/widgets/newsletter_subscribe" %>
						<!-- div class="ad widget" style="border-bottom: 1px solid #E0E0E0;padding-bottom: 16px;">
							<img src="http://media.scpr.org/assets/images/campaigns/2012/billboard_ideas_large.png" alt="" />
						</div -->
						<%= render "shared/widgets/most_popular" %>
					</div> <!-- sidebar-top -->
				</div> <!-- span8 -->
			</div> <!-- row-fluid -->
		</section> <!-- homepage-top -->
	
		<section class="homepage-bottom">
			<div class="row-fluid">
				<div class="span16 relative">
					<section class="more-news-container">
						<%= yield :lower %>
					</section>
					<div class="vert-divider"></div>
				</div> <!-- span16 -->
				<div class="span8">
					<div id="sidebar-bottom">
						<%= render "shared/widgets/oas", :ad_id => 'x02' %>
						<%= render "shared/widgets/facebook" %>
                          
						<%= render "shared/widgets/promo_mobile" %>
						<%= render "shared/widgets/oas", :ad_id => 'x03' %>
						<%= render "shared/widgets/recent_videos" %>
					</div> <!-- sidebar bottom -->
				</div> <!-- span8 -->
			</div> <!-- row fluid -->
		</section> <!-- homepage-bottom -->
		
	</div> <!-- main container-fluid -->
	<%= render :partial => "shared/footer" %>
	<%= render :partial => "shared/footer/footer_js" %>
</div> <!-- viewport -->
</body>
</html>
