<% content_for :title_bar do %>
<div class="page-header program-masthead">
  <div class="row-fluid">
    <div class="span16" id="program-masthead-title">
      <div class="program-info<%= " headshot #{@program.slug}" if KpccProgram::Featured.include? @program.slug  %>">
        <h1 class="page-title"><%= link_to @program.title, program_path(@program.slug) %></h1>
        <div class="show-meta">
          <%= @program.airtime %>
          <% if @program.host.present? %>
            <br />with <%= @program.host %>
          <% end %>
        </div> <!-- show meta -->
      </div> <!-- program info -->
    </div>
    
    <div class="span8" id="program-masthead-support">
      <div class="support">
        <a class="<%= "small" if @program.title.length > 20 %>" href="http://scprcontribute.publicradio.org/">
          Support all the great programming on KPCC, including <%= @program.title %>.
        </a> 
      </div><!-- .support -->
    </div> <!-- span -->
  </div><!-- row -->
</div>
<% end %>

<% content_for :content do %>
  <%= yield %>
<% end %>

<% content_for :sidebar_middle do %>
  <% if @program.is_a? KpccProgram %>

    <% present @program, ProgramPresenter do |p| %>
      <section class="program-about widget">
        <h6>About <%= p.title %></h6>
        <div class="row-fluid">
          <div class="span10">
            <nav class="connect">
              <span class="title">Stay Connected</span>
              <%= link_to "Facebook", p.facebook_url, target: "_blank", class: "facebook with-icon" %>
              <%= link_to "Twitter", p.twitter_url, target: "_blank", class: "twitter with-icon" %>
              <%= link_to "Podcasts", p.podcast_url, target: "_blank", class: "podcast with-icon" %>
              <%= link_to "RSS", p.rss_url, target: "_blank", class: "rss with-icon"  %>
            </nav>
          </div>
          <div class="span14">
            <p class="about"><%= p.teaser %></p>
          </div>
        </div>
        <%= link_to "View Archived Episodes", program_path(p.slug, :anchor => "archive"), class: "archive with-icon" %>
      </section>
    <% end %>

    <%= render "/shared/widgets/missed_it_bucket", object: @program %>
    
    <% if @program.blog.present? %>
      <%= render '/blogs/recent_posts', blog: @program.blog, title: "From the Blog: #{@program.blog.name}" %>
    <% end %>
  <% end %>
<% end %>

<%= render template: "/layouts/application" %>
