<% content_for :content do %>
	<div class="row">
		<div class="span12 program-masthead">
			<div class="span8">
				<div class="row">
					<div class="span4 show-title">
						<h2><%= link_to @program.title, program_path(@program.slug) %></h2>
					</div>
					<div class="span4 show-meta <%= @program.slug %>">
						<div class="info">
							<%= @program.airtime %><br />
							with <%= @program.host %>
						</div>
					</div>
				</div> <!-- .row -->
			</div> <!-- .span8 -->
			<div class="span4">
				<div class="support">
					Support all the great programming on KPCC, including this show.
				</div> <!-- .support -->
			</div>
		</div> <!-- .program-masthead -->
	</div> <!-- .row -->

	<%= content_for?(:program_content) ? yield(:program_content) : yield %>
<% end %>

<%= render :template => "layouts/application" %>