<% content_for :title_bar do %>
<div class="page-header program-masthead">
	<div class="row-fluid">
		<div class="span5">
			<h1 class="page-title"><%= link_to @program.title, program_path(@program.slug) %></h1>
		</div>
		<div class="span3" id="program-masthead-headshot">
			<div class="show-meta headshot <%= @program.slug %>">
				<%= @program.airtime %><br />
				<% if @program.host.present? %>
					with <%= @program.host %>
				<% end %>
			</div>
		</div> <!-- span3 -->
		<div class="span4" id="program-masthead-support">
			<div class="support">
				<a class="<%= "small" if @program.title.length > 20 %>" href="http://scprcontribute.publicradio.org/">
					Support all the great programming on KPCC, including <%= @program.title %>.
				</a> 
			</div><!-- .support -->
		</div>
	</div><!-- row -->
</div>

<% end %>

<% content_for :content do %>
	<%= content_for?(:program_content) ? yield(:program_content) : yield %>
<% end %>

<% content_for :sidebar_middle do %>
	<% if @program.is_a? KpccProgram %>
		<%= render "shared/widgets/program_about", program: @program %>
	<% end %>
<% end %>

<%= render :template => "layouts/application" %>
