<!-- This layout should only be used for KPCC Programs. -->

<% content_for :title_bar do %>
<div class="page-header program-masthead">
  <div class="row-fluid">
    <div class="span16" id="program-masthead-title">
      <div class="program-info<%= " headshot #{@program.slug}" if @program.is_featured?  %>">
        <h1 class="page-title"><%= link_to @program.title, @program.public_url %></h1>
        <div class="show-meta">
          <%= @program.airtime %>
          <% if @program.host.present? %>
            <br />with <%= @program.host %>
          <% end %>
        </div> <!-- show meta -->
      </div> <!-- program info -->
    </div>
    
    <div class="span8" id="program-masthead-support">
      <div class="support">
        <a class="<%= "small" if @program.title.length > 20 %>" href="http://scprcontribute.publicradio.org/">
          Support all the great programming on KPCC, including <%= @program.title %>.
        </a> 
      </div><!-- .support -->
    </div> <!-- span -->
  </div><!-- row -->
</div>
<% end %>

<% content_for :content do %>
  <%= yield %>
<% end %>

<% content_for :sidebar_middle do %>
  <% present @program, ProgramPresenter do |p| %>
    <section class="program-about widget">
      <h6>About <%= p.title %></h6>
      <div class="row-fluid">
        <div class="span10">
          <nav class="connect">
            <span class="title">Stay Connected</span>
            <%= p.facebook_link %>
            <%= p.twitter_link %>
            <%= p.podcast_link %>
            <%= p.rss_link %>
          </nav>
        </div>
        <div class="span14">
          <p class="about"><%= p.description %></p>
        </div>
      </div>
      <%= link_to "View Archived Episodes", @program.public_path(anchor: "archive"), class: "archive with-icon" %>
    </section>
  <% end %>

  <% if bucket = @program.missed_it_bucket %>
    <%= render("/shared/widgets/missed_it_bucket", bucket: bucket) %>
  <% end %>

  <% if blog = @program.blog %>
    <%= render('/blogs/recent_posts', blog: blog, title: "From the Blog: #{blog.name}") %>
  <% end %>
<% end %>

<% add_to_page_title @program.title %>
<%= render template: "/layouts/application" %>
