<!DOCTYPE html>
<html>
<head>
  <title>KPCC</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= render "shared/header/header_js" %>


  <%= csrf_meta_tags %>
</head>
<body>
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<div class="container">
	<div class="row">
		<div class="span2">
			Left Rail
		</div>
		<div class="span6">
			<%= yield %>
		</div>
		<div class="span4">
			<%= render "shared/widgets/oas_position1" %>
		</div>
	</div>
</div>

</body>
</html>
