<!DOCTYPE html>
<html>
<head>
  <title>KPCC</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= render "shared/header/header_js" %>


  <%= csrf_meta_tags %>
</head>
<body>
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<div class="container">
	<div class="row">
		<div class="span8 storytitle">
			<div class="row">
				<div class="span2">
					<h5 style="color:#999;font-size:24px;font-weight:normal;">Local</h5>
				</div>
				<div class="span6">
					<%= yield :headline %>
				</div>
			</div>
			<div class="row">
				<div id="story-sidebar" class="span2">
					<%= render "shared/audio/story_audio" %>
					<%= render "shared/widgets/sharing_tools" %>
					<%= render "shared/widgets/story_media" %>
				</div>
				<div class="span6">
					<%= yield :body %>
					<%= render "shared/widgets/related_articles" %>
				</div>
				
			</div>
			<%= render "shared/comments" %>
		</div>
		<div id ="sidebar" class="span4">
			<%= render "shared/widgets/oas", :ad_id => 'x01' %>
			<%= render "shared/widgets/most_popular" %>
			<%= render "shared/widgets/oas", :ad_id => 'x02' %>
			<%= render "shared/widgets/oas", :ad_id => 'x03' %>
		</div>
	</div>
</div>

</body>
</html>
