<!DOCTYPE html>
<html>
<head>
  <title><%= @PAGE_TITLE ? @PAGE_TITLE + " | 89.3 KPCC" : "89.3 KPCC - Southern California Public Radio" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= render "shared/header/header_js" %>


  <%= csrf_meta_tags %>
</head>
<body class="dark-theme" id="multimedia">
<!-- MASTHEAD-->
<%= render "shared/masthead" %>

<div id="main" class="container">
	<div class="row">
		<div class="span2">&nbsp;</div>
		<article class="span8">
			<%= yield %>
			<%# render "shared/cwidgets/comments", :cssClass => 'multimedia muted' %>
		</article>
		<div class="span2">&nbsp;</div>
	</div>
	<div class="row">
		<div id ="sidebar" class="span12">
		</div>
	</div>
</div>
<%= render :partial => "shared/footer" %>
<%= render :partial => "shared/footer/footer_js" %>
</body>
</html>
