<%= render '/shared/header/document_header' %>

<% content_for :header_tag do %>
  <script>GA_googleAddAttr("section", "video");</script>
<% end %>

<body id="multimedia" class="dark-theme">
<div class="viewport">
  <!-- MASTHEAD-->
  <%= render "/shared/masthead" %>

  <div id="video" class="container-fluid main-content">
    <% if content_for? :wide_content %>
      <%= yield :wide_content %>
    <% else %>
      <div class="row-fluid">
        <div class="span4 hidden-reader">
          <a class="browse-all-videos modal-toggler" data-modal-id="videos_list">Browse All Videos</a>
      
          <%= modal("videos-list", modal_id: "videos_list") do %>
            <div class="row-fluid">
              <div class="span2">
                <button class="arrow left" id="previous-page" data-page="">&nbsp;</button>
              </div>
              <div class="span20">
                <div class="list">
                  <%# This is populated via ajax from videos.js.coffee %>
                </div>
              </div>
              <div class="span2 right-col">
                <button class="arrow right" id="next-page" data-page="">&nbsp;</button>
              </div>
            </div> <!-- row-fluid -->
            <div class="pages">&nbsp;</div>
          <% end %>
        </div> <!-- .span4 -->
    
        <article class="span16">
          <%= yield %>
      
          <% if any_to_list? @latest_videos %>
            <div class="multimedia latest-videos muted">
              <h3>
                Latest Videos
                <span class="more-link"><%= link_to "More Videos", video_list_path %></span>
              </h3>
              <div class="list">
                <div class="row-fluid">
                  <% @latest_videos.each do |video| %>
                    <% if video.assets.present? %>
                      <div class="span6">
                        <div class="video-thumb">
                          <%= render_asset video, "three_video" %>
                          <span class="title"><%= link_to video.short_headline, video.link_path %></span>
                        </div> <!-- video-thumb -->
                      </div>
                    <% end %>
                  <% end %>
                </div> <!-- row fluid -->
              </div> <!-- list muted -->
            </div> <!-- latest videos -->
          <% end %>
          <%= comments_for @video, cssClass: 'multimedia muted' %>
        </article>
    
        <div class="span4 hidden-reader">
          &nbsp;
        </div>
      </div> <!-- row fluid -->
    <% end %>
  </div> <!-- #video container fluid -->

  <% content_for :footer do %>
    <script>videoPage = new scpr.VideoPage();</script>
  <% end %>

  <%= render "/shared/footer/footer" %>
</div> <!-- viewport -->

<%= render "/shared/footer/document_footer" %>
